/* PESTAÑAS FLOTANTES DERECHA */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

a {
    color: #565656;
}
body {
    font-family: 'Roboto', sans-serif;
}
#wrapper {
    background: #fff;
}
.bg_gray {
    background-color: #f2f4f6;
}
.bg_gray.bg_mod {
    box-shadow: inset 0 45px #f58634;
}
.bienvenido-subheader {
    margin-top: 0px;
    line-height: 15px;
    padding-top: 4px;
}
#pestana_der {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 2px 0 7px rgba(0,0,0,0.3);
    padding: 0;
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 999;
    border-radius: 5px 0 0 5px;
}

#pestana_der li {
    cursor: pointer;
}
#pestana_der li a {
    border-radius: 0;
    border-right: 5px solid #f58634;
    color: #626262;
    display: block;
    font-size: 23px;
    height: 50px;
    padding: 5px;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    width: 50px;
    text-align: center;
}
.ttip_pd {
    background: none repeat scroll 0 0 #f9f3f1;
    color: #f58634;
    border: 1px solid #f58634;
    margin-top: -45px;
    font-weight: bold;
    padding: 14px 10px;
    position: absolute;
    right: 50px;
    text-align: center;
    display: none;
    white-space: nowrap;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.ttip_pd:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(208, 10, 19, 0);
    border-left-color: #565656;
    border-width: 5px;
    margin-top: -5px;
}
.ttip_pd {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.detail-header{
    font-size: 14px;
    color: #888888;
    overflow: hidden;
}
.detail-header .propiedad-detail{
    padding: 8px 6px;
    width: 40%;
    background: #eeeeee;
    border-right: 2px solid rgb(246,139,31);
    display: block;
    float: left;
    /*box-shadow: inset 0 -2px 0px 0px #d2c5c5;*/
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.detail-header .valor-detail{
    width: 60%;
    display: block;
    float: left;
    padding: 8px 6px;
    box-shadow: inset 0 0 0 1px #d6cbcb;
    border-top: 0px;
    min-height: 37px;
}
@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(200px);
    }
    40% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
    }
    60% {
        -webkit-transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes bounceInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(200px);
    }
    40% {
        opacity: 1;
        -moz-transform: translateX(-30px);
    }
    60% {
        -moz-transform: translateX(10px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    40% {
        opacity: 1;
        transform: translateX(-30px);
    }
    60% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

#pestana_der li:hover .bounceInRight {
    -webkit-animation-name: bounceInRight;
    -moz-animation-name: bounceInRight;
    animation-name: bounceInRight;
}
#pestana_der:hover a{
    width:50px;
}
#pestana_der li:hover a {
    color: #f58634;
    border-right: 5px solid #EEEEEE;
}
#pestana_der li:hover .ttip_pd {
    display:block;
}
#header-top {
    background: #f58634;
}
.header-box a:hover {
    color: #a3a3a3;
}
.header6 #inner-header .logo-container {
    margin-bottom: 0;
    margin-top: -2px;
}
.logo {
    margin: 0 0 15px;
    margin-top: 5px;
}
.header6 #main-nav-container {
    border-bottom: none;
}
#inner-header {
    margin-bottom: 5px;
    margin-top: 5px;
}
#header {
    background: #FFF;
    border-bottom: 4px solid #f58634;
}
/*.header-inner-right-wrapper {
    padding-top: 10px;
}*/
#slider-rev-container #mainSliderBanner img{
    width: 100%;
}
#mainSliderBanner .carousel-indicators li{
    border: 2px solid #f58634;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
#mainSliderBanner .carousel-indicators li.active{
    width: 18px;
    height: 18px;
}


.user-box, .transp-box {
    top: 11px;
    position: relative;
    padding-left: 55px;
}
.user-box .header-box-icon,
.transp-box .header-box-icon {
    width: 42px;
    height: 41px;
    top: 50%;
    left: 3px;
    margin-top: -18px;
}
.user-box .header-box-icon,
.transp-box .header-box-icon,
.contact-phones .header-box-icon {
    box-shadow: 5px 0px white, 6px 0px #d0d0d0;
    -webkit-box-shadow: 5px 0px white, 6px 0px #d0d0d0;
}
.header-box.user-box ul li,
.header-box.transp-box ul li {
    padding-left: 0;
}


.user-box .header-box-icon-earphones {
    background: url('../img/user-top.png') no-repeat center top;
}
.transp-box .header-box-icon-earphones {
    background: url('../img/trans-top.png') no-repeat center top;
}


#quick-access .quick-search-form .form-control {
    width: 229px;
}
#header-top {
    border-top: 4px solid #8e8e8e !important;
}
#header-top .header-link a {
    color: #DADADA;
}
.header-top-left {
    color: #FFF;
    font-size: 11px;
}
#header-top .header-link a:hover {
    color: #FFFFFF;
}
#header .dropdown-cart .dropdown-cart-menu {
    border-top: 3px solid #f58634;
}
#main-nav-container {
    background: #fff;
}
#main-nav-container #main-nav .menu li > ul li > ul li:hover > a {
    color: #FFFFFF;
    background: #f58634;
}
#main-nav-container #main-nav > .menu > li:hover > a{
    color: #e9a825;
    border-top: 2px solid #e9a825;
}
#main-nav-container #main-nav > .menu > li > a{
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
#main-nav-container #main-nav > .menu li a i{
    font-size: 1.3em;
    margin-right: 3px;
}
#main-nav > ul > li.dropdown.active > ul > li > a {
    background: none !important;
    color: #2d2620 !important;
    padding-left: 20px;
}
#main-nav > ul > li.dropdown.active > ul > li > a:hover {
    color: #e9a825 !important;
}

#header .dropdown-menu > li > a:hover,
#header .dropdown-menu > li > a:focus {
    background-color: #fff !important;
    color: #565656 !important;
}
.multilevel-menu li a,
.dropdown-menu li a {
    color: #333 !important;
}
.multilevel-menu li a:hover,
.dropdown-menu li a:hover {
    /*color: #ffffff !important;*/
}
.multilevel-menu li a:hover,
.multilevel-menu li:hover a,
.dropdown-menu li a:hover,
.dropdown-menu li a:hover a {
    /*color: #ffffff !important;
    background: #f58634 !important;*/
    border-radius: 0 !important;
    font-weight: 400;
    border-radius: 0;
}
#main-nav-container #main-nav .menu li a{
    width: 100%;
}
#main-nav-container #main-nav .menu li ul li,
#main-nav-container #main-nav .menu li ul li ul li {
    border-bottom: 1px solid #EDEDED !important;
}
#main-nav-container #main-nav .menu li ul,
#main-nav-container #main-nav .menu li ul li ul {
    background: #FFFFFF !important;
}
li.dropdown ul {
    border-bottom: none !important;
}
.multilevel-menu li i {
    color: #565656;
}
#main-nav-container #main-nav .menu li a {
    color: #2d2620;
    font-family: 'Oswald', sans-serif !important;
}

#main-nav-container.fixed {
    left: 0;
    -webkit-backface-visibility: hidden;
    width: 100%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    max-width: inherit;
    padding: 10px 0;
}
#main-nav-container #main-nav #responsive-nav ul li ul li {
    background: #eee;
}
.sidebar #category-filter.acc-nuestros-productos h3 {
    font: 400 15px/38px "Oswald",Arial,sans-serif !important;
    background: #eeeeee;
    padding: 5px 10px 5px 35px;
    letter-spacing: 1px;
    box-shadow: inset 25px 0px #f58634;
    border: 1px solid #f58634;
}
#category-filter h3 a {
    color: #313131 !important;
}
.accordion-btn {
    background-color: #f58634 !important;
    border: transparent !important;
    border-radius: 4px;
}
a.accordion-btn:after {
    left: 6px;
    top: -5px;
}
.content-title h2 span::after,
#footer h3 span:after {
    background: none;
}
#footer {
    background: #f3f3f3;
    border-top: 10px solid #f58634;
    color: #4e4e4e;
}
#footer a {
    color: #aaa;
}
#footer a:hover {
    color: #565656;
}
#footer h3 {
    font: 400 16px/26px 'Oswald', Arial, sans-serif;
    border-bottom: none;
    margin: 10px 0 10px;
    color: #ccc;
    letter-spacing: 1px;
}
#footer .links li {
    line-height: 22px;
}
#footer .links li a{
    color: #4e4e4e;
    font-size: 13px;
}
.links-pie span {
    position: relative;
    padding-left: 24px;
    display: block;
    white-space: nowrap;
    min-height: 27px;
}
.links-pie span i{
    display: table;
    position: absolute;
    font-size: 18px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 0;
}
.links-pie span a{
    color: #4e4e4e;
    font-size: 14px;
}
#footer h3 span{
    color: #f58634;
}
.derechos {
    background: #333333;
}
div#pie-social-pago {
    display: none;
}
a.item-add-btn,
.lista-categorias .item-add-btn {
    border-radius: 0;
    box-shadow: none;
    background: #565656;
    border: 1px solid;
}
.lista-categorias .item-add-btn {
    display: none;
}
a.item-add-btn:hover,
.lista-categorias .item-add-btn:hover {
    background: #fff;
    color: #565656;
    border: 1px solid;
}
.item-add-btn:hover,
.item-add-btn:focus,
.item-add-btn:active,
.item-add-btn.active {
    background: #565656;
    border-color: #565656;
}
.lista-categorias .item-add-btn:hover,
.lista-categorias .item-add-btn:focus,
.lista-categorias .item-add-btn:active {
    background: #565656;
    color: #fff;
}
.btn-custom,
.modal-header {
    background-color: #555;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #a94c07;
    border-color: transparent;
}
.pagination > .active > a {
    background-color: #565656 !important;
}
.btn-custom-4 {
    background-color: #f58634;
    border-color: #e9a825;
}
.btn-custom-4:hover,
.btn-custom-4:focus,
.btn-custom-4:active,
.btn-custom-4.active,
.open .dropdown-toggle.btn-custom-4,
.related-slider.sidebarslider
.flex-direction-nav a:hover {
    background-color: #ffffff;
    border: 1px solid #f58634;
    color: #f58634;
    font-weight: bold;
}
.related-slider.sidebarslider
.flex-direction-nav a.flex-next:hover{
    background-position: -219px -200px !important;
}
.related-slider.sidebarslider
.flex-direction-nav a.flex-prev:hover{
    background-position: -186px -200px !important;
}
.select-dropdown:hover .dropdown-toggle {
    background: #565656;
    border-color: #db8d10;
}
.related-product .btn:hover {
    color: #ffffff !important;
}
.datos-sucursal .ver-mapa {
    background: #f58634;
    font-size: 14px;
}
.carousel-btn:hover {
    background-color: transparent;
    border-color: transparent;
}

.txt-logo-footer p {
    font-size: 14px;
    line-height: 1.5em;
    padding-left: 0;
    text-align: justify;
}
#category-breadcrumb .breadcrumb a:hover, #breadcrumb-container.light .breadcrumb a:hover, #breadcrumb-container.transparent .breadcrumb a:hover {
    color: #565656;
}
#category-header img.img-bg-category-header {
    border-bottom: 4px solid  #f58634;
}
.sidebar .widget .panel a:hover {
    color: #565656;
}
ul.tabs li.active {
    color: #ffffff;
    background-color: #f58634;
}
ul.tabs li{
    color: #f58634;
    border-color: #f58634;
}
.tab-style-2 li.active:after,
.related h3 span:after {
    background: #e9a825;
}
.datos-sucursal ul.address li:first-child {
    color: #2D2D2D;
    font-size: 15px;
}
#inner-footer {
    padding: 20px 0 15px;
}
#top-links .mi-cuenta-top a {
    background: #565656;
}
#top-links .mi-cuenta-top a:hover {
    background: #e2902e;
}
#top-links li a {
    color: #F2F2F2;
}
#top-links li a:hover {
    color: #1f1f1f;
}
#top-links .mi-carrito-top {
    border-left: 1px solid #5A5A5A;
}
.box-panel div.item-pcontrol:nth-child(2) {
    background: #f7b668;
}
.box-panel div.item-pcontrol:nth-child(3) {
    background: #ec6f13;
}
.box-panel div.item-pcontrol:nth-child(4) {
    background: #fd7e21;
}
.box-panel div.item-pcontrol:nth-child(5) {
    background: #fd7e21;
}
.box-panel div.item-pcontrol:nth-child(6) {
    background: #f9aa4c;
}
.box-panel div.item-pcontrol:nth-child(7) {
    background: #f7b668;
}
.box-panel div.item-pcontrol:nth-child(8) {
    background: #ec6f13;
}
.box-panel div.item-pcontrol:nth-child(9) {
    background: #ec6f13;
}
.ratings-container {
    display: none;
}
.logo-footer {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0px;
}
.copy, .copy a {
    color: #aaa !important;
}
.sidebar h4 {
    background-color: #f58634 !important;
}
.pasos-pedido .accordion-header {
    background: #EEEEEE !important;
}
.pasos-pedido .accordion-header .accordion-title span {
    color: #fff !important;
}
.pasos-pedido .accordion-header .accordion-title {
    color: #ffffff !important;
}
.redes-header a img,
.redes-footer a img {
    margin: 0 -2px;
}
#actualizacion-usuario .nav-pills > li.active > a {
    background: #565656;
}
.informacion-cotizantes .accordion-header {
    background: #adadad !important;
    box-shadow: 0px 1px 1px #5f5f5f;
    border-bottom: 2px solid #d2d2d2 !important;
}
.imagen-categoria {
    height: 109px !important;
}
.paginador-cotizacion .paginador-pp {
    float: right;
}
.resumen-cotizaciones div {
    margin-bottom: 15px;
}
table.table.cart-table.tb>thead>tr>th:first-child {
    width: 38%;
}
table.table.cart-table.tb>thead>tr>th:nth-child(2) {
    width: 9%;
}
table.table.cart-table.tb>thead>tr>th:nth-child(3) {
    width: 5%;
}
table.table.cart-table.tb>thead>tr>th:nth-child(4) {
    width: 13%;
}
table.table.cart-table.tb>thead>tr>th:nth-child(5) {
    width: 10%;
}
table.table.cart-table.tb>thead>tr>th:nth-child(6) {
    width: 8%;
}
table.table.cart-table.tb>thead>tr>th:last-child {
    width: 15%;
}

table.table.cart-table.tb>tbody>tr>td:nth-child(6),
table.table.cart-table.tb>tbody>tr>td:nth-child(7)
{
    text-align: center;
}
.only_print{
    display: none;
}

#order-form .valores-calculados {
    display: none;
}
.info-cookie {
    text-align: center;
}

/*PRELOADER INICIAL*/
.preloader{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 999999;
}

.preloader .loader-inner{
    position: absolute;
    top: 50%;
    left: 50%;
}

@-webkit-keyframes ball-triangle-path-1 {

    33% {

        -webkit-transform: translate(25px, -50px);
        transform: translate(25px, -50px); }

    66% {

        -webkit-transform: translate(50px, 0px);
        transform: translate(50px, 0px); }


    100% {

        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-1 {

    33% {

        -webkit-transform: translate(25px, -50px);

        transform: translate(25px, -50px); }

    66% {
        -webkit-transform: translate(50px, 0px);
        transform: translate(50px, 0px); }

    100% {

        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px); } }

@-webkit-keyframes ball-triangle-path-2 {

    33% {

        -webkit-transform: translate(25px, 50px);
        transform: translate(25px, 50px); }

    66% {

        -webkit-transform: translate(-25px, 50px);
        transform: translate(-25px, 50px); }

    100% {

        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-2 {

    33% {

        -webkit-transform: translate(25px, 50px);
        transform: translate(25px, 50px); }

    66% {

        -webkit-transform: translate(-25px, 50px);
        transform: translate(-25px, 50px); }

    100% {

        -webkit-transform: translate(0px, 0px);

        transform: translate(0px, 0px); } }


@-webkit-keyframes ball-triangle-path-3 {
    33% {
        -webkit-transform: translate(-50px, 0px);
        transform: translate(-50px, 0px);
    }

    66% {
        -webkit-transform: translate(-25px, -50px);
        transform: translate(-25px, -50px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}


@keyframes ball-triangle-path-3 {
    33% {
        -webkit-transform: translate(-50px, 0px);
        transform: translate(-50px, 0px);
    }
    66% {
        -webkit-transform: translate(-25px, -50px);
        transform: translate(-25px, -50px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}


.ball-triangle-path {
    position: relative;
    -webkit-transform: translate(-25px, -25px);
    -ms-transform: translate(-25px, -25px);
    transform: translate(-25px, -25px);
}

.ball-triangle-path > div:nth-child(1) {
    -webkit-animation-name: ball-triangle-path-1;
    animation-name: ball-triangle-path-1;
    /*-webkit-animation-delay: 0;*/
    /*animation-delay: 0;*/
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ball-triangle-path > div:nth-child(2) {
    -webkit-animation-name: ball-triangle-path-2;
    animation-name: ball-triangle-path-2;
    /*-webkit-animation-delay: 0;*/
    /*animation-delay: 0;*/
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ball-triangle-path > div:nth-child(3) {
    -webkit-animation-name: ball-triangle-path-3;
    animation-name: ball-triangle-path-3;
    /*-webkit-animation-delay: 0;*/
    /*animation-delay: 0;*/
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ball-triangle-path > div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #404040;
}
.ball-triangle-path > div:nth-of-type(1) {
    top: 50px;
}
.ball-triangle-path > div:nth-of-type(2) {
    left: 25px;
}
.ball-triangle-path > div:nth-of-type(3) {
    top: 50px;
    left: 50px;
}

/* END PRELOADER */

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}


#pqrs-form .row.contenido-registro {
    margin-bottom: -20px;
}

.close {
    color: #fff;
    font-weight: 500;
    //filter: alpha(opacity=70);
    opacity: .7;
}

.modal-body {
    padding: 20px 15px;
}
.modal-header h3.modal-title {
    background: transparent;
    margin: 0;
    color: #fff;
    font: 600 18px/46px "Roboto", Arial, sans-serif;
}
.modal-footer {
    background-color: #8c8c8c !important;
}
.seccion-banners {
    display: none;
}
#content {
    padding-bottom: 40px;
    overflow: hidden !important;
}
.content-title h2 {
    border-bottom: none;
    background: #f58634;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-weight: 500;
    padding: 4px 22px 0;
}
.content-title.modulo-nuevo h2 {
    background: #f58634;
}
.content-title.brands h2 {
    background: transparent;
    color: #a3a3a3;
    text-shadow: none !important;
}
.purchased-items-container.carousel-wrapper h2 {
    font-size: 19px;
    text-shadow: 0px 1px 4px rgba(16, 15, 15, 0.43);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 22px;
}
.owl-item .item-marca {
    box-shadow: none !important;
    min-height: 85px !important;
    margin: 0 10px !important;

}
.owl-item .item-marca img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.8;
    //filter: alpha(opacity=80);
    width: 100%;
}
.owl-item .item-marca img:hover {
    opacity: 1;
    //filter: alpha(opacity=100);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.carousel-controls.btns-brands {
    margin-right: 15px;
}
.brandbtn {
    border: 2px solid #f58634 !important;
    border-radius: 5px;
}
.brandbtn:hover{
    background-color: #f58634 !important;
}
.carousel-btn.brandbtn.carousel-btn-prev {
    background-position: -15px -205px !important;
}
.carousel-btn.brandbtn.carousel-btn-next {
    background-position: -67px -205px !important;
}
.carousel-btn.brandbtn.carousel-btn-prev:hover {
    background-position: -15px -245px !important;
}
.carousel-btn.brandbtn.carousel-btn-next:hover {
    background-position: -67px -245px !important;
}
.informacion-producto .icon-button.icon-like {
    background-color: transparent !important;
}
.noUi-connect {
    background: #565656;
}
ul.datos-operaciones li i {
    color: #2d2620 !important;
}

.informacion-producto .product-valor span {
    color: #6d6d6d !important;
}
.new-rect {
    background: #a3a3a3;
}


.carousel-btn.carousel-btn-prev {
    background-position: -15px -245px;
}
.carousel-btn.carousel-btn-next {
    background-position: -67px -245px;
}
.carousel-btn.carousel-btn-next:hover {
    background-position: -65px -205px;
}
.carousel-btn.carousel-btn-prev:hover {
    background-position: -12px -205px;
}



.cantainer-nav {
    /*position: relative;
    padding-right: 3em;*/
}
.cantainer-nav:before, .cantainer-nav:after {
    content: '';
    display: table;
}
.cantainer-nav:after {
    clear: both;
}

.search-button {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 99;
}

.search-toggle {
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    top: 5px;
    padding: 15px;
}
.search-toggle::before, .search-toggle::after {
    content: '';
    position: absolute;
    display: block;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.search-toggle::before {
    /*--adjust as necessary--*/
}
.search-toggle::after {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #828282;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: -3px;
    left: 5px;
    font-size: 20px;

}
.search-toggle.active::before {
    /* width: 0; */
    /* border-width: 1px; */
    /* border-radius: 0; */
    /* -webkit-transform: rotate(45deg); */
    /* transform: rotate(45deg); */
    /* top: -2px; */
    /* left: 4px; */
    display: none;
}
.search-toggle.active::after {
    content: "\f057";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;  /*--adjust as necessary--*/
    color: #828282;
    padding-right: 0.5em;
    position: absolute;
    top: -3px;
    left: 5px;
    font-size: 20px;
    width: 0;
    height: 0;
}

.search-input-text:focus {
    outline: none;
}

#main-nav-container {
    border-bottom: 2px solid #0097bf;
}
#main-nav-container .search-box {
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 40%;
    height: 100%;
    max-height: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    background-color: #eaeaea;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 999;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#main-nav-container .search-box .search-input-text {
    width: 100%;
    height: 100%;
    padding: 0 1em;
    border: 0;
    background-color: transparent;
    opacity: 0;
    color: #000;
    font-family: 'Oswald';
    font-size: 16px;
}
#main-nav-container .search-box .search-input-text::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}
#main-nav-container.show .search-box {
    max-height: 55px;
    border: 1px solid #f58634;
    border-top-width: 3px;
}
#main-nav-container.show .search-box .search-input-text {
    opacity: 1;
}
#main-nav-container .search-box #search-button {
    position: absolute;
    top: 0px;
    right: 0;
    background: #565656;
    color: #fff;
    border: 0;
    font-size: 10px;
    height: 100%;
    width: 47px;
    outline: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
#main-nav-container .search-box #search-button:hover {
    background: #d6811c;
}

.banners.bloque_1-home {
    overflow: auto;
}

.banners.bloque_1-home .banner-box {
    position: relative;
}

.banners.bloque_1-home .banner-box.sup {
    margin-top: 10px;
}
.banners.bloque_1-home .banner-box.inf {
    margin-top: 28px;
}

.bloque_1-home-desc {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 10px 10px;
}
.bloque_1-home-desc h2 {
    color: #fff;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.bloque_1-home-desc a {
    float: right;
    color: #fff;
    text-decoration: underline;
    font-weight: 500;
}
.welcome_message {
    background: url('../img/bg_slider.png') no-repeat center top #fff;
    padding: 40px 0;
    background-size: 50%;
}
.welcome_message-content {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.welcome_message-content h2 {
    font-family: 'Anton';
    font-size: 33px;
}

.welcome_message-content p {
    font-size: 15px;
    color: #666;
}

.barwhith {
    position: relative;
}
.barwhith:after {
    content: '';
    height: 55px;
    position: absolute;
    width: 100%;
}
.barwhith.grey:after {
    background: #f58634;
}
.barwhith.yellow:after {
    background: #565656;
}
.carousel-controls {
    background: transparent;
}
.carousel-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.owl-item .item {
    background: #fff;
    border: none;
    margin: 10px;
    /* box-shadow: 0px 5px 12px 1px rgba(0, 0, 0, 0.06); */
}
.banners_block-home,
.marcas_destacadas {
    background: #fff;
    padding: 30px 0;
}
.marcas_destacadas {
    padding-bottom: 5px;
    position: relative;
}

.newsletter {
    position: absolute;
}

.newsletter-inner {
    position: relative;
    background: #4c443e;
    overflow: inherit;
    right: 15px;
    padding: 15px;
    color: #eee;
    font-weight: 100;
    line-height: 18px;
    top: -30px;
    min-height: 70px;
}
.newsletter-inner strong {
    color: #565656;
    font-size: 15px;
}
.newsletter-inner:after {
    content: url(../img/newsletter-shadow-der.png);
    position: absolute;
    right: -23px;
    top: 7px;
}

.newsletter-inner:before {
    content: url(../img/newsletter-shadow-izq.png);
    position: absolute;
    left: -21px;
    top: 4px;
}

form.suscribirse input {
    background: transparent;
    border-radius: 0;
    /*width: 250px !important;*/
    height: 33px;
    border-color: #bbbbbb;
    color: #eee;
}
form.suscribirse button {
    padding: 6px 15px;
    box-shadow: none;
    border-radius: 0;
    color: #2b2b2b;
}
.redes-footer {
    text-align: left;
    top: 13px;
    position: relative;
}
.redes-footer a {
    margin-right: 8px;
    border: 2px solid;
    padding: 8px;
    width: 40px;
    display: inline-block;
    text-align: center;
    height: 40px;
    border-radius: 50%;
    color: #f58634 !important;
    font-size: 20px;
}
.item-reference {
    font-size: 12px !important;
    color: #9c9c9c;
    margin-bottom: 10px;
    margin-top: 1px;
}
.item-price-container {
    font: 600 14px/20px "Roboto", Arial, sans-serif;
    color: #565656;
    margin-top: 5px;
}
/*.item-product span.precio-regular {
    font-weight: 400;
}*/
.item-product .item-price-regular,
.item-product span.precio-regular {
    font-size: 14px;
    color: #b5b5b5;
    font-weight: 400;
    text-decoration: line-through;
}
.item-name a:hover {
    color: #565656;
}
.wrapper-filtros-atributos .filter {
    width: inherit !important;
}
.wrapper-filtros-atributos {
    background: #fff;
}
.informacion-producto .product-valor {
    color: #3e3e3e !important;
}

.informacion-producto {
    padding: 15px 0 35px;
    border-bottom-color: #f58634;
}
.product-add .custom-quantity-input {
    margin-right: 16px;
}
.custom-quantity-input .quantity-btn:hover {
    border-color: #565656;
    background: #565656;
}
.product-list.product-accion .product-add .btn {
    left: 5px;
    position: relative;
}
.item-price i {
    display: none;
}
.featured-slider .featured-product .featured-price,
.related-slider .related-product .related-price {
    color: #a3a3a3;
}
.related-product .btn {
    color: #ffffff;
    font-weight: 400;
    background: #f58634 !important;
}
.sidebar h3 {
    font: 400 15px/40px "Roboto", Arial, sans-serif;
}
.item-product .precio-internet {
    color: rgb(103, 103, 103) !important;
}

.item-product .icon-button.icon-like,
.item-product a.item-add-btn,
.item-product .icon-button.icon-compare {
    border: none;
    background-image: url(../img/icons-items-actions.png);
    background-size: auto;
    background-color: transparent;
}
.item-product a.item-add-btn {
    background-position: 0px 0;
}
.item-product a.item-add-btn:hover {
    background-position: 0px 32px;
}
.item-product .icon-button.icon-like {
    background-position: -34px 0px;
}
.item-product .icon-button.icon-compare {
    background-position: -70px 0px !important;
}
.item-product .icon-button.icon-compare.producto-a-comparar {
    background-position: -70px -34px !important;
}
.item-product .item-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.item-action.ofertas-icons {
    display: inherit;
    width: inherit;
}
a.masinfo i {
    font-size: 26px;
    /*top: 7px;*/
    position: relative;
    margin-left: 3px;
    color: #f58634;
}
h3.item-name {
    margin-bottom: 5px;
}
.featured-slider .featured-product h5 a:hover, .related-slider .related-product h5 a:hover {
    color: #f58634;
}
//.btn-comparar {
//    background: #a3a3a3;
//    position: inherit;
//    margin-left: 15px;
//}
.btn-comparar:hover, .btn-comparar:focus, .btn-comparar:active {
    background: #565656 !important;
}
.btn-comparar.fixed {
    position: fixed;
    top: 44px;
    right: 0;
    background: #a3a3a3;
    margin: 7px;
}
.producto-favorito {
    background-color: transparent !important;
    background-position: -32px -36px !important;
}
.item .item-action .item-action-inner {
    padding-left: 0;
}

/*USUARIOS PAGINA*/

#user-tabs-content {
    overflow: hidden;
    border: 1px solid #eeeeee;
    padding: 20px 5px;
    padding-bottom: 40px;
}
#user-tabs-list li.active a {
    background: #f58634;
}
#user-tabs-list li a {
    border: 0;
    text-transform: inherit;
    font-size: 15px;
    padding: 10px 25px 10px 45px;
    position: relative;
    font-family: 'Oswald';
    letter-spacing: 0.5px;
    border: 1px solid transparent;
}
#user-tabs-list li a i {
    position: absolute;
    left: 0px;
    font-size: 18px;
    color: #ffffff;
    padding: 11px 10px 11px 8px;
    top: 0px;
    background: rgba(46, 46, 46, 0.4);
    border-radius: 0 50% 0 0;
    text-shadow: 0px 2px 2px rgba(49, 49, 49, 0.41);
}
#user-tabs-list li a:hover {
    background: #ffffff;
    color: #f58634;
    border: 1px solid #f58634;
}

.modal-design .modal-header:after {
    content: "\f0d7";
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 0;
    color: #f58634;
    z-index: 9;
}
.modal-design .modal-header i {
    text-align: center;
    font-size: 50px;
    background: white;
    display: block;
    width: 75px;
    height: 75px;
    margin: 0px auto 15px;
    border-radius: 50%;
    line-height: 80px;
    color: #f58634;
}
.modal-design .modal-dialog {
    border: 6px solid #f58634;
    box-shadow: -9px 9px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}
.modal-design .modal-content {
    box-shadow: none;
    border: 0;
    border-radius: 5px;
}
.modal-design .modal-header {
    background: #008533;
    background: -moz-linear-gradient(-148deg, #f58634 50%,#eca570 50%,#ea9e66 50%,#ec904c 100%);
    background: -webkit-linear-gradient(-148deg, #f58634 50%,#eca570 50%,#ea9e66 50%,#ec904c 100%);
    background: linear-gradient(-148deg, #f58634 50%,#eca570 50%,#ea9e66 50%,#ec904c 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#057b33', endColorstr='#008533',GradientType=1 );
    position: relative;
}
.modal-design.op2 .modal-header {
    background: #008533;
}
.modal-design.op2 .modal-body {
    padding-top: 23px;
}
.modal-design .modal-body {
    background: #fff;
}
.modal-design .modal-header p {
    color: #fff;
    font: 100 14px/18px 'Roboto', sans-serif;
    margin: 14px 0 10px;
}

.modal-design .modal-header h5 {
    font: 500 18px/18px 'Roboto', sans-serif;
    text-align: center;
    text-transform: inherit;
}
.modal-design .product-add .btn-custom-2 {
    background: #f58634;
    color: white !important;
    border: none;
    padding: 11px;
    font-size: 15px;
    font-weight: 400;
}


.switch-user {
    position: relative;
    display: inline-block;
    width: 119px;
    height: 39px;
    color:#fff;
    cursor: pointer;
}
.switch-user input {
    display:none;
}
.slider-switch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a3a3a3;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider-switch:before {
    position: absolute;
    content: "";
    height: 80%;
    width: 46%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    top:10%;
    left: 4%;
    z-index:10;
}
input:checked + .slider-switch {
    background-color: #505050;
}
input:focus + .slider-switch {
    box-shadow: 0 0 5px #15f;
}
input:checked + .slider-switch:before {
    left: 51%;
}
label.switch-user span{
    position:absolute;
    line-height: 40px;
    width:50%;
    text-align:center;
    z-index:1;
}
label.switch-user span:first-child{
    right: 5px;
}
label.switch-user span:nth-child(2) {
    left: 3px;
}
.slider-switch,.slider-switch:before {
    border-radius: 20px;
}

.acordeon-user .panel-heading {
    padding: 6px 12px;
}
.acordeon-user .panel {
    margin: 0 !important;
    border-radius: 0;
    border-bottom: 0;
}
.acordeon-user .panel:last-child {
    border-bottom: 1px solid #dddddd;
}
.acordeon-user .panel-heading h4 {
    font-size: 13px;
}
.acordeon-user .panel-heading h4 a {
    display: block;
}


.acordeon-user .panel-heading {
    position: relative;
}

.acordeon-user .panel-heading:before {
    position: absolute;
    top: 6px;
    right: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0fe";
    font-size: 18px;
    color: #a3a3a3;
}
.acordeon-user .panel-heading.active:before {
    position: absolute;
    top: 6px;
    right: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f146";
    font-size: 18px;
    color: #a3a3a3;
}
.discount-rect {
    background: #d4811e;
    font-size: 16px !important;
    width: 69px;
    font-weight: 500 !important;
}
button:disabled {
    background-color: #CCC !important;
    border: #CCC !important;
}
table.users-list {
    font-size: 14px;
}
table.users-list thead th {
    padding: 10px;
}
table.users-list tr.filtrar-users td input {
    border: 1px solid #eaeaea;
    max-width: 150px;
    margin: 5px;
}
.table.users-list td {
    vertical-align: middle;
}
table.users-list tr.th-users th {
    background: #575a59;
    color: #fff;
    font-weight: 200;
    font-size: 16px;
}
.table.users-list td span.activo i {
    color: #16c527;
}
.table.users-list td span.inactivo i{
    color: #a54b12;
}
.table.users-list td i {
    font-size: 18px;
    color: #8e8e8e;
}
.table-list-users-admin thead tr th.header {
    padding: 8px 19px 8px 8px;
    vertical-align: middle;
}
.table-list-users-admin thead tr th.header {
    padding: 10px 20px 10px 10px;
    vertical-align: middle;
    background: #e08416;
    color: #fff;
    font-weight: 500;
    border: 1px solid #b77323 !important;
    border-bottom: 6px solid #b36100 !important;
    line-height: 16px;
    text-shadow: 0 1px 0px rgba(125, 78, 21, 0.42);
}
.table-list-users-admin thead tr th.sortable .sort-indicator {
    padding-right: 0;
}
.table-list-users-admin thead tr th.sortable .sort-indicator:after,
.table-list-users-admin thead tr th.sortable .sort-indicator:before {
    right: -15px;
}

.table-list-users-admin thead tr th.sortable.sort-desc,
.table-list-users-admin thead tr th.sortable.sort-asc {
    background-color: rgb(220, 90, 8);
    text-shadow: none;
}

.table-list-users-admin tbody tr td {
    vertical-align: middle;
}
.table-list-users-admin tbody tr td .btn-default {
    color: #fff;
    background-color: #575a59;
    border-color: #464848;
    box-shadow: none;
    padding: 4px 10px;
}
.table-list-users-admin thead tr th.filter {
    padding: 10px;
    border-left: 1px solid #d6d2d2;
}
.table-list-users-admin thead tr th.filter input,
.table-list-users-admin thead tr th.filter select {
    height: 29px;
    padding: 5px;
    font-weight: 400;
    font-size: 12px;
}
.table-list-users-admin thead tr th.header:nth-child(1) {
    width: 15%;
}

.table-list-users-admin thead tr th.header:nth-child(2) {
    width: 5%;
}

.table-list-users-admin thead tr th.header:nth-child(3) {
    width: 10%;
}

.table-list-users-admin thead tr th.header:nth-child(4) {
    width: 15%;
}

.table-list-users-admin thead tr th.header:nth-child(5) {
    width: 15%;
}

.table-list-users-admin thead tr th.header:nth-child(6) {
    width: 15%;
}

.table-list-users-admin thead tr th.header:nth-child(7) {
    width: 25%;
}

.table-list-users-admin thead tr th.header:nth-child(8) {
    width: 5%;
}

.table-list-users-admin thead tr th.header:nth-child(9) {
    width: 10%;
    padding: 8px;
}

#toolsuser {
    color: #ffffff;
    font-size: 23px;
    position: absolute;
    border-left: 1px solid #ffab6d;
    right: 15px;
    border-right: 1px solid #ffab6d;
    padding: 5px 10px 2px;
}

#main-nav-container #main-nav #responsive-nav ul {
    border-top: 4px solid #f58634;
}
#main-nav-container #main-nav #responsive-nav ul li a {
    padding: 6px 0 6px 14px;
    font-size: 14px;
}
#main-nav-container #main-nav #responsive-nav ul li .menu-button {
    height: 39px;
    background-position: 0 -365px;
}
#main-nav-container #main-nav #responsive-nav ul li .menu-button.active {
    background-position: -40px -365px;
}
#main-nav-container #main-nav #responsive-nav ul li ul a {
    padding: 7px 0 7px 35px !important;
    text-align: left;
    font-size: 13px;
}
/*.menu-button {
    background-image: none;
}
.menu-button:after {
    content: "\f067";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    top: 15px;
    position: relative;
}
.menu-button:hover {
    color: #a3a3a3;
}*/
div#filter-wrapper a.accordion-btn:after {
    top: -10px !important;
}
.category-item-container {
    border-top: none;
    margin-top: 10px;
    overflow: hidden;
}
#modal-seleccion-sucursal-usuario-b2b-logueado > div {
    margin: 0 auto;
    width: inherit !important;
    max-width: 400px;
}
.product .labels-product-details {
    right: 15px;
    top: -35px;
}

.listado-carga-rapida .product-discount-tag {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    background: #d4811e;
    color: white;
    font-size: 11px;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cartera-vencida {
    color: #d81d1d;
    font-size: 14px;
}

.dropdown-cart-total.peso-total {
    border-top: solid 1px #c1c1c1;
    padding-top: 10px;
    margin-top: 0px;
}
.novedades-del-producto .ribbon-novedades.nuevo {
    background-color: #f58634;
    font-size: 15px;
    border-radius: 50%;
    padding: 10px 5px;
    width: initial;
    display: table;

}
.novedades-del-producto .ribbon-novedades.descuento {
    background-color: #d4811e;
}

.vista-1 .boton-acciones-producto {
    display: inherit;
}
.pt-5{
    padding-top: 5px;
}
.border-bot-nr{
    border-bottom: 1px solid #f58634;
}
.normal-text{
    font-size: 16px;
}
.mrg-bot-15{
    margin-bottom: 15px;
}
.valores-item h4{
    margin-bottom: 10px !important;
}
.valores-item section{
    position: relative;
    padding-left: 62px;
    min-height: 60px;
    margin-bottom: 30px;
}
.valores-item p{

}
.valores-item section span{
    position: absolute;
    display: table;
    margin: auto !important;
    left: 0;
    top: 5px;
}
.valores-item section label{
    font-size: 1.15em;
    margin-right: 10px;
    color: #f58634;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: 0px;
}
.color-orange{
    color: #f58634;
}
.button-add{
    position: relative;
}
.margin-top-6{
    margin-top: 6px;
}
.margin-top-8{
    margin-top: 8px;
}
.sidebarslider .flex-direction-nav a, .footerslider .flex-direction-nav a{
    border: 1px solid #f58634;
    background-color: #f58634 !important;
}
.sidebarslider .flex-direction-nav a.flex-prev, .footerslider .flex-direction-nav a.flex-prev{
    background-position: -186px -223px !important;
}
.sidebarslider .flex-direction-nav a.flex-next, .footerslider .flex-direction-nav a.flex-next{
    background-position: -219px -223px !important;
}
.sidebarslider .flex-direction-nav a:hover, .footerslider .flex-direction-nav a:hover{
    background-color: #f58634 !important;
}
.boton-acciones-producto{
    overflow: hidden;
    border-top: 1px double #f58634;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.productos-item-box{
    overflow: hidden;
    padding: 12px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.producto-img-box .iconos-acciones-adiccionales .fa{
    color: #f58634 !important;
    font-size: 22px;
}
.iconos-acciones-adiccionales{
    right: 0px;
    top: 0px;
}
.iconos-acciones-adiccionales .tooltip{
    position: absolute;
    z-index: 99999;
    top: 0px;
    display: block !important;
}
.vista-3 .descripcion-producto-box h1{
    margin: 15px 0px !important;
    min-height: 76px;
}
.vista-3 .boton-acciones-producto a.item-add-btn:hover{
    background-position: 32px 29px;
}
.item-price-container .item-price.wrapper-precio-internet span{
    color: #f58634;
}
.item-product span.new-rect{
    color: white;
    background: #f58634;
    display: table;
    width: initial;
    border-radius: 50%;
    padding: 10px 5px !important;
}
.item-product .ofertas-icons i{
    color: #f58634;
    font-size: 22px;
}
.botones-acciones{
    background: #f58634 !important;
    color: white !important;
    /*border: 1px solid #f5db34 !important;*/
}
.botones-acciones:hover{

}
#header .dropdown-cart-menu-container .dropdown-toggle{
    background-color: #f58634 !important;
    color: #fff !important;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1px 20px 0px 50px;
}
#sticker #contact-form .input-group .input-group-addon{
    background: #989898;
    color: white;
    font-weight: bold;
    /* border: 1px solid #f58634; */
}
#sticker #contact-form .input-group input.form-control,
#sticker #contact-form .input-group .normal-selectbox,
#sticker #contact-form .input-group textarea{
    /* border: 1px solid #f58634; */
}
.txt-logo-footer{
    width: 85%;
    margin: 0 auto;
}
.selected-products-to-compare .tooltip .tooltip-arrow{
    top: initial !important;
    bottom: 0px !important;

}
.selected-products-to-compare .tooltip .tooltip-inner{

}
/*.dropdown-productos > .multilevel-menu{
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 420px;
}
#main-nav-container #main-nav .menu li ul li ul{
  position: relative;
}*/
/*-----------------------------carrito-------------------------------*/
.dropdown-cart-total li{
    color: #f58634;
}
#header .dropdown-cart-menu-container .dropdown-cart-action .btn{
    background-color: #f58634;
}
#header .dropdown-cart-menu-container .dropdown-cart-action .btn:hover{
    color: #f58634 !important;
    border: 1px solid #f58634;
    background: white;
}
/*-----------------------------carrito-------------------------------*/
#breadcrumb-container li span {
    color: #f58634;
    font-weight: bold;
}
.breadcrumb{
    font-size: 15px;
    letter-spacing: 0.5px;
}
.breadcrumb > li {
    font-family: 'Oswald', sans-serif;
}
#category-filter .widget h3 a {
    color: #f58634 !important;
    font-weight: bold;
    text-shadow: 1px 1px 4px white;
}
#category-filter.acc-nuestros-productos .accordion-header{
    border-bottom: 1px solid #f58634;
    padding: 10px 28px 10px 10px;
    background: white;
}
#category-filter.acc-nuestros-productos .accordion-title a{
    font-family: 'Oswald';
    letter-spacing: 0.8px;
    font-size: 14px;
}
.sombra-separador{
    background: radial-gradient(ellipse at 50% -50% , #d0c7c7 0px, rgba(255, 255, 255, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-radial-gradient(ellipse at 50% -50% , #d0c7c7 0px, rgba(255, 255, 255, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -moz-radial-gradient(ellipse at 50% -50% , #d0c7c7 0px, rgba(255, 255, 255, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-radial-gradient(ellipse at 50% -50% , #d0c7c7 0px, rgba(255, 255, 255, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: -12px;
    height: 5px;
    overflow: visible;
    border: none;
}
.purchased-items-slider .item-product .item-image-container,
.bestsellers-tab-slider .item-product .item-image-container{
    max-height: 180px;
    min-height: 180px;
    height: 180px;
}
.purchased-items-slider .item-product .clear,
.new-items-slider .item-product .clear,
.most-selled-items-slider .item-product .clear,
.bestsellers-tab-slider .item-product .clear{
    /*border-top: 1px solid #cec9c9;
    height: 6px;*/
    border-bottom: 1px solid #cccccc;
}
.purchased-items-slider .item-product .item-name,
.bestsellers-tab-slider .item-product .item-name{
    min-height: 54px;
}
.main-content .title{
    margin-bottom: 15px;
    font-family: 'Oswald';
}
.main-content hr{
    height: 3px;
    /*border-bottom: 1px solid #f58634;
    border-top: 1px solid #404040;*/
}
.valores-item h4{
    font-family: 'Oswald';
    letter-spacing: 0.5px;
    font-size: 18px !important;
    margin-bottom: 25px !important;
}
.content-title h1{
    font-size: 22px;
    font-family: 'Oswald';
    letter-spacing: 0.5px;
}
#mainSliderBanner .carousel-control .glyphicon{
    background: #f58634;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
}
#mainSliderBanner .carousel-control .glyphicon::before{
    margin-top: 5px;
    display: inline-block;
}
.li-productos{
    position: static !important;
}
.li-productos > .multilevel-menu{
    width: 100%;
}
.li-productos > .multilevel-menu > li{
    display: inline-block;
    width: 20%;
}
.li-productos > .multilevel-menu > li > a{
    padding: 15px 20px !important;
    font-size: 15px !important;
    border-left: 1px solid #EDEDED !important;
    border-right: 1px solid #EDEDED !important;
}
.li-productos > .multilevel-menu > li.active > a{
    color: #e9a825 !important;
}
#main-nav > ul > li > ul > li > a > span{
    position: relative;
    display: table;
    vertical-align: middle;
    overflow: hidden;
    min-height: 40px;
    width: 100%;
}
#main-nav > ul > li > ul > li > a > span > img{
    display: inline-block;
    width: 19%;
    max-width: 40px;
}
#main-nav > ul > li > ul > li > a > span > p{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 79%;
    padding-left: 10px;
    margin: 0px;
}
.carga-rapida-intro h3{
    font-size: 22px;
    font-family: 'Oswald';
}
.carga-rapida-intro hr{
    height: 3px;
    border-bottom: 1px solid #f58634;
    border-top: 1px solid #404040;
}
.banners-bloque1-home{
    margin-bottom: 25px;
}
.vista-3 figure{
    padding-bottom: 0px !important;
    overflow: hidden;
    min-height: 200px;
    display: flex;
    width: 100%;
    margin: 0px !important;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 200px;
}
.datos-sucursal{
    font-family: 'Oswald';
    letter-spacing: 0.5px;
}
.consultas h3{
    font-family: 'Oswald';
    letter-spacing: 0.5px;
}
.consultas hr{
    height: 3px;
    border-bottom: 1px solid #f58634;
    border-top: 1px solid #404040;
}

.container .row > div > h3, .container > h2, #register-form h3{
    font-family: 'Oswald';
    letter-spacing: 0.5px;
}
.category-item-container .item-meta-container .category-name{
    font-size: 16px;
    font-family: 'Oswald';
    letter-spacing: 0.8px;
}
.banners-bloque1-home .banner_block{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.quienes-somos{
    padding: 35px 30px;
}
.quienes-somos a{
    font-size: 18px;
    background: #f58634;
    padding: 8px 12px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    display: table;
    border: 1px solid transparent;
}
.quienes-somos a:hover{
    background-color: white;
    color: #f58634;
    border: 1px solid #f58634;
}
.quienes-somos h3{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.quienes-somos p{
    text-align: justify;
    margin-bottom: 30px;
}
.quienes-somos p > span {
    font-size: 15px !important;
}
.items-promo{
  background-size: cover;
  background: url(../img/proyect-selected/hoyos-fachada.jpg) no-repeat;
}
.items-promo section{
    background-color: rgba(8,8,8,0.6);
    overflow: hidden;
    padding: 55px 0px 55px 20px;
}
.carac-promo{
    position: relative;
    display: inline-block;
    width: 49%;
    padding: 10px;
    text-align: left;
    padding-left: 90px;
    padding-right: 15px;
    margin-bottom: 90px;
    vertical-align: middle;
}
.carac-promo h4{
    color: white;
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
}
.carac-promo img{
    width: 100%;
    height: auto;
}
.carac-promo .mi-img{
    width: 70px;
    height: 70px;
    position: absolute;
    display: table;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 3px;
    border-radius: 50%;
    padding: 12px;
    background-color: #f58634;
}
.carac-promo .mi-img:hover{
    background-color: #6E6C6C;
    border: 2px solid #e9a825;
}
.marg-bot-0{
    margin-bottom: 0px;
}
#category-filter .panel .accordion-title span{
    display: inline-block;
    position: relative;
    padding-left: 35px;
}
#category-filter .panel .accordion-title span img{
    position: absolute;
    display: table;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    height: 25px;
}
#category-filter .ver-mas-cat,
#category-filter .ver-menos-cat{
    font-weight: bold;
    color: #f58634;
    font-size: 15px;
    text-shadow: 1px 1px 3px white;
}
#category-filter .ver-mas-cat i,
#category-filter .ver-menos-cat i{
    color: #f58634;
    font-size: 22px;
}
.product-accion label{
    vertical-align: middle;
}
product-list .selected-products-to-compare{
    position: fixed !important;
    right: 10px;
    top: 50%;
}
product-list .selected-products-to-compare .btn-comparar{
    position: relative;
    background: #f58634;
    font-size: 14px;
    border-radius: 10px;
    margin: 0px;
}
product-list .selected-products-to-compare .btn-comparar .tooltip{
    top: -55px !important;
}
.listado-carga-rapida .wrapper-toolbox{
    margin-bottom: 20px;
}
.carga-rapida-products .vistas-pp ul{
    display: none;
}
.tabla-mis-cotizaciones .table-responsive{
    padding-bottom: 70px !important;
}
.detalles-pedidos .table-responsive thead,
.tabla-mis-cotizaciones .table-responsive thead{
    border-top: 3px solid #f58634;
}
.detalles-pedidos .table-responsive thead tr th,
.tabla-mis-cotizaciones .table-responsive thead tr th{
    background: #565656 !important;
    color: #FFF !important;
    border-color: #9e9c9c !important;
}
.preguntas-frecuentes .pregunta{
    font-size: 15px;
    border-left: 10px solid #f58634;
}
.preguntas-frecuentes .respuesta{
    font-size: 14px;
}
.dropdown-cart .dropdown-cart-product-list  figure a{
    height: 100%;
    position: relative;
}
.dropdown-cart .dropdown-cart-product-list  figure img{
    max-width: 100%;
    display: block;
    height: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0px;
    top: 0px;
    margin: auto;
    max-height: 85px;
}
.ver-mas-but{
    cursor: pointer;
    font-size: 17px;
    padding: 10px 0px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}
.ver-mas-but::before{
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    border: 1px dotted #fe992d;
    top: 40%;
    left: 0px;
    display: table;
    z-index: 1;
}
.ver-mas-but::after{
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    border: 1px dotted #fe992d;
    bottom: 40%;
    left: 0px;
    display: table;
    z-index: 1;
}
.ver-mas-but a{
    background-color: white;
    display: inline-block;
    padding: 0px 10px;
    position: relative;
    z-index: 2;
}

.hidden-element{
    display: none;
}
.vistas-pp ul{
    text-align: left !important;
}
.totales-pedido .total-table .total-precio-descuento{
    color: #077515;
    vertical-align: middle;
    font-size: 16px;
}
#featured-items-slider{
    overflow: hidden;
}
#featured-items-slider ul{
    min-width: initial;
    min-height: initial;
    margin: 0px;
    padding: 0px;
}
#featured-items-slider ul > li > div:last-child{
    margin-bottom: 15px !important;
}

.related-slider .related-product figure{
    height: 100px;
}
.related-slider .related-product figure img{
    width: auto;
    max-height: 100px;
    margin: 0 auto;
}
.search-input-menu-text{
    padding: 5px 7px !important;
    font-size: 14px !important;
    display: block !important;
    font-family: 'Oswald', sans-serif;
    float: right !important;
}
.search-box-input{
    overflow: hidden;
    width: 220px;
}
.search-box-input input{
    width: calc(100% - 35px);
    float: right;
    height: 35px;
    padding: 7px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #f58634;
}
.search-box-input button{
    float: right;
    width: 35px;
    text-align: center;
    height: 35px;
    background: #f58634;
    border: 1px solid #f58634;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    color: white;
}
.search-box-input button i{
    font-size: 22px;
}
.cart-button-2{
    display: none;
    float: right;
}
.cart-button-2 > div{
    margin-top: 3px !important;
    padding-bottom: 0px;
}
.ledisplay-menu{
    display: block !important;
    position: absolute;
    left: 100%;
}
.cart-button-2 .dropdown-cart .dropdown-cart-menu{
    margin-top: 0px !important;
}
.header6 #main-nav-container #main-nav .menu{
    width: auto !important;
    float: left;
}
#formulario-busqueda-header{
    position: relative;
    overflow: initial;
}
.clear-float{
    clear: both;
}
#formulario-busqueda-header [uib-typeahead-popup].dropdown-menu{
    max-width: 400px;
    overflow: hidden;
    right: 0px;
    left: initial !important;
}
#formulario-busqueda-header [uib-typeahead-popup].dropdown-menu li{
    font-size: 13px;
    line-height: 1;
}
#formulario-busqueda-header [uib-typeahead-popup].dropdown-menu li a{
    overflow: hidden;
    text-overflow: ellipsis;
}
.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.categorie-bar-home{
    position: relative;
}
.categorie-bar-home #acc-categorias{
    height: calc(100% - 54px);
    overflow-y: scroll;
}
.categorie-bar-home .widget{
    height: 100%;
}
.categorie-bar-home #category-filter.acc-nuestros-productos.inicio{
    width: 100%;
    height: 100%;
}

.vista-3 .precio-productos-item{
    min-height: 50px;
}
.vista-3 .producto-img-box a img{
    position: static !important;
    max-width: 100% !important;
    display: block !important;
    height: auto !important;
    width: auto !important;
    margin: 0 auto !important;
    max-height: 200px;
}
.vista-1 figure img{
    max-height: 85px !important;
    width: auto !important;
}
.vista-1 figure{
    padding-bottom: 70% !important;
    max-width: 120px !important;
}
.vista-2{
    display: flex;
}
.vista-2 figure{
    padding-bottom: 100%;
}
.vista-2 figure img{
    max-height: 110px !important;
    width: auto !important;
}
.vista-3{
    display: flex;
}
.vista-4{
    display: flex;
}
.vista-4 figure{
    padding-bottom: 100%;
}
.vista-4 figure img{
    max-height: 155px !important;
    width: auto !important;
}
.vista-4 .productos-item-box,
.vista-3 .productos-item-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.btn-info{
    background-color: #565656 !important;
    border-color: #313131 !important;
}
.btn-info:hover{
    background-color: #919090 !important;
    border-color: #f58634 !important;
}
.overflow-initial{
    overflow: initial !important;
}
.btnSearch{
  vertical-align: bottom;
  position: relative;
  top: 24px;
}
.btnSearch{
  vertical-align: bottom;
  position: relative;
  top: 24px;
}

ul.dropdown-menu-responsive {
    float:none;
}

.responsive-menu > li {
    height: 40px;
    padding-top: 5px;
}