/* =============================================
----------------- Responsive  ------------------
==============================================*/
/***** EN STYLOS.CSS ///////////*/
ul.breadcrumb i {
    font-size: 20px;
}

.labels-product-details {
    position: absolute;
    right: 10px;
    top: 0;
}

input[type="text"]::-webkit-input-placeholder {
	color: #a4a4a4 !important;
}
input[type="text"]:-moz-placeholder {
	color: #a4a4a4 !important;
}
input[type="text"]::-moz-placeholder {
	color: #a4a4a4 !important;
}
input[type="text"]:-ms-input-placeholder {
	color: #a4a4a4 !important;
}

table.table.cart-table>thead>tr>th:first-child {
    width: 35%;
}
table.table.cart-table>thead>tr>th:nth-child(2) {
    width: 5%;
}
table.table.cart-table>thead>tr>th:nth-child(3) {
    width: 5%;
}
table.table.cart-table>thead>tr>th:nth-child(4) {
    width: 5%;
}
table.table.cart-table>thead>tr>th:nth-child(5) {
    width: 8%;
}
table.table.cart-table>thead>tr>th:nth-child(6) {
    width: 7%;
}
table.table.cart-table>thead>tr>th:last-child {
    width: 15%;
}
.canasta-pedido .table figure {
    height: 85px;
    overflow: hidden;
    width: 20% !important;
}
.canasta-pedido .table .cantidad {
    width: 70px !important;
}
.table-puntos-de-venta {
    padding-left: 0 !important;
}
.datos-sucursal .ver-mapa {
    margin-left: 0 !important;
    width: 100%;
}
#header-top .header-text {
    display: inline-block !important;
    line-height: 28px !important;
    margin: 0;
}
p.header-text.bienvenido {
    position: relative;
    top: 2px;
    right: 10px;
}
.info-cookie {
    padding: 20px 20px !important;
}
.main-content p {
    text-align: justify;
}
.preguntas-frecuentes .pregunta span {
    float: left;
}
.pasos-pedido .accordion-header {
    border-bottom: 3px solid #d2d2d2 !important;
    box-shadow: 0px 1px 1px #909090;
    background: #626262 !important;
}
.cabezas-info.text-left {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: #555;
    border: 1px solid #E0E0E0;
}
.entregas-contactos {
    display: block !important;
}
.entregas-contactos ul {
    margin: 15px 0 !important;
}
.detalles-pedidos .datos-prod .item-name a {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    line-height: 20px;
}
.detalles-pedidos .table .table-title {
    color: #565656;
    font: 400 14px/22px "Open sans",sans-serif;
    text-transform: none;
    padding: 10px 20px;
}
.currency {
    text-align: right !important;
}
.boton-busqueda-productos {
    height: 33px;
    padding: 5px 7px;
    color: #a4a4a4;
    font-size: 13px;
    line-height: 20px;
    background-color: transparent;
    border: 1px solid #e0e0e0;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 130px;
  }
.carga-rapida-resumen.pie .filter-resume {
    top: 0;
    left: 0;
    margin-bottom: 10px;
    position: relative;
}
#paginacion-bottom-cargar .view-count-box span,
#paginacion-bottom-cargar .view-count-box .btn-group  {
    display: none;
}

.banner-izq img {
    max-height: 277px;
}
img.img-responsive.img-seg {
    margin-top: 25px;
}

.pagination {
    margin: 0 0 0;
}

#category-filter.acc-nuestros-productos .sm-accordion.custom-accordion .panel-body {
    background: #fff;
    padding: 0 !important;
}
#category-filter.acc-nuestros-productos .sm-accordion.custom-accordion .panel-body ul li {
    margin: 0 10px;
}
#category-filter.acc-nuestros-productos .sm-accordion.custom-accordion .panel-body ul li:first-child {
    margin-top: 10px;
}
#category-filter.acc-nuestros-productos .sm-accordion.custom-accordion .panel-body ul li:last-child {
    margin-bottom: 10px;
}
.modal-header > h5 {
    font-size: 1.1em;
}
div#modal-product-delete-resume {
    background: rgba(0, 0, 0, 0.6);
}
.modal {
    z-index: 9999;
}
div#slider-rev {
    height: auto !important;
}
.filter-resume {
	float: right;
}
.viewcategories div.toolbox-filter {
    padding-bottom: 0;
}
.viewcategories-paginado {
    margin-bottom: 10px;
}
#recover-password-form span.input-group-addon {
    max-width: 90px;
}
/* Large desktop */
@media (min-width: 1200px) {

    .buscador::-webkit-input-placeholder { color:#fff!important; }
    .buscador::-moz-placeholder { color:#fff!important; } /* firefox 19+ */
    .buscador:-ms-input-placeholder { color:#fff!important; } /* ie */

	#page-header {
		padding:210px 0;
	}

	#page-header h1 {
		font-size:45px;
	}

	#page-header .page-header-desc {
		font-size:26px;
		line-height:35px;
	}

	.hero-unit h2 {
		font-size:40px;
	}

	.hero-unit p {
		font-size:23px;
	}

	#testimonials-section h3 {
		font-size:30px;
	}


	.about-us-testimonials .testimonial-title {
		font-size:23px;
	}

	#wrapper.boxed {
		width:1170px;
		margin:40px auto;
	}

	#wrapper.boxed-long{
		width:1170px;
	}

	#main-nav-container #main-nav .menu li > .mega-menu {
		width:1140px;
	}

	#header-top .header-text {
		display:inline;
	}

	#quick-access .quick-search-form .form-group {
		display:block;
	}

	.header6 #main-nav-container #main-nav .menu > li> a {
	    padding: 12px 16px;
	    font-size: 14px;
	}

	.header6 #main-nav-container #main-nav .menu > li:first-child  a{
		padding-left:25px;
	}

	.header6 #quick-access {
		margin-left:200px;
	}

	#footer .facebook-likebox iframe{
		height:300px;
	}

	#footer #newsletter-container input[type="text"] {
		width:360px;
	}

	.item .item-image-container {
		width:100%;
	}

	.item.item-product .item-image-container{
		width: 100%;
	}

	.item-price-container  {
            float: right;
		    text-align: right;
		    width: 45% !important;
	}

        .item-carateristicas {
            float: left;
            width: 50%;
        }

	#category-header.category-banner .category-title  {
		margin-top:-47px;
		left: 20px;
	}

	#category-header.category-banner p {
		display:block;
	}
	.category-toolbar.viewcategories {
	    border-bottom: none;
	}
	.viewcategories .toolbox-pagination {
	    float: initial;
	}

	.filter-color-list li.last-md {
		margin-right:10px;
	}

	.filter-color-list li.last-lg {
		margin-right:0;
	}


	.toolbox-pagination .view-count-box {
		position:relative;
		top:auto;
		right:auto;
	}

	.toolbox-pagination {
		padding-top:0;
	}

	#price-range-details input {
		width:90px;
                text-align: center;
	}

	#price-range-details input.separator {
		margin-right:10px;
	}

	.article {
		padding-left:100px;
	}

	.article .article-meta-date {
		width:85px;
		padding:22.5px 0;
	}

	#product-image-carousel-container {
	    /*margin-right: 10px;
        width: 85px;*/
	}
	#product-image-container {
	    width: 360px;
	    height: 350px;
	    display: table;
	}
	#product-image-container .item-price-container {
		width:135px;
		height:135px;
		font-size:27px;

	}
	#product-image-container .item-price-container .old-price {
		margin-top:37.5px;
	}
	#product-image-container .item-price-container .item-price{
		margin-top:52.5px;
	}

	.sidebar .widget.subscribe {
		padding:25px;
	}

	.sidebar .widget.subscribe h3 {
		font-size:28px;
		line-height:35px;
	}

	.sidebar .widget.subscribe .form-group {
		padding:0 ;
	}
	.sidebarslider .flex-direction-nav {
		top:-55px;
		right:10px;
		width:74px;
		height:25px;
	}

	.footerslider .flex-direction-nav {
		width:94px;
		padding-left:20px;
		height:25px;
		top:-63.5px;
	}

	.sidebarslider .flex-direction-nav a,
	.footerslider .flex-direction-nav a   {
		width:35px;
		height:25px;
		margin-top:-12.5px;
	}

	.sidebarslider .flex-direction-nav .flex-prev,
	.footerslider .flex-direction-nav .flex-prev  {
	    background-position: -186px -200px;
	}

	.footerslider .flex-direction-nav .flex-prev  {
		left:20px;
	}

	.sidebarslider .flex-direction-nav .flex-next,
	.footerslider .flex-direction-nav .flex-next {
	    background-position: -219px -200px;
	}

	.sidebarslider .flex-direction-nav .flex-prev:hover,
	.footerslider .flex-direction-nav .flex-prev:hover {
	    background-position: -186px -223px;
	}

	.sidebarslider .flex-direction-nav .flex-next:hover,
	.footerslider .flex-direction-nav .flex-next:hover {
	    background-position: -219px -223px;
	}

	.cart-table .cart-product-name {
		width:410px;
	}

	.compare-item-table .table-title {
		width:300px;
	}

	.compare-item-table figure {
	    margin: 15px auto 10px;
	    max-height: 300px !important;
	    max-width: 392px !important;
	    min-height: 250px !important;
	    min-width: 50% !important;
	}
	.compare-item-table figure::before {
	    content: "";
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}
	.compare-item-table figure img {
	    display: inline-block !important;
	}
	#shipping-form .control-label {
		width:130px;
	}

	#shipping-form .input-container {
		width:220px;
	}

        #quick-access .input-group-addon {
            display: block;
        }

        #quick-access .quick-search-form .form-group {
            /*width: 411px;*/
        }

        .category-item-container .col-md-4{
            padding-left: 10px;
            padding-right: 10px;}

        /*.category-item-container .item {
           max-height: 397px;
        }*/

        .description-container{
            /*display: block;*/
            display: none;
        }

        .seccion-banners .banner-centro img + img{
            padding-top: 11px;
        }

        .lista-categorias .item {
            /*max-height: 345px;*/
    		min-height: 286px;
          }

        .lista-categorias .col-md-3{
            padding-left: 10px;
            padding-right: 10px;
        }

        .item .item-image-container img{
            max-width: 240px !important;
        }

        /*fase 2*/

        .contenido-registro .border-right:after{
         display: block;
        }
        .acceso-crear-cuenta.border-right:before {
            display: block;
        }
		.owl-carousel .item {
		    padding: 10px;
		    min-height: 405px;
		}
		.canasta-pedido .table .datos-prod {
		    max-width: 74% !important;
    		width: 74%;
		}
		.contenido-producto-no-encontrado>div.col-md-4 {
		    height: 380px;
		    overflow: hidden;
		}
		.entregas-contactos ul strong {
		    width: 20% !important;
		}
		.carga-rapida-resumen {
		    float: right;
		}
		/*.seccion-banners iframe, */.seccion-banners img.video {
		    height: 277px !important;
            max-height: 277px !important;
		}
		.config-pedido-box.box4 {
		    padding: 10px 15px;
		}
		/*.icon-button.icon-like {
		    margin-right: 0;
		}*/
		.banner-centro.no-padding > a:nth-child(1) > img {
		    margin-bottom: 1.3%;
		}
}
@media (min-width:992px)  {
	.row.contenido-registro > .col-md-6 {
	    padding-top: 25px;
	}
	.row.contenido-registro > .col-md-6:first-child {
	    padding-right: 30px;
	}
	.row.contenido-registro > .col-md-6:last-child {
	    border-left: 1px solid #DDDDDD;
	    padding-left: 30px;
	}
	.register-company-space {
	    height: 130px;
	}

	.table-responsive {
        width: 100%!important;
    }
}
@media (min-width:992px) and (max-width:1199px) {
	.owl-carousel .item {
    	min-height: 400px;
	}
	.item-product .precio-internet {
	    padding-right: 0;
	}

	.wrapper-item-price-container div[ng-show^="produ"] {
	    width: 54% !important;
	}
	.wrapper-item-price-container div[ng-show^="produ"] + div {
	    font-size: 13px;
	    top: -6px !important;
	    width: 46% !important;
	}
	.item-price.no-disponible {
	    text-align: left;
	}

	.lista-categorias .item-image-wrapper {
  		max-height: 160px;
	}

	.item-image-wrapper img {
	    max-height: 180px !important;
	    min-height: 180px !important;
	}

        .item .item-image-container img{
            max-width: 180px!important;
        }

        .toolbox-pagination .view-count-box {
            margin-right: 0;
            right: 0;
            top: -2px;
            position: relative;
          }

          #categories-input-filter{
              height: 247px;
          }

          #wrapper-filtered-categories{
              min-height: 235px !important;
              height: 180px !important;
          }

          .simplebar .simplebar-scroll-content{
              height: 356px!important;
          }
          .sucursales {
		    height: 1570px !important;
		}
		.product-add .custom-quantity-input {
		    margin-right: 8px;
		}
		span.item-price {
		    line-height: 12px;
		    margin-bottom: 3px;
		}
		.item-price-container {
		    font-size: 12px
		}
		.item-name {
		    font-size:13px;
		    line-height: 16px;
		}
		.sub-price {
		    font-size: 70%;
		    margin-right: 0px;
		}
		span.precio-internet {
		    line-height: 11px;
		}
		span.precio {
		    top: -3px;
		    position: relative;
		    text-align: left;
		    width: 75px;
		    display: inline-block;
		}
		.item-price.no-disponible {
		    font-size: 11px;
		    display: block;
		    float: left;
		    width: 100%;
		    text-align: right;
		    margin-top: 8px;
		}
		.item-price i.add-tooltip {
		    display: none;
		}
		span.item-price-regular {
		    width: 100%;
		    float: left;
		    font-size: 11px !important;
		    margin-top: 3px;
		}
		span.item-price-regular i {
		    display: none;
		}
		.toolbox-pagination {
		    float: none;
		    border-top: none;

		}
		#paginacion-listado-top .toolbox-pagination {
		    padding-top: 1px;
		    border-top: none;
		    right: 0;
		}
		.category-toolbar.top {
		    padding: 0;
		}
		.carga-rapida-resumen .filter-resume {
		    margin-top: 0;
		    float: right;
		}
		.entregas-contactos ul strong {
		    width: 25% !important;
		}
		div#paginacion-cargar-top {
		    left: 100px;
		}
		/*.seccion-banners iframe,*/ .seccion-banners img.video {
		    height: 230px !important;
		    max-height: 230px !important;
		}
		.banner-der.videopup:before {
		    width: 75px;
		    height: 53px;
		    top: 38%;
		    left: 38%;
		    background-size: 74px;
		}
		.imagen-categoria {
		    height: 88px !important;
		}

		#main-nav-container.fixed {
		    max-width: 940px;
		}
		.sort-box .select-dropdown {
		    margin-right: initial;
		}
		.config-pedido-box.box4 {
		    padding: 10px;
		}
		.datos-prod {
		    width: 220px;
		}
		.custom-quantity-input {
		    width: 57px;
		}
		.toolbox-pagination.viewcategories {
		    padding-top: 20px;
		}
		.banner-centro.no-padding > a:nth-child(1) > img {
		    margin-bottom: 1.6%;
		}

}

@media (min-width: 768px) and (max-width:1199px) {

        .canasta-pedido .table td {
		    padding: 10px !important;
		}
		.canasta-pedido .table .item-price-special {
		    font-size: 13px !important;
		}
		.carga-rapida-resumen.pie .filter-resume {
		    top: 5px;
		}
		.seccion-banners .banner-centro img + img {
		    padding-top: 5px;
		}
		#category-filter.acc-nuestros-productos.inicio {
		    width: 220px;
		}
		/*.icon-button.icon-like {
    		margin-right: 0;
		}*/

}
@media (min-width:768px) and (max-width:991px) {
   .item-price-container {
	    font-size: 12px;
	}
	.item-product .agotado {
	    font-size: 11px;
	}
	.sub-price {
	    font-size: 75%;
	}

	.item-name {
	    font-size: 12px;
	}
	.item-product .item-price-container i {
	    display: none;
	}
	.item-product .precio-internet {
	    font-size: 11px;
	}
	.item-price.no-disponible {
	    margin-top: 0;
	}
	.item .item-image-container img {
	    max-height: 180px;
	}
	/*.canasta-pedido .table .datos-prod {
	    max-width: 130px !important;
	}*/
	.canasta-pedido .table .item-name {
	    font-size: 13px;
	    line-height: 18px;
	}

	#page-header h1 {
		font-size:40px;
	}

	#page-header .page-header-desc {
		font-size:22px;
		line-height:30px;
	}

	.hero-unit h2 {
		font-size:36px;
	}

	.hero-unit p {
		font-size:18px;
		line-height: 26px;
	}

	.banner-hero h2 {
		font-size:36px;
	}

	.banner-hero h3 {
		font-size:28px;
	}

	.banner-hero p {
		max-width:400px;
		font-size:15px;
		margin-bottom:10px;
	}

	#testimonials-section h3 {
		font-size:22px;
		line-height:1;
	}

	.about-us-testimonials .testimonial-title {
		font-size:18px;
	}

	.about-us-testimonials p {
		font-size:16px;
	}

	#wrapper.boxed,
	#wrapper.boxed-long {
		width:100%;
		margin:0;
	}

	#main-nav-container.fixed #quick-access {
		display:none;
	}

	.twitter_feed .flex-direction-nav  {
		margin-left:-84px;
	}

	#inner-header .header-box {
 		display:none;
 	}

 	#header-top .header-text-container,
 	#header-top .header-link {
 		margin-right:0;
 	}

 	#header-top .header-link {
 		margin-right:0;
/* 		position: absolute;*/
		top:40px;
 		right:0;
 		min-width:200px;
 		text-align:right;
 	}
 	#quick-access {
 		margin-top:-145px;
 	}


 	.header6 #quick-access {
 		margin-top:0px;
 	}

	#quick-access .quick-search-form .form-group {
		display:block;
	}

 	#main-nav-container #main-nav .menu li > .mega-menu {
		width:720px;
	}

	.header6 #main-nav-container #main-nav .menu > li>  a {
		padding:13.5px 15px;
		font-size:13px;
	}

	.header6 #main-nav-container #main-nav .menu > li:first-child  a{
		padding-left:4px;
	}

	.item .item-image-container {
		width:180px;
	}

	.item.item-product .item-image-container{
		width: 100%;
	}

    #category-header.category-banner img{ display:none}

	#category-header.category-banner .category-title  {
		margin-top:-16px;
	}

	#category-header.category-banner .category-title p {
		display:none;
	}

	#category-header {
		padding:40px 0;
	}

	.view-box {
		float:right;
	}

	.separator {
	    margin-right: 0;
	}
	.sort-box span, .view-count-box span {
	    font-size: 12px;
	    line-height: 26px;
	}
	#filtros-top button span {
	    font-size: 11px;
	    padding: 1px;
	}
	.view-count-box .select-dropdown {
	    margin-right: 0;
	    top: 0;

	    /*display: table-cell;*/
    	vertical-align: middle;
	}
	.category-toolbar {
		padding:0;
	}
	#price-range-details input {
		width:75px;
	}

	.item.item-list .item-image-container {
		width:170px;
		margin-right:30px;
	}

	.item.item-product .item-image-container{
		width: 100%;
	}

	.article {
		padding-left:85px;
	}

	.article .article-meta-date {
		width:75px;
		padding:17.5px 0;
	}
	.article .article-meta-more ,
	.article .article-meta-view  {
		float:none;
		margin-top:10px;
	}
	.article .article-meta-container .article-meta-view a {
		margin-left:0;
		margin-right:30px;
	}

	#product-image-carousel-container  {
		width:95px;
		margin-right:20px;
	}

	#product-image-container {
		width:480px;
        height: auto;
	}
	#product-image-container img {
	    max-height: inherit;
	}

	#product-image-container .item-price-container {
		width:162px;
		height:162px;
		font-size:27px;

	}

	#product-image-container .item-price-container .old-price {
		margin-top:51px;
	}

	#product-image-container .item-price-container .item-price{
		margin-top:66px;
	}

	#footer .facebook-likebox iframe{
		height:200px;
	}

	.input-group-addon {
		min-width:130px;
	}

	.cart-table .item-name-col,
	.checkout-table .item-name-col	{
		width:220px;
	}

	.cart-table .item-name-col figure,
	.checkout-table .item-name-col figure	{
		width:150px;
		margin-bottom:20px;
	}


	.compare-item-table .table-title {
		width:130px;
	}

	.compare-item-table  figure {
		width:150px;
	}
	#shipping-form .control-label {
	width:110px;
	}

	#shipping-form .input-container {
		width:190px;
	}

	.team-member-header figure {
		margin-left:auto;
		margin-right:auto;
	}

	#footer #newsletter-container {
		text-align:center;
	}

	#footer #newsletter-container  h3 {
		float:none;
		margin-bottom:15px;
	}

	#footer #newsletter-container form {
		float:none;
	}

	.sidebarslider .flex-direction-nav .flex-prev:hover,
	.footerslider .flex-direction-nav .flex-prev:hover {
	    background-position: -188px -225px;
	}

	.sidebarslider .flex-direction-nav .flex-next:hover,
	.footerslider .flex-direction-nav .flex-next:hover {
	    background-position: -221px -225px;
	}

        .seccion-banners .banner-centro img + img{
            padding-top: 2px;
        }

        .contenido-404 img {
            padding-top: 30px;
          }

        #sticker {
            position: relative !important;
            top: 20px !important;
            width: 100%;
          }

          .fuera-servicio .pago-entrega {
            float: none;
            margin-top: 20px;
          }

          .item .item-image-container img{
            max-width: 180px!important;
        }

        product-list .item-action{
              right: 5px;
          }

          product-list .icon-cart-text{
              font-size: 12px;
              padding: 10px 5px;
          }

          product-list .item-image-wrapper{
              height: 200px;
          }

          product-list .sort-box .btn-group.select-dropdown{
              margin-right: 0;
              top: -1px;
          }

          product-list .sort-box .select-dropdown .select-btn{
              padding: 4px 2px;
          }


          #categories-input-filter{
              height: 238px;
          }

          #wrapper-filtered-categories{
              min-height: 160px!important;
              height: 160px!important;
          }

          .simplebar .simplebar-scroll-content{
              height: 230px!important;
          }

/*          fase 2*/

          .confirmacion-registro{
                margin-top: 0;
                padding-left: 0;
            }

            .ico-item-pc {
                width: 40px!important;
            }

            .barra-mis-pedidos toolbox-pagination {
            clear: both!important;
            display: block!important;
            }

            .barra-mis-pedidos .toolbox-pagination .view-count-box{
                float: none!important;
            }

            .table-responsive {
                overflow-x: auto!important;
                overflow-y: hidden!important;
                width: 100%!important;
            }
			.owl-carousel .item {
			    min-height: 350px;
			}

			.toolbox-pagination-header .toolbox-pagination {
			    padding: 0;
			    border: none;
			}
			#paginacion-listado-bottom .view-count-box {
			    position: relative;
			    margin: 0;
			    padding: 0;
			    top: 0;
			}
			#category-header.category-banner .category-title h2 {
			    font: 400 22px/29px 'Oswald', Arial, sans-serif;
			}
			#category-header.category-banner {
			    border: 1px solid #ddd;
			    border-bottom: 5px solid #19232d;
			}
			.product-list {
			    margin-top: 10px;
			    margin-bottom: 10px;
			}
			small, .small {
			    font-size: 80%;
			}
			.entregas-contactos ul strong {
			    width: 18% !important;
			}
			#paginacion-bottom-cargar ul.pagination {
			  margin-top: 0 !important;
			}
		.carga-rapida-resumen.visible-md {
		    position: absolute;
		    right: 0;
		}
		.carga-rapida-resumen.visible-md .filter-resume {
		    position: relative;
		    top: -45px;
		    right: 14px;
		}
		#paginacion-cargar-top .toolbox-pagination .view-count-box span {
		    display: none;
		}
		div#paginacion-cargar-top {
		    left: 58px;
		    top: 0px;
		}
		.seccion-banners img.video {
		    height: 173px !important;
		    max-height: 173px !important;
		}
		/*#slider-rev-container {
		    margin-bottom: 17px;
		}*/
		#main-nav-container .nav>li>a {
		    padding: 10px 10px;
		    font-size: 12px;
		}
		.banner-der.videopup:before {
		    width: 60px;
		    height: 43px;
		    top: 38%;
		    left: 38%;
		    background-size: 60px;
		}
		img.img-responsive.img-seg {
		    margin-top: 20px;
		}
		#main-nav-container.fixed {
		    max-width: 720px;
		}

		.config-pedido-box.box4 {
		    padding: 25px 20px;
		    margin: 25px 0 0;
		}
		.icon-button.icon-like {
		    margin-right: 5px;
		}
		.item-image-wrapper {
		    max-height: 180px;
		}
		.item.item-product {
		    max-height: 370px !important;
		}
		li.product-valor div {
		    border-bottom: 1px solid #DFDFDF;
		    border-top: 1px solid #ECECEC;
		    padding-bottom: 7px;
		}
		.form-contact {
		    margin-bottom: 30px;
		}
		.item-pcontrol a div {
		    padding: 21px 0;
		}

}


 /* fix for arrows position*/
@media (min-width:980px) and (max-width:1199px) {

	.sidebarslider .flex-direction-nav .flex-prev:hover,
	.footerslider .flex-direction-nav .flex-prev:hover {
	    background-position: -188px -225px;
	}

   .sidebarslider .flex-direction-nav .flex-next:hover,
   .footerslider .flex-direction-nav .flex-next:hover {
	    background-position: -221px -225px;
   }

   .datos-sucursal ul.address li.pbx,.datos-sucursal ul.address li.email {
       width: 100%;
   }

   .datos-sucursal ul.address li.horarios-fsemana span{
      display: none;
   }

   .datos-sucursal ul.address{
      max-width: 280px;
   }

   product-list .item-action{
      right: 5px;
   }

   product-list .icon-cart-text{
      font-size: 12px;
      padding: 10px 5px;
   }

   product-list .item-image-wrapper{
      height: 200px;
   }

        /*        fase 2*/

        .contenido-registro .border-right:after{
         display: block;
        }

        .acceso-crear-cuenta.border-right:before {
            display: block;
        }
        .carga-rapida-resumen.visible-md {
		    position: absolute;
		    right: 0;
		}
		.carga-rapida-resumen.visible-md .filter-resume {
		    position: relative;
		    top: -45px;
		    right: 14px;
		}



}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

 	#slider-rev-container {
 		position: relative;
 	}
 	.title {
	    margin-bottom: 15px;
	}

	.home-banners a {
		margin-right:auto;
		margin-left:auto;
	}
	.sidebar .widget.banner-slider-container {
		display: none;
	}
	#category-header.category-banner {
	    margin-top: 15px;
	}

	#page-header {
		padding:120px 0;
	}

	#page-header h1 {
		font-size:32px;
	}

	#page-header .page-header-desc {
		font-size:18px;
		line-height:26px;
	}

	.hero-unit h2 {
		font-size:26px;
	}

	.hero-unit p {
		font-size:16px;
		line-height:22px;
	}

	.banner-hero h2 {
		font-size:32px;
	}

	.banner-hero h3 {
		font-size:26px;
	}

	.banner-hero p {
		max-width:360px;
		font-size:15px;
		margin-bottom:10px;
	}

	.banner-hero .btn {
		padding:6px 15px;
		font-size:12px;
	}

	#testimonials-section h3 {
		font-size:21px;
	}

	.about-us-testimonials p {
		font-size:16px;
	}

	.about-us-testimonials .testimonial-title {
		font-size:18px;
	}

	.title-desc {
		font-size:14px;
	}

 	#wrapper.boxed,
 	#wrapper.boxed-long {
		width:100%;
		margin:0;
	}

 	/* helper classes */
 	.hide-for-xs {
		display:none;
	}

	.hide-for-lg {
		display:inline;
	}

	.flag-container {
		margin-right:0;
	}

	.dropdown-language{
		margin-left:5px;
	}

	#inner-header .header-box {
 		display:none;
 	}

 	.header-top-dropdowns .btn {
 		min-width:45px;
 	}

 	#header-top .header-link {
 		margin-right:0;
 		right:0;
 		min-width:200px;
 		text-align:right;
 	}

 	#top-links li  {
 		margin:0;
 	}

	#top-links li a {
		padding:0 15px;
 		border-right:1px solid #dcdcdc;
		height:22px;
		margin-left:15px;
	}

	#header .dropdown-menu > li > a {
		text-align:center;
	}

	#inner-header {
		padding-top:75px;
	}

	.header6 #inner-header {
		padding-top:15px;
	}

	.header6 #inner-header .logo-container {
		margin-bottom:20px;
	}

	.header6 #inner-header .header-inner-right {
		margin-bottom:30px;
	}
	#quick-access {
		position: static;
		margin-top:5px;
		margin-right: 0;
		width: 100%
	}
	#inner-header .logo-container {
		margin-bottom: 80px;
	}

	#quick-access .quick-search-form .form-group {
	    width: 310px;
	}

	#quick-access .quick-search-form .form-control {
	    width: 100%;
	    float: right;
	}

	.header6 #quick-access .quick-search-form {
		top:5px;
	}

	#quick-access .quick-search-form .form-group {
		display:block;
	}
	#main-nav-container #main-nav {
		position:static;
	}

	#main-nav-container #main-nav #responsive-nav {
		display: inline-block;
	}
	.header6 #main-nav-container {
		border-top:none;
		border-bottom:none;
		padding: 0 10px;
	}
	.header6 .dropdown-cart-menu-container {
		position: absolute;
		right: 25px;
        top: 88px;
        z-index: 9999;
	}
	.header6 #main-nav-container #main-nav .menu,
	#main-nav-container #main-nav > ul{
		display:none;
	}

	.col-2 {
		padding-left:15px;
	}

	#category-header {
		padding:25px 0;
	}

	#category-header .category-image {
		width:100%;
	}

	#category-header .category-title {
		padding-top:85px;
	}

	#category-header .category-title p {
		display:none;
	}

	#category-header .slider-banner-description .category-title p {
		display:block;
	}

	#category-header.category-banner .category-title  {
		margin-top:-46px;
	}

	#category-header.category-banner .category-title p {
		display:none;
	}

	#category-header .category-title  h2 {
		font-size:30px;
	}

	#price-range-details input {
		width:70px;
	}

	#price-range-details input.separator {
		margin-right:10px;
	}

	.filter-color-list li.last-md {
		margin-right:10px;
	}

	.filter-color-list li.last-lg {
		margin-right:10px;
	}

	.item.item-list  .item-image-container {
		width:150px;
		margin-right:30px;
	}

	.item.item-product .item-image-container{
		width: 100%;
	}

	.item.item-product .item-image-container{
		width: 100%;
	}

	.item-action {
		text-align: center;
	}

	.item-price-container .old-price {
		margin-top:0px;
	}

	.item-price-container .item-price{
		/*margin-top:10px;*/
		display:block;
	}

 	.logo {
		text-align:center;

	}

	.logo > a {
		margin-left:0;
		display:inline-block;
	}

	#category-header {
		padding:40px 0;
	}
	.view-box {
		float:right;
	}


	.sidebar .widget.subscribe {
		padding:25px;
	}

	.sidebar .widget.subscribe h3 {
		font-size:30px;
		line-height:35px;
	}

	.sidebar .widget.subscribe .form-group {
		padding:0 ;
	}

	.sidebar .widget.banner-slider-container {
		width:272px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom: 25px;
	}

	.sidebarslider .flex-direction-nav .flex-prev:hover,
	.footerslider .flex-direction-nav .flex-prev:hover {
	    background-position: -188px -225px;
	}

	.sidebarslider .flex-direction-nav .flex-next:hover,
	.footerslider .flex-direction-nav .flex-next:hover {
	    background-position: -221px -225px;
	}

	.article {
		padding-left:75px;
	}

	.article .article-meta-date {
		width:65px;
		padding:12.5px 0;
	}
	.article .article-meta-more ,
	.article .article-meta-view  {
		float:none;
		margin-top:10px;
	}
	.article .article-meta-container .article-meta-more a,
	.article .article-meta-container .article-meta-view a {
		margin-left:0;
		margin-right:20px;
	}

	#product-image-carousel-container  {
		width:75px;
		margin-right:15px;
	}

	#product-image-container {
		width:380px;
	}
	.product-viewer #product-image-container {
	    width: 75%;
	}

	.product-extra-box-container {
		float:none;
	}

	.product-extra-box,
	.product-extra-box{
		float:left;
		margin-right:30px;
	}

	.product-extra-box span ,
	.product-extra-box span{
		display:inline-block;
		margin-left:6px;
	}

	.product .share-button-group  {
		float:none;
		width:100%;
		margin-left:0;
	}

	.tab-container .nav-tabs {
		border-right:1px solid transparent;
	}

	.tab-container.left .nav-tabs,
	.tab-container.right .nav-tabs 	{
		float:none;
	}

	.tab-container.left .tab-content,
	.tab-container.right .tab-content {
		padding:0 30px 0;
	}

	.tab-container .tab-content .tab-pane {
		padding:30px 0 0;
	}

	.tab-container.right .nav-tabs > li.active,
	.tab-container.right .nav-tabs > li.active > a {
		margin-left:0;
	}

	.tab-container.left .nav-tabs > li.active,
	.tab-container.left .nav-tabs > li.active > a {
		margin-right:0;
	}

	.tab-container .nav-tabs.nav-justified>li>a {
		margin-bottom:0;
	}

	.tab-container.right .nav-tabs {
		border-left:none;
	}

	.tab-container.left .nav-tabs {
		border-right:none;
	}
	#footer-top .widget {
		padding-right:15px;
	}

	#footer .facebook-likebox iframe{
		height:200px;
	}

 	.twitter_feed .flex-direction-nav  {
		margin-left:-84px;
	}

 	.footer-social-links-container {
 		margin-top:10px;
		margin-bottom:10px;
		text-align:center;
	}

	#footer-bottom .social-links li:first-child {
		margin-left:5px;
	}

	#footer-bottom .social-links li {
		margin-top:0;
		margin-bottom:20px;
	}

	#footer-bottom p {
		margin:0 0 6px;
		text-align:center;
	}

	#footer .facebook-likebox iframe{
		height:200px;
	}

	#footer #newsletter-container {
		text-align:center;
	}

	#footer #newsletter-container  h3 {
		font-size:22px;
		line-height: 30px;
		float:none;
		margin-bottom:15px;
	}
	.txt-logo-footer h6 {
	    text-align: center;
	}
	.logo-footer {
	    border-bottom: none;
	    padding: 5px;
	}

	#footer #newsletter-container form {
		float:none;
	}
	#inner-footer {
	    padding: 5px 0 10px;
	}

	#footer #newsletter-container input[type="text"] {
		margin-right:10px;
		display:block;
		width:260px;
		margin:0 auto 10px;
	}

	#footer #newsletter-container .btn {
		padding:9px 20px;
		font-size:15px;
	}

	.cart-table .close-button {
		margin-top:10px;
	}

	.table-responsive {
		border:none;
	}

	.cart-table .item-name-col figure {
		margin-bottom:20px;
	}
	#shipping-form .control-label {
		width:110px;
	}

	#shipping-form .input-container {
		width:220px;
	}

	.single-portfolio-btn-container {
		top:-57px
	}

	.portfolio-btn {
		width: 41px;
		height:30px;
	}

	.portfolio-btn.portfolio-btn-prev {
		background-position: -108px -200px;
	}

	.portfolio-btn.portfolio-btn-next {
		background-position: -147px -200px;
	}

	.portfolio-btn.portfolio-btn-prev:hover {
		background-position: -108px -228px;
	}

	.portfolio-btn.portfolio-btn-next:hover {
		background-position: -147px -228px;
	}

	.team-member-header figure {
		margin-left:auto;
		margin-right:auto;
	}

	.no-content .no-content-comment {
		margin-left:-240px;
	}

        .pago img, .entrega img {
		    width: 100%;
		}

        .fuera-servicio .pago-entrega {
            float: none;
            margin-top: 20px;
          }

        .category-item-container .item {
            min-height: 397px;
          }

          #price-range{
              width: 190px;
          }

          #price-range-details .input-group {
              width: 100px;
          }

          .no-padding {
            padding-left: 0;
            padding-right: 15px;
           }

           .tab-style-2 li a{
               font: 600 12px/20px "Open Sans",sans-serif;
               padding: 9.5px 9px;
           }

           #category-filter.acc-nuestros-productos.inicio {
             max-height: none;
             display: none;
        }

        .lista-categorias .item {
            min-height: 280px;
        }

        .contenido-404 img {
            width: auto!important;
            max-height: 200px;
          }

        .contenido-producto-no-encontrado img {
            width: auto!important;
            max-height: 200px;
            margin: 0 auto;
          }

          .precanasta-cantidad .modal-sm{
              width: 300px;
              margin: 10px auto;
          }

          #sticker {
            position: relative !important;
            top: 20px !important;
            width: 100%;
          }

          .fuera-servicio .contact-phones {
            float: none !important;
            margin: 0 auto;
            width: 200px;
          }

          .item-price i{
             display: none;
          }

          .icon-button.icon-like{
              text-indent: -99999px!important;
          }

          product-list .toolbox-pagination  .view-count-box {
			float:none;
			position:relative;
			top:-5px;
			right:auto;
			left:0;
		}

        product-list .sort-box{
            position: relative;
        }


            .confirmacion-registro{
                margin-top: 0;
                padding-left: 0;
            }

            .barra-mis-pedidos toolbox-pagination {
            clear: both!important;
            display: block!important;
            }

            .barra-mis-pedidos .toolbox-pagination .view-count-box{
                float: none!important;
            }

            .table-responsive {
                overflow-x: auto!important;
                overflow-y: hidden!important;
                width: 100%!important;
            }

            .barra-mis-pedidos .sort-box{
                position: relative!important;
                top: 5px!important;
            }
            .config-pedido-box.box2 h5 {
			    background: rgba(0, 0, 0, 0) url("../img/sprite-config-pedido.png") no-repeat scroll -1px -41px !important;
			    padding: 16px 10px 7px 50px !important;
			    margin-bottom: 5px !important;
			    line-height: 21px;
			    font-size: 17px;
			}
			.canasta-pedido .table .datos-prod {
			    max-width: 100%;
			    /*min-width: 220px !important;*/
			    /*margin-right: 20px;*/
    			float: initial !important;
			}
			table.table.cart-table {
			    /*min-width: auto !important;*/
			}
			.cant-en-xs label {
			    line-height: 27px;
			    margin-right: 3px;
			}
			.copy {
			    font-size: 11px;
			}
			.pago-entrega {
			    margin: 0 auto;
			    justify-content: center;
			}
			.item-name {
			    font-size: 13px;
			}
			.ratings-container, .description-container {
			    text-align: center;
			}
			.owl-carousel .item {
			    min-height: 400px;
			}
			.toolbox-pagination-header .toolbox-pagination {
			    padding: 0;
			    border: none;
			}
			.view-count-box .select-dropdown {
			    margin-right: 0;
			}
			#category-header {
				padding:15px 0;
			}
			#category-header.category-banner .category-title  {
				margin-top:-12px;
			}

		    #category-header.category-banner { border: 1px solid #ddd; border-bottom: 5px solid #19232d}

		    #category-header.category-banner img{ display:none}

		    #category-header.category-banner .category-title h2 {
		            font-size: 22px;
		    }
			#category-header.category-banner .category-title p,
			#category-header.category-banner .category-title .btn{
				display:none;
			}

			#category-header .category-title {
				padding-top:30px;
			}

			.category-toolbar.top {
			    padding: 0;
			}

			.filter-resume.listcategoria {
			    position: relative;
			    top: 0;
			    left: 0;
			}
			.separator {
			    margin-right: 0;
			    display: inline-block;
			}
			.content-filtros {
			    box-shadow: 0 0 0 14px #fff;
			}
			.filtro-tab {
			    background: #2a4057;
				background: -moz-linear-gradient(top,  #2a4057 1%, #19232d 9%, #1a2633 49%, #2a4057 72%, #1a2633 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2a4057), color-stop(9%,#19232d), color-stop(49%,#1a2633), color-stop(72%,#2a4057), color-stop(100%,#1a2633));
				background: -webkit-linear-gradient(top,  #2a4057 1%,#19232d 9%,#1a2633 49%,#2a4057 72%,#1a2633 100%);
				background: -o-linear-gradient(top,  #2a4057 1%,#19232d 9%,#1a2633 49%,#2a4057 72%,#1a2633 100%);
				background: -ms-linear-gradient(top,  #2a4057 1%,#19232d 9%,#1a2633 49%,#2a4057 72%,#1a2633 100%);
				background: linear-gradient(to bottom,  #2a4057 1%,#19232d 9%,#1a2633 49%,#2a4057 72%,#1a2633 100%);
				//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a4057', endColorstr='#1a2633',GradientType=0 );

			    border: 1px solid #FFFFFF;
			    border-top: 0;
			    border-radius: 4px 4px 15px 15px;
			    color: #fff !important;
			    display: block;
			    font-size: 14px;
			    font-weight: 600;
			    padding: 10px 0;
			    margin: 0 auto;
			    text-align: center;
			    margin-bottom: 10px;
			    box-shadow: 0px 1px 0 1px #C7C7C7;
			    position: relative;
      }
			a.filtro-tab i.fa-filter, .filtro-tab span {
                width: 36px;
			    height: 31px;
			    font-size: 22px;
			    line-height: 31px;
			    color: #263742;
			    text-shadow: 1px 1px 4px #E8E5E5;
			    background-color: rgba(255, 255, 255, 0.69);
			    float: right;
			    border-radius: 2px 5px 13px 2px;
			    position: absolute;
			    top: 5px;
			    right: 6px;
			    text-align: center;
			}
			.breadcrumb > li + li:before {
			    padding: 0 5px;
			}
			.product-list {
			    margin-top: 10px;
			    margin-bottom: 10px;
			}
			.informacion-producto .product-list li {
			    padding: 5px 9px;
			}
			.config-pedido-box .dl-horizontal dt {
			    top: 26px !important;
			}
			.config-pedido-box .dl-horizontal dd {
			    margin: 0 0 0 110px !important;
			}
			.config-pedido-box.box1 h5 {
				margin-bottom: 0;
			}
			.config-pedido-box {
			    margin-bottom: 15px;
			}
			.hproduct ul.breadcrumb li:nth-child(2) span {
			    display: none;
			    position: relative;
			}
			.hproduct ul.breadcrumb li:nth-child(2):after {
			    content: '...';
			}
			.btn-mostrar-catg {
			    background-color: #19232D !important;
			}
			#recover-password-form input[type="submit"] {
			    margin-top: 0 !important;
			}
			.main-content {
			    margin-top: 10px;
			}
			.col-md-12.col-sm-12.col-xs-12.ultimo-paso {
			    padding: 0;
			}
			.ultimo-paso .btn {
			    padding: 8px 7px;
			}
			.entregas-contactos ul strong {
			    width: 22% !important;
			}

			.detalles-pedidos .datos-prod {
			    max-width: 220px;
			    min-width: 220px;
			    margin-right: 20px;
			    float: left;
			}

			.detalles-pedidos .canasta-pedido .table .item-name {
			    /*font-size: 600 !important;*/
			}

			.detalles-pedidos .cart-table .item-name-col figure {
			    width: 80px !important;
			    margin-bottom: 20px;
			}

			.detalles-pedidos .extras-xs.visible-xs {
			    float: left;
			    text-align: left;
			}
			.detalles-pedidos .extras-xs.visible-xs label {
			    font-weight: bold;
			    width: 98px;
			}
			.detalles-pedidos input.form-control.cantidad {
			    text-align: center;
			    height: 28px;
			    margin: 0 auto;
			    display: inline-block;
			    width: 60px;
			}
			.row.carga-rapida-intro {
			    margin-bottom: 5px !important;
			}
			.carga-rapida-resumen.visible-sm {
			    position: absolute;
			}
			#paginacion-cargar-top .toolbox-pagination .view-count-box {
			    top: 10px;
			}
			#paginacion-cargar-top .toolbox-pagination .view-count-box span {
			    display: none;
			}
			div#paginacion-cargar-top {
			    left: 140px;
			    position: initial;
			    top: 0;
			    margin-top: 4px;
			}
			.seccion-banners .banner-centro img + img {
			    padding-top: 5%;
			}
			.megamenu .megamenu-content {
			    padding: 15px 10px 25px 30px !important;
			}
			li.titulo-lista-submegamenu a {
				margin: 10px 0;
			}
			#header .containerh .dropdown-menu {
			    position: relative;
			    width: 100%;
			    max-height: 400px;
			    overflow-y: scroll;
			    margin: 0px 0 20px !important;
			    overflow-x: hidden;
			}
			li.titulo-lista-submegamenu a {
			    font-weight: 400 !important;
			    font-size: 12px;
			}
			.dropdown > a:after {
				display: none !important;
			}
			div#lhc_status_container {
			    display: none !important;
			}
			.aside-ctrl--label {
			    top: 26px;
			}
			.dropdown-nivel2:after {
				content: none !important;
			}
			div#paginacion-cargar-top .pagination {
			    display: none;
			}
			.config-pedido-box.box4 {
			    display: none;
			}

			.input-desc-box {
				margin-bottom: 15px;
			}
			#login-form > div > div > div:nth-child(3) {
			    margin-bottom: 15px;
			}
			.acceso-crear-cuenta,
			.tips-recuperar {
			    margin-top: 40px;
			}
			input.btn[value="Reestablecer"] {
			    float: left !Important;
			    margin-bottom: 10px;
			}
			.icon-button.icon-like {
			    margin-right: 5px;
			}
			.desea-hacer a {
			    display: block;
			    width: 80vmin;
			    margin: 10px auto !important;
			}
			.banner-centro.no-padding > a:nth-child(1) > img {
			    margin-bottom: 5.5%;
			}
			#products-tabs-content {
			    /*min-height: auto;*/
			}
			li.product-valor div {
			    border-bottom: 1px solid #DFDFDF;
			    border-top: 1px solid #ECECEC;
			    padding-bottom: 7px;
			}
			.tabs {
			    display: none;
			  }

			 .tab-accordion_heading {
			    background-color: #fff;
			    border-top: 1px solid #ccc;
			    margin: 0;
			    padding: 10px 20px;
			    display: block;
			    cursor: pointer;
			    font-weight: normal;
			    color: #666;
			    font-size: 1em;
			 }
			.d_active {
			    background-color: #0664cd;
			    color: #FFF;
			    border-color: #0664cd;
			}
			.form-contact {
			    margin-bottom: 40px;
			}
			.item-pcontrol {
			    width: 33.3%;
			}
			.toolbox-filter .sort-box div {
			    margin-bottom: 7px;
			}
}

@media (max-width: 600px) {

  .datos-sucursal ul.address li.pbx, .datos-sucursal ul.address li.email {
    width: 100%;
  }

  .datos-sucursal ul.address li.horarios-fsemana span {
    display: none;
  }

  a.btn {
    font-size: 13px;
  }

  #quick-access .quick-search-form .form-group {
    width: 205px;
  }

  .row.seccion-banners {
    display: none;
  }

  .carga-rapida-products .sort-box input.boton-busqueda-productos {
    display: initial;
  }

  ul.breadcrumb {
    font-size: 12px;
  }

  .header-link > a {
    font-size: 11px;
    font-weight: normal !important;
  }

  div#paso3 a.btn, div#paso2 a.btn, div#paso1 a.btn {
    float: left;
    display: inline-block;
    width: 100%;
  }

  #paginacion-bottom-cargar ul.pagination {
    margin-top: 0 !important;
  }

  /*#footer .links li {
          padding-left: 0;
          background-image: none !important;
          line-height: 18px;
      }*/
  #footer .links li a {
    font-size: 12px;
  }

  #login-form > div > div > span:nth-child(4) > span {
    top: -8px;
  }

  .datos-totales + div + div > div div.pull-left > a.btn {
    display: block;
    margin-bottom: 5px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px){

  h3 {
    font-size: 19px;
  }

  .drop-price {
    display: none;
  }

  #quick-access {
    width: 50%;
  }

  .item.item-list .item-image-container {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  #product-image-carousel-container {
    width: 54px;
    margin-right: 16px;
  }

  #product-image-container {
    width: 230px;
    height: inherit;
  }

  #product-image-container .item-price-container {
    width: 90px;
    height: 90px;
    font-size: 23px;
    line-height: 20px;
  }

  #product-image-container .item-price-container .old-price {
    margin-top: 25px;
  }

  #product-image-container .item-price-container .item-price {
    margin-top: 35px;
  }

  .twitter_feed .flex-direction-nav {
    top: 100%;
    margin-left: -84px;
    margin-top: -10px;
  }

  #footer .facebook-likebox iframe {
    height: 260px;
  }

  #shipping-form .control-label {
    width: 110px;
  }

  #shipping-form .input-container {
    width: 140px;
  }

  .team-member,
  .service-box-container {
    width: 100%;
    float: none;
  }

  #content.no-content {
    min-height: 600px;
  }

  .no-content .no-content-comment {
    width: 100%;
    background-size: 100%;
    background-position: center center;
    margin-left: -50%;

  }

  .pago, .entrega {
    /* width: 100%; */
    height: auto;
  }

  .pago img {
    width: 100%;
  }

  #sticker #contact-form .input-group.pull-left, #sticker #contact-form .input-group.pull-right {
    width: 100%;
  }

  .datos-sucursal .mapa {
    float: none !important;
    margin: auto;
    width: 140px;
  }

  .datos-sucursal ul.address {
    max-width: none;
    width: 100%;
  }

  #login-tabs ul li a {
    border: 1px solid #ddd !important;
    border-radius: 3px 3px 0 0 !important;
    font: 500 13px/15px "Open Sans", Arial, sans-serif !important;
    height: 45px;
    max-width: 210px;
    padding: 15px 10px !important;
    text-align: center !important;
  }

  div.item-pc {
    width: 100% !important;
  }

  /*  .content-title h2 {
        font: 13px/38px "Open Sans",Arial,sans-serif;
        font-weight: 600;
    }*/
  .view-count-box .select-dropdown {

    margin-top: 2px;
  }

  .lista-categorias .item {
    min-height: 280px;
  }

  #breadcrumb-container {
    font-size: 12px;
  }

  .breadcrumb > li + li:before {
    padding: 0 3px;
  }

  .carga-rapida-products .sort-box {
    width: 100%;
  }

  .header6 #inner-header {
    padding-top: 10px;
  }

  .header6 #inner-header .logo-container {
    margin-bottom: 0px;
  }

  .logo img {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    left: -7px;
  }

  .logo-footer img {
    width: 50%;
    height: auto;
  }

  .quick-search-form .form-control {
    height: 30px;
    padding: 5px;
    width: auto;
  }

  #quick-search {
    height: 30px
  }

  #quick-search {
    background-position: 0 -120px;
  }

  #quick-access .quick-search-form .form-group {
    max-width: 180px;
  }

  .dropdown-cart-menu-container {
    top: 73px;
  }

  .dropdown-cart-menu-container {
    top: 87px !important;
  }

  #footer h3 {
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
  }

  .links-pie {
    font-size: 12px;
    line-height: 17px;
  }

  .copy {
    font-size: 10px;
  }

  .recomendar-amigo > a > span {
    display: none;
  }

  .recomendar-amigo {
    float: left;
    border-right: none;
  }

  .canasta-pedido .table figure {
    width: 100% !important;
  }

  #content-bot-canasta .btn {
    width: 100%;
  }

  .row.home-banners {
    display: none;
  }

  .input-group {
    margin-bottom: 15px;
  }

  .deseas-hacer a.btn {
    display: block;
    margin: 10px 0;
  }

  .entregas-contactos ul strong {
    display: block !important;
    width: 100% !important;
    margin-bottom: 3px !important;
  }

  .entregas-contactos ul strong:before {
    content: '.';
    position: relative;
    left: -3px;
    line-height: 0;
    font-size: 30px;
    top: -3px;
  }

  .datos-entregas {
    width: 100% !important;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  #paginacion-cargar-top .toolbox-pagination .view-count-box {
    top: 46px;
  }

  .seccion-banners {
    display: none;
  }

  .header6 .dropdown-cart-menu-container {
    margin-top: -9px;
  }

  .sort-box.products-categories .col-md-6 {
    width: 100%;
  }

  .row.carga-rapida-productos toolbox-filter > div > div > div:nth-child(2) > div,
  #filtros-top > toolbox-filter > div > div > div:nth-child(2) > div.pull-right {
    float: left !Important;
  }

  .products-categories input.boton-busqueda-productos {
    width: 155px;
  }

  #product-image-carousel-container {
    display: none;
  }

  .product-viewer #product-image-container {
    width: 100%;
  }

  .datos-sucursal ul.address li.nombre {
    margin-top: 20px;
  }

  .item-pcontrol {
    width: 50%;
  }

  .left-small {
    float: left !important;
  }

  .full-small {
    width: 100%;
  }

  .sort-box .btn.select-btn {
    padding: 1px 5px;
  }
}

@media (max-width: 380px) {
  .pagination > li > a, .pagination > li > span {
    margin-left: 1px;
    width: 25px;
  }

  #login-tabs ul li a {
    font: 500 12px/15px "Open Sans", Arial, sans-serif !important;
    height: 36px;
    padding: 10px 7px !important;
  }

  .lista-categorias .item {
    min-height: 285px;
  }

  #quick-access .quick-search-form .form-group {
    max-width: 145px !important;
  }

  .quick-search-form .form-group {
    top: 3px !important;
  }

  .header6 #quick-search {
    margin-top: 3px;
  }

  .header6 #inner-header {
    padding-top: 5px;
  }

  .header6 #inner-header .header-inner-right {
    margin-bottom: 30px;
  }

  .header6 .dropdown-cart-menu-container {
    top: 83px !important;
  }

  #footer h3 {
    font-size: 12px !important;
    font-weight: normal !important;
  }

  .txt-logo-footer h6 {
    font-size: 12px !important;
    font-weight: normal !important;
  }

  ul.redes-producto span {
    display: none;
  }

  /*.canasta-pedido .table .datos-prod {
        max-width: 290px !important;
        margin-right: 0px;
    }*/
  .datos-prod {
    float: none !important;
  }

  .datos-prod > .item-name {
    text-align: center !important;
    float: none;
  }

  .canasta-pedido .table .cantidad {
    width: 60px !important;
  }

  p.header-text {
    font-size: 10px;
  }

  #header .dropdown-cart .dropdown-cart-menu {
    padding: 10px;
    width: 280px;
  }

  .dropdown-menu.dropdown-cart-menu div[ng-if^="cart"] {
    min-width: 260px;
  }

  .dropdown-cart .dropdown-cart-product-list figure img {
    max-width: 90%;
  }

  .dropdown-cart .dropdown-cart-product-list figure {
    width: 70px;
  }

  .dropdown-cart .dropdown-cart-product-list figure {
    height: 70px;
  }

  .cart-resume-2-item {
    max-height: 190px !important;
  }

  .cart-resume-1-item {
    max-height: 110px !important;
  }

  .cart-resume-3-item {
    max-height: 300px !important;
  }

  /*ADAPTACIÃ“N DEL CAPTCHA*/
  .captcha > .ng-isolate-scope {
    transform: translateX(-27px) scale(.8);
    -webkit-transform: translateX(-27px) scale(.8);
    -moz-transform: translateX(-27px) scale(.8);
    -ms-transform: translateX(-27px) scale(.8);
  }

  .recibir-promociones input {
    width: 20px;
    margin: 3px 2px 0 0;
  }

  .recibir-promociones .col-md-12.pointer {
    display: flex;
  }

  div#actualizacion-usuario .nav-pills li {
    width: 100%;
    margin: 0;
  }

  div#actualizacion-usuario .nav-pills li a {
    border-radius: 0;
  }

  .cuenta-promo {
    display: flex;
  }

}


/* Retina Display */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

    .service-icon {
      background-image: url('../img/sprites/aboutus-icons@2x.png');
      background-size: 496px 248px;
      -webkit-background-size: 496px 248px;
    }

    .twitter_feed .flex-direction-nav a {
      background-image: url('../img/sprites/twitterfeednav@2x.png');
      background-size: 70px 50px;
      -webkit-background-size: 70px 50px;
    }

    #responsive-nav-button #responsive-nav-button-icon {
      background-color: #75BFFF;
      background-image: url(../img/sprites/responsive-menu-icon@2x.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 21px 21px;
      -webkit-background-size: 21px 21px;
    }

    .ratings {
      background-image: url(../img/sprites/ratings@2x.png);
      background-size: 94px 32px;
      -webkit-background-size: 94px 32px;
    }

    .ratings .ratings-result {
      background-image: url(../img/sprites/ratings@2x.png);
      background-size: 94px 32px;
      -webkit-background-size: 94px 32px;
    }

    .footerslider .ratings {
      background-image: url(../img/sprites/ratings-small@2x.png);
      background-size: 86px 32px;
      -webkit-background-size: 86px 32px;
    }

    .footerslider .ratings .ratings-result {
      background-image: url(../img/sprites/ratings-small@2x.png);
      background-size: 86px 32px;
      -webkit-background-size: 86px 32px;
    }

    .item-add-btn.icon-cart {
      background-image: url(../img/sprites/cart@2x.png);
      background-size: 22px 18px;
      -webkit-background-size: 22px 18px;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .category-toolbar .icon-button {
      background-image: url(../img/sprites/category-icons@2x.png);
      background-size: 70px 30px;
      -webkit-background-size: 70px 30px;
    }

    .category-toolbar .icon-button:hover,
    .category-toolbar .icon-button:focus,
    .category-toolbar .icon-button:active,
    .category-toolbar .icon-button.active {
      background-image: url(../img/sprites/category-icons-active@2x.png);
      background-size: 70px 30px;
      -webkit-background-size: 70px 30px;
    }

    .elastislide-wrapper nav span {
      background-image: url(../img/sprites/product-nav@2x.png);
      background-size: 60px 50px;
      -webkit-background-size: 60px 50px;
    }

    .icon-button {
      background-image: url(../img/sprites/item-icons@2x.png);
      background-size: 70px 35px;
      -webkit-background-size: 70px 35px;
    }

    #main-nav-container #main-nav .menu li .mega-menu .mega-menu-list li,
    #main-nav-container #main-nav #responsive-nav ul li .mega-menu .mega-menu-list li {
      background-image: url(../img/sprites/menu-list-type@2x.png);
      background-size: 6px 6px;
      -webkit-background-size: 6px 6px;
    }

    #footer .links li {
      background-image: url(../img/sprites/footer-menu-list-type@2x.png);
      background-size: 6px 6px;
      -webkit-background-size: 6px 6px;
    }

    .filter-icon {
      background-image: url(../img/sprites/category-filter-icons@2x.png);
      background-size: 100px 50px;
      -webkit-background-size: 100px 50px;
    }

    .services-slider .service-icon {
      background-image: url(../img/sprites/service-icons@2x.png);
      background-size: 496px 248px;
      -webkit-background-size: 496px 248px;
    }

    /* Custom selectbox retina*/
    .sbToggle {
      background-image: url(../img/sprites/selectbox@2x.png);
      background-size: 76px 38px;
      -webkit-background-size: 76px 38px;
    }

    .large-selectbox .sbToggle {
      background-image: url(../img/sprites/selectbox-large@2x.png);
      background-size: 94px 47px;
      -webkit-background-size: 94px 47px;
    }

  }
