/**
* PALLOMARO
*/
@media (min-width: 1200px) {
	#category-header.category-banner {
	    margin-bottom: 12px !important;
	}
	.item .item-image-container img {
	    max-width: 175px !important;
	    max-height: 180px;
	}
	.item-image-wrapper {
	    height: 165px;
	}
	.item.item-product {
	    max-height: 350px;
    	min-height: 370px;
	}
	#quick-access .quick-search-form .form-group {
	    width: 380px;
	}
	.header6 #main-nav-container #main-nav .menu > li:first-child a {
	    padding-left: 15px;
	}
	.lista-categorias .item {
	    min-height: 250px;
	}
}

@media (min-width:992px) and (max-width:1199px) {
	.item-image-wrapper img {
	    max-height: 120px !important;
	    min-height: 120px !important;
	}
	.header6 #main-nav-container #main-nav .menu > li> a {
		padding: 11px;
	}
	.item-image-wrapper {
	    height: 135px !important;
	}
	#top-links li {
	    margin-right: 0;
	}
	.item.item-product {
	   	max-height: 320px;
    	min-height: 320px;
	}
	#footer h3 {
	    font-size: 1.1em;
	}
	.datos-prod {
	    width: 195px;
	}
	.table-striped.tb-cotizacion {
	    font-size: 12px;
	}
	#main-nav-container.fixed {
	    max-width: inherit;
	    padding: 10px;
	}
	.item-price-container {
	    margin-top: 25px;
	}
	#main-nav-container.fixed .search-input-menu-text {
	    position: absolute;
	    right: 140px;
	}
	#main-nav-container.fixed .search-box-input input {
	    width: 130px;
	}
	#main-nav-container.fixed .search-box-input input:focus {
	   width: 200px;
	}
	.marg-bot-0 {
	    margin-bottom: 40px;
	}
	.carac-promo {
	    width: 100%;
	    margin-bottom: 40px;
	}
	.carac-promo h4 br {
	    display: none;
	}
	.items-promo section {
	    padding: 35px 0px 10px 50px;
	}
	.txt-logo-footer p {
	    font-size: 13px;
	    line-height: 1.4em;
	}
	.tunnel_new .panel-heading {
	    font: 400 15px/16px "Roboto", Arial, sans-serif;
	    box-shadow: inset 15px 0px #ff8d00;
	    padding-left: 25px;
	}

}
@media (min-width:768px) and (max-width:991px) {

	#category-header.category-banner {
	    margin-bottom: 17px !important;
	}
	.dropdown > a:after {
	    font-size: 14px !important;
	    margin-left: 1px !important;
	}

	ul#top-links {
	    display: none;
	}
	#footer h3 {
	    font-size: 17px;
	}
	#top-links {
	    display: none;
	    top: 30px;
	    position: absolute;
	    background: #E9E9E9;
	    right: 0px;
	    width: 250px;
	    z-index: 99999;
	}
	#top-links li a {
	    color: #555555;
	}
	#top-links .mi-carrito-top a {
	    padding: 6px;
	    margin: 0;
	}
	#top-links li.visible-tb {
	    width: 100%;
	    float: left;
	    border-bottom: 1px solid #cccccc;
	    padding: 0;
	    border-left: none;
	}

	#top-links .mi-carrito-top {
	    border-left: none;
	}
	#top-links .mi-cuenta-top a {
	    width: 100%;
	}
	.item .item-image-container img {
	    max-width: 125px !important;
	}
	.item-image-wrapper {
	    max-height: 130px;
	}
	.item.item-product {
	    max-height: 310px !important;
    	min-height: 310px;
	}
	.item-price-container {
	    margin-top: 15px;
	}
	.canasta-pedido.pagcanasta .table figure {
	    display: none;
	}
	.canasta-pedido .table .item-name {
	    font-size: 13px;
	    line-height: 17px;
	}
	.config-pedido-box.box2 {
	    padding: 0 !important;
	}
	.config-pedido-box.box1 h5,
	.config-pedido-box.box2 h5,
	.config-pedido-box.box3 h5 {
	    background: none !important;
	    padding: 0 !important;
	    text-align: center;
	}
	.config-pedido-box h5 {
	    font-size: 14px !important;
	    font-weight: 600;
	}
	#filtros-top-cotizacion .ver-cotizacion {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: end;
	    -ms-flex-pack: end;
	    justify-content: flex-end;
	}
	.paginador-cotizacion .paginador-pp {
	    float: left;
	}
	.header-cotizacion {
        padding: 0 !important;
        margin-bottom: 20px;
    }
    .header-cotizacion strong {
        font-size: 15px !important;
    	font-weight: 700 !important;
    }
    .table-striped.tb-cotizacion {
        font-size: 11px;
    }
    .anotaciones strong {
        font-size: 12px;
    }
    .header6 #main-nav-container #main-nav .menu > li> a {
	    padding: 12.5px 10px;
	    font-size: 12px;
	}
	#main-nav-container.fixed {
	    max-width: inherit;
	}
	.header-box.user-box {
	    display: block !important;
	}
	.newsletter-inner strong {
	    text-align: center;
	    display: block;
	}
	.newsletter-inner {
	    min-height: 70px;
	}
	.newsletter-inner:before {
	    top: 5px;
	}
	.newsletter-inner:after {
	    top: 6px;
	}
	.bloque_1-home-desc h2 {
	    font-size: 25px;
	    margin-bottom: 4px;
	}
	.carac-promo {
	    margin-bottom: 40px;
	}

	.items-promo section {
	    padding: 30px 0px 10px 30px;
	}
	.carac-promo h4 br {
	    display: none;
	}
	.welcome-row {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: reverse;
	        -ms-flex-direction: column-reverse;
	            flex-direction: column-reverse;
	}
	.txt-logo-footer {
	    width: inherit;
	}
	.sidebar #category-filter.acc-nuestros-productos h3 {
	    font: 300 15px/30px "Oswald",Arial,sans-serif !important;
	    padding: 0px 10px 0 15px;
	    letter-spacing: 0;
	    box-shadow: none;
	}
	#category-filter .panel .accordion-title span {
	    padding-left: 35px;
	}
	#category-filter.acc-nuestros-productos .accordion-header {
	    padding: 10px;
	}
	#category-filter.acc-nuestros-productos .accordion-title a {
	    letter-spacing: inherit;
	    font-size: 13px;
	}
	.categorie-bar-home #acc-categorias {
	    height: calc(100% - 45px);
	}
	.search-box-input {
	    width: 130px;
	}

	.search-input-menu-text {
	    padding: 7px !important;
	}
	.search-box-input input {
	    width: 90px;
	}
	.search-box-input input:focus {
	   width: 200px;
	   position: absolute;
	   right: 35px;
	}
	#main-nav-container.fixed .search-box-input input {
	    width: 95%;
	}
	#main-nav-container.fixed .search-box-input {
	    width: 100%;
	}
	#main-nav-container.fixed .search-input-menu-text {
	    width: 100%;
	}
	#main-nav-container.fixed .search-input-menu-text {
		padding: 15px 0 5px;
	}
	.small-box {
	    margin-bottom: 20px;
	}
	.orderlist {
	    text-align: right;
	    position: relative;
	    right: -15px;
	}
	#filtros-top-cotizacion .paginacion-cotizacion {
	    padding: 0;
	}
	.search-cotizacion, .orderlist {
	    margin-bottom: 15px;
	}

}
@media (max-width: 767px) {
    #top-links {
	    display: none;
	    top: 30px;
	    position: absolute;
	    background: #E9E9E9;
	    right: 0px;
	    width: 250px;
	    z-index: 99999;
	}
	ul#top-links.active {
		display: block;
	}
	#top-links li a {
	    color: #555555;
	}
	#top-links .mi-carrito-top a {
	    padding: 6px 6px 22px;
	    margin: 0;
	}
	#top-links li.visible-tb {
	    width: 100%;
	    float: left;
	    border-bottom: 1px solid #cccccc;
	    padding: 0px;
	    border-left: none;
	}
	#footer h3 {
	    font-size: 18px;
	    font-weight: 600;
	}
	.logo {
	    text-align: left;
        margin: 15px 0;
	}
	.logo img {
	    width: 180px;
	    height: 80px;
	}
	#top-links li a {
	    padding: 0;
	    border-right: 0;
	    height: 0;
	    margin: 5px 5px 22px;
	    padding-left: 9px;
	}
	#top-links .mi-cuenta-top a {
	    width: 100%;
	}
	.item .item-image-container img {
	    max-height: 180px;
	}
	.item-image-wrapper {
	    height: 180px;
	}
	.header-text span.glyphicon {
	    color: #626262;
	    font-size: 18px;
	    position: relative;
	    top: 5px;
	    left: 2px;
	    display: inline !important;
	}
	.category-item-container .item {
	    min-height: 370px;
	}
	.banner-centro.no-padding > a:nth-child(1) > img {
	    margin-bottom: 4%;
	}

	#pestana_der {
	    bottom: 0;
	    width: 100%;
	    top: inherit;
	    border-radius: 0;
	    box-shadow: inset 0 1px 0px rgb(90, 90, 90);
	    z-index: 9;
	    background: #313131;
	}
	#pestana_der li {
	    box-shadow: none;
	    display: inline-block;
	    position: relative;
	}
	#pestana_der li a {
		    color: #eee;
	    border-right: 0;
	    height: 40px;
	    width: 40px;
	    box-shadow: 1px 0 0 rgb(90, 90, 90);
	}
	#pestana_der li a i {
	    font-size: 20px;
	    top: -4px;
	    position: relative;
	}
	#pestana_der li:first-child a {
	    box-shadow: 1px 0 0 rgb(90, 90, 90), -1px 0 0 rgb(90, 90, 90);
	}
	#pestana_der li a:hover {
	    width: 50px;
	}
	#pestana_der li:hover a {
	    border-right: 0;
	    color: #9a9a9a;
	}
	#pestana_der:hover a {
	    width: 40px;
	    color: #eee;
	}
	/*.derechos {
	    padding: 1px 0 60px;
	}*/
	.ttip_pd {
	    margin-top: -45px;
	    padding: 5px 6px;
	    box-shadow: none;
	    bottom: 47px;
	    border-radius: 0;
	}
	.ttip_pd {
	    right: initial;
	}
	.ttip_pd:after {
	    left: 20px;
	    top: 100%;
	    margin-top: 0px;
	    border-top-color: #f58634;
	    border-left-color: transparent;
	}
	@-webkit-keyframes bounceInRight {
	    0% { opacity: 0; -webkit-transform: translateY(200px); }
	    40% { opacity: 1; -webkit-transform: translateY(-30px); }
	    60% { -webkit-transform: translateY(10px); }
	    100% { -webkit-transform: translateY(0); }
	}
	@-moz-keyframes bounceInRight {
	    0% { opacity: 0; -moz-transform: translateY(200px); }
	    40% { opacity: 1; -moz-transform: translateY(-30px); }
	    60% { -moz-transform: translateY(10px); }
	    100% { -moz-transform: translateY(0); }
	}
	@keyframes bounceInRight {
	    0% { opacity: 0; transform: translateY(200px); }
	    40% { opacity: 1; transform: translateY(-30px); }
	    60% { transform: translateY(10px); }
	    100% { transform: translateY(0); }
	}
	#responsive-nav-button #responsive-nav-button-icon {
	    background-color: #626262;
	}
	#responsive-nav-button:hover #responsive-nav-button-icon,
	#responsive-nav-button.active #responsive-nav-button-icon {
	    background-color: #9E9E9E;
	}
	#main-nav-container #main-nav #responsive-nav ul li ul a .subitem-menu img {
	    width: 18px;
	    float: left;
	    margin-right: 10px;
	}
	#main-nav-container #main-nav #responsive-nav ul li ul a .subitem-menu p {
	    font-size: 12px;
	    margin-bottom: 3px;
	}
	#main-nav-container #main-nav #responsive-nav ul li ul a {
	    padding: 10px 0 0px 8px !important;
	}
	#slthird {
	    display: none;
	    font-size: 13px;
	    line-height: 20px;
	    /* margin: 17px 0; */
	    position: absolute;
	    background: #990c54;
	    z-index: 99999;
	    padding: 10px 10px 10px;
	    top: 31px;
	    border: 1px solid #EEEEEE;
	}
	.iconos-tercero {
	    font-size: 1.6em;
	    float: left;
	    position: absolute;
	    top: 2px;

	}
	.d_active {
	    background-color: #454545;
	    color: #FFF;
	    border-color: #454545;
	}
	#wrapper-detail-description {
	    height: auto;
	}
	.resumen-cotizaciones div {
	    margin-bottom: 4px;
	    text-align: center;
	}
	.paginador-cotizacion .paginador-pp {
	    float: left;
	}
	.ordenar-cotizacion div {
	    float: right;
	    left: 13px;
	}
	.select-dropdown .select-btn {
	    padding: 3px 8px !important;
	}
	.header-cotizacion {
	    padding: 0 15px 20px !important;
	}
	.logotipo-header-cotizacion {
	    width: 100%;
	}
	.logotipo-header-cotizacion img {
	    width: 180px;
	    display: block;
	    margin: 0 auto 30px;
	}
	.header-cotizacion strong {
	    font-size: 15px !important;
	    font-weight: 700 !important;
	}
	.header-cotizacion .cotizacion-datos-header strong {
	    font-size: 15px !important;
	}
	.text-center.datos-header {
	    text-align: left;
	}
	.col-md-3.firma {
	    margin-bottom: 20px;
	}
	#main-nav-container {
	    background: #ececec;
	}
	.logo img {
	    width: 200px;
	    height: auto;
	}
	.header6 #inner-header .logo-container {
	    margin-bottom: 10px;
	}
	#header {
	    -webkit-box-shadow: 1px 1px 10px 1px #ececec, 0 -52px #ececec inset, 0 -44px #ececec inset;
	    box-shadow: 1px 1px 10px 1px #ececec, 0 -52px #ececec inset, 0 -44px #ececec inset;
	}
	#responsive-nav-button #responsive-nav-button-icon {
	    margin-left: 0;
	}
	.search-input-menu-text {
	    padding: 8px 0 0 !important;
	}
	#quick-access {
	    margin-top: 15px;
	}
	.flex-container.home {
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: reverse;
	        -ms-flex-direction: column-reverse;
	            flex-direction: column-reverse;
	}
	.btn-mostrar-catg {
	    background-color: #f55f00 !important;
	    margin: 10px !important;
	}
	.owl-carousel .item {
	    min-height: 345px;
	}
	.welcome_message-content {
	    width: inherit;
	}
	.bloque_1-home-desc h2 {
	    font-size: 23px;
	    margin-bottom: 2px;
	}
	.banner_block {
	    margin-bottom: 20px;
	}
	.header-box.user-box {
	    display: block !important;
	}
	.header6 .dropdown-cart-menu-container {
	    position: inherit;
	    z-index: inherit;
	}
	.header-inner-right-wrapper {
	    padding-top: 5px;
	}
	.header6 #inner-header .header-inner-right {
	    margin-bottom: 10px;
	    /*position: 0 15px 0 0;*/
	}
	#category-header.category-banner {
	    margin-top: 0;
	}
	.welcome-row {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: reverse;
	        -ms-flex-direction: column-reverse;
	            flex-direction: column-reverse;
	}
	.items-promo section {
	    padding: 30px 0px 0 20px;
	}
	.carac-promo {
	    width: 100%;
    	padding-left: 70px;
    	margin-bottom: 25px;
	}
	.carac-promo .mi-img {
	    width: 55px;
	    height: 55px;
	}
	.carac-promo h4 br {
	    display: none;
	}
	.banners-bloque1-home {
	    margin-bottom: 10px;
	    margin-top: 25px;
	}
	.banners-bloque1-home div[class^="col-"]:last-child {
	    display: none;
	}
	.li-productos {
	    position: relative !important;
	}
	#product-image-container figure {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
	.btns-bot-canasta a {
	    padding: 7px 8px;
	}
	.canasta-pedido .table .item-name {
	    margin-bottom: 10px !important;
	}
	.tunnel_new .control-label {
	    padding: 5px 15px 0;
	}
	.tunnel_new .resumen-canasta {
	    background: #fff;
	}
	.tunnel_new .panel-heading {
	    font: 400 15px/13px "Roboto", Arial, sans-serif;
	    box-shadow: inset 10px 0px #ff8d00;
	    padding-left: 20px;
	}
	.small-box {
	    margin-bottom: 10px;
	}
	.search-cotizacion input {
	    width: 98%;
	}
	.orderlist {
	    text-align: right;
	    position: relative;
	    right: -15px;
	}
	.orderlist label {
	    margin: 1px;
	}
	.search-cotizacion, .orderlist {
	    margin-bottom: 15px;
	}
	#filtros-top-cotizacion .paginacion-cotizacion {
	    padding: 0;
	}
}

@media (max-width: 600px) and (min-width: 480px) {
	.user-box .header-box-icon-earphones {
	    display: none;
	}
	#header .dropdown-cart-menu-container .dropdown-toggle {
	    padding: 1px 10px 0px 50px;
	    font-weight: 400;
	}
	.header-box {
	    margin-left: 0;
	    padding: 7px 10px;
	}
	.logo img {
	    width: 170px;
	}
	.header-inner-right-wrapper {
	    padding-top: 0;
	}
	.user-box, .transp-box {
	    top: 9px;
	}
}

@media (max-width: 480px) {
	/*.logo img {
	    width: 139px;
	    height: 65px;
	    top: -3px;
	}*/
	#filtros-top-cotizacion .ordenar-cotizacion {
	    display: none;
	}
	.text-center.datos-header {
	    margin-bottom: 20px;
	}
	.text-center.datos-header,
	.cotizacion-datos-header {
	    width: 100%;
	    text-align: center;
	}
	.cotizacion-datos-header .text-right {
	    text-align: center;
	}
	.cabezas-info + .entregas-contactos ul strong {
    	display: inherit !important;
	}
	.cabezas-info + .entregas-contactos ul strong:before {
	    content: none;
	}
	.botonera-acciones a {
	    display: block;
	}
	.header6 .dropdown-cart-menu-container {
	    margin-top: -1px;
	}
	.logo {
	    text-align: center;
	    margin: 10px 0 15px;
	}
	.logo img {
	    width: 200px;
	    height: auto;
	    top: 0;
	}
	.dropdown-cart-menu-container {
	    top: 103px !important;
	}
	.email-bottom {
	    display: none;
	}
	.bloque_1-home-desc h2 {
	    font-size: 20px;
	}
	.purchased-items-container.carousel-wrapper h2 {
	    letter-spacing: 0;
	}
	.header6 #inner-header .logo-container {
		margin-bottom: 10px;
	    width: 100%;
	}
	.header6 #inner-header .header-inner-right {
	    margin-bottom: 5px;
	    width: 100%;
	}
	.user-box, .transp-box {
	    top: -9px;
	}
	#main-nav-container .search-box {
	    width: 70%;
	}
	#inner-footer div[class*="widget sm-margin"] {
	    width: 100%;
	}
	#footer .links li a {
	    font-size: 13px;
	}
	.links-pie {
	    font-size: 13px;
	    line-height: 18px;
	}
	.links-pie span {
	    min-height: 23px;
	}
	.header-box.user-box {
	    float: left !important;
	}
	.search-box-input {
	    width: 200px;
	}
	.orderlist span.separator {
	    display: none;
	}
	.search-cotizacion #buscar-filtrar {
	    display: none;
	}
}
@media (max-width: 380px) {

	#quick-access .quick-search-form .form-control {
	    width: 80%;
	}
	#quick-access .quick-search-form .form-group {
	    background: transparent;
	}
	.quick-search-form .form-group {
	    top: 7px !important;
	}
	.header6 #quick-search {
	    margin-top: 3px;
	    top: 4px;
	    position: relative;
	}
	.text_transporte {
	    width: 80px;
	}
	.header6 .dropdown-cart-menu-container {
	    top: 94px !important;
	}
	.purchased-items-container.carousel-wrapper h2 {
	    font-size: 16px;
	    text-shadow: none;
	    letter-spacing: 0;
	}
	.welcome_message-content h2 {
	    line-height: 36px;
	}
	.user-box .header-box-icon-earphones {
	    display: none;
	}
	.header-box.user-box {
	    padding-left: 0;
	}

}

.modal {
    z-index: 99999;
}


/*Estilos para imprimir, cotizaciones*/

@media print {
	//body{
    //-webkit-print-color-adjust:exact;
    //print-color-adjust:exact;
	//}
	@page { margin: 5mm; size: A3;}
    #footer,
    #header,
    #pestana_der,
    #lhc_status_container,
    .detalles-pedido-titulo,
    .calificacion,
    .botonera-acciones,
    #scroll-top.fixed,
    .separador-detalles-pedidos,
    .breadcrumb,
    .footer_newsletter {
         display: none;
    }
    section#content div + .container, .container.fondo-blanco, #breadcrumb-container + div > .container {
	    padding: 0 20px;
	    width: 100%;
	  }
    .header-cotizacion {
    	padding: 0;
    }
    a:link:after, a:visited:after {
    	content:" [" attr(href) "] ";
    	font-size: 0%;
    }
    .f_anexos {
	    margin-left: 20px;
	  }

	.select_print, input {
      border: none;
  }
	.header-cotizacion {
	    padding: 0 20px;
	}
	.header-cotizacion b {
	    font-size: 14px;
	}
	#cotizacion-form .col-md-4,
	.pedidos-bloques1.col-md-4 {
	    width: 33.3%;
	    float: left;
	    padding: 0;
	}

	.detalles-pedidos .table .table-title {
	    font: 400 13px/22px "Open sans",sans-serif;
	    padding: 5px 7px;
	}
	h4.titulo-detalle-tabla {
	    font-size: 15px;
	}
	.table-striped.tb-cotizacion {
	    float: right;
	}
	.table.tb-cotizacion td {
        vertical-align: middle;
        /*line-height: auto;*/
    }
	#cotizacion-form .col-md-4,
	#cotizacion-form .detalles-pedidos .col-md-12,
	#cotizacion-form .anotaciones-block.col-md-12,
	#cotizacion-form .formas-block.col-md-12 {
	    padding: 0;
	}
	.anotaciones-block .col-md-4 {
	    width: 38.5% !important;
	}
	.anotaciones-block .col-md-8 {
	    width: 60% !important;
	}

	.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
	    background-color: #f7f7f7 !important;
	}
	.header-cotizacion b span {
	    color: red !important;
	}
	.cabezas-info.text-left {
        background-color: #f58634 !important;
        color: white !important;
    }
    .cabezas-info.text-left.asesor,
    .pedidos-bloques1  .cabezas-info.text-left.asesor{
        background-color: #CEB814 !important;
    }
    th.table-title {
        background: #626262 !important;
        color: #FFFFFF !important;
        border-color: #ffffff !important;
    }
    .anotaciones strong {
        background-color: #CEB814 !important;
        color: white !important;
    }
    .anotaciones strong.print-green,
    .cabezas-info.text-left.asesor.verdeprint{
	    background-color: #f58634 !important;
	}
    .calificacion {
	    display: none;
	}
	.only_print{
		display: inline-block;
	}
	.no_print{
		display: none !important;
	}
    .header-cotizacion strong{
    	font-size: 20px !important;
    }
    .header-cotizacion strong span {
        color: red !important;
    }
    .firma strong{
        font-size: 15px !important;
    }

}



@media (max-width: 480px) {
	#formulario-busqueda-header [uib-typeahead-popup].dropdown-menu{
		right: -45px !important;
	}
}