.small-box > .inner {
    padding: 10px 10px 5px;
}
.small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: -10px;
    right: 25px;
    z-index: 0;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
    padding: 0;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(49, 49, 49, 0.38);
}
.small-box p {
    font-size: 15px;
    color: #fff;
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box i {
    -webkit-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
}
.small-box:hover i {
    transform: scale(.9);
    color: rgba(241, 241, 241, 0.45);
}

.bg-aqua {
    background-color: #00c0ef;
}
.bg-yellow {
    background-color: #f39c12;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-red {
    background-color: #dd4b39 !important;
}
