/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 1/07/2015, 08:34:50 AM
    Author     : creativo01
*/

.no-padding{ padding: 0;}

.no-border{ border:none!important}

label {
    font-weight: 400;
}
.moneda-top select {
    height: 26px;
    margin-top: 4px;
    padding: 0 2px!important;
    width: 80px;
    float: right;
}

.moneda-top label {
    font-weight: normal;
    float: left;
    padding: 8px 10px 0 0;
}

#top-links .fa {
    font-size: 16px;
    padding-right: 4px;
}

#top-links .mi-cuenta-top{
    margin-right: 0;
}

#top-links .mi-cuenta-top a {
    background: #0664cd;
    color: #fff;
    margin: 0;
    padding: 6px;
    height: auto!important;
}

#top-links .mi-cuenta-top a:hover{
    color:#fff;
    background: #055ab8;

}

#top-links .mi-carrito-top{
    border-left: 1px solid #ddd;
}

#top-links .mi-carrito-top a{
    padding: 6px;
    margin:0;
}


#quick-access .input-group-addon{
    font-size: 12px;
    text-align: center;
    color:#444;
    float:left;
    height:41px;
    padding-top:14px;
    display:none
}

/* FOOTER */

#footer h3 span {
    display: inline-block;
    width: auto;
}

#footer h3 span:after{
    background: #0664cd none repeat scroll 0 0;
    bottom: -2px;
    content: "";
    float: left;
    height: 3px;
    position: relative;
    width: 105%;}

.logo-footer{ text-align:center; padding-top:30px; padding-bottom:10px; border-bottom:1px solid #fff; margin-bottom:10px;}
.txt-logo-footer h6{ font-size: 12px; color: #fff; font-weight:bold;}
.txt-logo-footer p{ font-size:11px; line-height: 1.3em; padding-left: 10px;}

.redes-footer{ text-align:right}
.redes-footer a:hover{ opacity:0.8;}

.pago-entrega{margin-top:0;display: flex;}

.pago {
    height: 55px;
    padding: 0px;
    float:left;
    width: auto;
    margin-right: 5px;
}

.entrega {
    height: 55px;
    padding: 0px;
    width: 203px;
    float:left;
}
.formaspago {
    background-image: url('../img/aceptamos-footer.png');
    height: 55px;
    width: 368px;
}

.entregamos{
    background-image: url('../img/entregas-footer.png');
    height: 55px;
    width: 203px;
}

.derechos{ background:#121a21; padding: 1px 0 10px;}

.copy {
    color: #fff;
    font-size: 12px;
    line-height: 13px;
    margin-top: 17px;
    padding: 0 4px;
    text-align: center;
}

/* FIN FOOTER */

#acc-categorias {
    border-bottom: 1px solid #e4e2e2 !important;
}

#category-filter.acc-nuestros-productos.inicio {
    /*max-height: 423px;*/
    position: relative;
    z-index: 900;
    width: 262px;
}

.sidebar #category-filter.acc-nuestros-productos h3{
    font: 500 13px/38px "Open Sans",Arial,sans-serif!important;
    background: #374654;
    color: #fff;
    margin-bottom: 0;
}

#category-filter.acc-nuestros-productos .accordion-title {
    color: #777;
    font: 400 13px/16px "Open Sans",Arial,sans-serif;
}

#category-filter.acc-nuestros-productos .panel{
    width: 100%!important;
}

#category-filter.acc-nuestros-productos .accordion-header{
    padding: 6px 28px 6px 10px;
    background: #eeeeee;
    transition: background-color .2s ease;
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
}

#category-filter.acc-nuestros-productos .sm-accordion.custom-accordion .panel-body{
    background: #fff;
    padding: 10px !important;
}

#category-filter.acc-nuestros-productos .list-group-item{
    border: none;
    border-bottom: 1px dotted #ddd;
    padding: 3px 10px;
    font-size: 12px;
}

#category-filter.acc-nuestros-productos .filter-icon{
    background: none;
}

.sidebar .acc-nuestros-productos .widget{
    margin-bottom: 30px;
}

#category-filter.acc-nuestros-productos .sm-accordion .accordion-btn {
    height: 20px;
    width: 20px;
    background-position: -177px -291px;
    margin-top: -10px;
    right: 5px;
}

#category-filter.acc-nuestros-productos .sm-accordion .accordion-btn:hover,
#category-filter.acc-nuestros-productos .sm-accordion .accordion-btn.active {
    background-position: -177px -314px;
}

.ver-mas-cat, .ver-menos-cat {
    padding: 5px 10px 9px;
    background: #E9E9E9;
    border-top: 1px solid #DADADA;
    cursor: pointer;
}

.ver-mas-cat i,.ver-menos-cat i{
    font-size: 17px;
    padding-right: 5px;
    position: relative;
    top: 3px;
    transition: color .1s ease-in-out;
    -webkit-transition: color .1s ease-in-out;
}
.ver-mas-cat:hover i,
.ver-menos-cat:hover i {
    color: #E59204;
}
/* ESTILOS DE LISTADO DE PRODUCTOS */
.description-container{
    min-height: 25px;
    font-size: 12px;
}

.item-carateristicas {

    font-size: 11px;
    font-weight: 600;
    padding-top: 4px;
    min-height: 35px;
}

.solo-internet{
    display: block;
    color: #00c12e;
}

.agotado {
    display: inline-block;
    color: #e74c3c;
    font-weight: 500;
    position: initial !important;
}


/* ESTILOS DE FILTROS SIDEBAR */

.sidebar h4 {
    background-color: #0664cd;
    color: #fff;
    font: 400 15px/30px "Open Sans",Arial,sans-serif;
    margin-bottom: 15px;
    padding: 3px 0 3px 10px;
    margin-top: 15px;
}

.sidebar h4 a {
    font-size: 10px;
    margin: 2px 7px 0 0;
}

.sidebar .accordion-header{
    padding: 10px;
}

.sidebar .accordion-title{
    font: 400 15px/1 "Open Sans",Arial,sans-serif;
}

.sidebar .accordion-title > span{
    text-transform: none;
}

.panel .panel-body{ padding-top: 0;}

#price-range-details .input-group {
    float: left;
    width: 45%;
}

#price-range-details .input-group .input-group-addon{
    min-width: 16px;
    padding: 4px;
}

.sidebar label{
    font-weight: 400; font-size: 15px;
}


/*ESTILOS HOJA PRODUCTO*/

.informacion-producto {
    background-color: #ececec;
    padding: 15px 0 40px;
    border-bottom: 5px solid #444444;
    min-height: 180px;
    position: relative;
}
.informacion-producto .product-valor span {
    color: #00c12e!important;
}

.informacion-producto .product-list li {
    color: #777;
    line-height: 20px;
}

.informacion-producto .product-list li {
    padding: 3px 10px;
    text-align: right;
    width: 100%;
    font-size: 12px;
}

.informacion-producto .product-list li:nth-child(2n+1) {
    background-color: #ffffff;
    /*  border-bottom: 1px solid #cccccc;*/
}

.informacion-producto .product-list li span {
    float: left;
    font-weight: 600;
    color: #444;
}

.wrapper-opciones-producto-usuario{
    position: absolute;
    bottom: 0;
}

.opciones-producto-usuario{
    margin-top: 10px;
}

.opciones-producto-usuario .ratings-container{
    float: left;
    padding-top: 10px;
}

.opciones-producto-usuario .add-favoritos{
    float: left;
    margin-left: 20px;
}


.informacion-producto .ratings-container span{
    display: block;
    float: left;
    position: relative;
    margin-top: -4px;
    padding: 2px 10px 0 11px;

}

.informacion-producto .icon-button.icon-like {
    background-color: transparent;
    border:none;
    box-shadow: none;
    font-size: 13px;
    padding: 8px 0 0 33px;
    text-indent: 0;
    width: auto;
}


.product-accion li {
    background-color: #ececec !important;
    border-bottom: 1px solid #ececec !important;
    text-align: left !important;
    overflow: hidden;
}

.informacion-producto .product-valor {
    color: #0664cd !important;
    font: 600 15px/1 "Open Sans",Arial,sans-serif!important;
    vertical-align: bottom;
}

.product-accion label{
    font-weight: 600;
}


.product-detail-tab .tab-content .table thead tr th{
    padding: 5px;
}

.product-detail-tab .tab-content .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding: 5px;
}

.related h3{ background:none; color: #444;font-weight: 400; font-size: 18px; padding-left: 0;border-bottom: 1px solid #ddd;
             line-height: 40px;}

.related h3 span {
    display: inline-block;
    width: auto;
}

.related h3 span:after {
    background: #0664cd none repeat scroll 0 0;
    bottom: -2px;
    content: "";
    float: left;
    height: 3px;
    position: relative;
    width: 105%;
}

.related-product .btn{
    margin-top: 10px;
    background-color: transparent!important;
    border: none;
    color: #0664cd;
    float: right;
    font-weight: 600;
}

.carousel-controls {
    height: 31px;
    padding-left: 17px;
    top: 8px;
    width: 81px;
}

.carousel-btn {
    height: 30px;
    width: 30px;
}

.carousel-btn.carousel-btn-prev {
    background-position: -12px -205px;
}

.carousel-btn.carousel-btn-next {
    background-position: -66px -205px;
}

.carousel-btn.carousel-btn-next:hover {
    background-position: -65px -244px;
}

.carousel-btn.carousel-btn-prev:hover {
    background-position: -12px -244px;
}

.carousel-btn:hover{
    background-color: #19232d;
    border-color:#374654;
}


.owl-carousel .owl-item {
    padding: 0 5px;
}

.content-title h2 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font: 18px/38px "Open Sans",Arial,sans-serif;
    margin: 15px 0 10px;
    text-transform: uppercase;
}

.content-title h2 span::after {
    background: #0664cd none repeat scroll 0 0;
    bottom: -2px;
    content: "";
    float: left;
    height: 3px;
    position: relative;
    width: 105%;
}

.content-title h2 span {
    display: inline-block;
    width: auto;
}


.seccion-banners {
    margin: 20px 5px 0;
}

.seccion-banners .banner-centro{
}
.seccion-banners .banner-centro img + img{
    padding-top: 20px;
}



/* ESTILOS LISTADOS DE CATEGORIA */

.lista-categorias .item {
    max-height: 250px;
    min-height: 250px;
}

.category-name{
    text-align: center;
    font: 600 13px/18px "Open Sans",sans-serif;
    padding: 5px 0;
    text-transform: uppercase;
}

.lista-categorias .item-action{
    width: 63px;
    left: 50%;
    margin-left: -31.5px;
}

.lista-categorias .item-action .icon-cart-text{
    padding: 10px 20px;
}

/* ESTILOS PAGINA 404 */

.contenido-404{

}

.contenido-404 img{
    max-width: 483px!important;
    margin: auto;
}

.texto-404{
    background: #eee;
    padding: 10px;
    border-bottom: 4px solid #19232d
}
.texto-404 p{
    font-size: 13px;
    padding-left: 10px;
}
.texto-404 .opc404{
    text-align: center;
    border-right: 1px solid #ccc;
}

.texto-404 .opc404:last-child{
    border-right: none;
}


.texto-404 div i{
    color: #19232D;
    font-size:16px;
    padding-right: 5px;
    display: block;
}

/* ESTILOS PRECARRITO */

.modal-title{
    text-transform: uppercase;
}

.precanasta-cantidad label{
    padding-top: 7px;
    font-weight: 600;
}

.modal-title span {
    display: inline-block;
    width: auto;

}


#resumen-pedido .resumen-producto h3{
    margin-bottom: 8px;
}

#resumen-pedido .resumen-producto img{
    display: block;
    width: auto;
    margin: 0 auto;
    max-height: 200px;
}

#resumen-pedido .resumen-producto .cuerpo ul li,#resumen-pedido .resumen-canasta .cuerpo ul li{
    padding: 3px 15px;
    font-weight: 600;
}

#resumen-pedido .resumen-producto .cuerpo ul li:nth-child(2n) {
    background-color: #efefef;
}

#resumen-pedido .resumen-canasta .cuerpo ul li span, #resumen-pedido .resumen-producto span {
    float: right;
    font-weight: 400;
}

#resumen-pedido .resumen-canasta hr{
    margin: 5px 0;
}

#resumen-pedido .resumen-canasta .cuerpo ul li{
    padding: 3px 15px;
}

#resumen-pedido .resumen-canasta button{
    margin-bottom: 10px;
}
#resumen-pedido botones-acciones h6{}

.formulario-asistencia{
    border-bottom: 4px solid #19232d;
}

/* ESTILOS FORMULARIO DE CONTACTO */

#contact-form .input-group{
    margin-bottom: 15px;
}
#contact-form .input-group-addon {
    padding-left: 15px;
    font-size: 13px;
}

.datos-contacto{
    background: #eeeeee;
    padding: 20px;
    margin-top: 96px;
}

.datos-contacto ul{

}

.datos-contacto li{
    font-size: 14px;
    padding-bottom: 8px;
}

.datos-contacto li i{
    width: 20px;
    text-align: center;
}

.datos-contacto hr{
    margin: 10px 0;
    border-color: #ddd;
}

.ico-colombia{
    background: url('../img/ico-colombia.png') no-repeat left center ;
    padding-left: 20px;
}
.sucursales .datos-sucursal:nth-child(even){
    background: #eee;
}
.datos-sucursal{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.datos-sucursal .xs-margin{
    margin-bottom:5px;
}

.datos-sucursal .mapa img{
    border-radius: 3px;
    border: 3px solid #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
}

.datos-sucursal .mapa{
    margin-right: 15px;
}

.datos-sucursal .ver-mapa{
    margin-left: 28px;
    background: #39b1af;
    color: #fff;
}

.datos-sucursal ul.address{
    float: left
}

.datos-sucursal ul.address li{
    color: #19232d;
    border-bottom: 1px solid #ddd;
    padding: 3px 5px;
}
.datos-sucursal ul.address li label {
    margin-bottom: 0;
}
.datos-sucursal ul.address li:first-child {
    border: none;
    color: #0664cd;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.datos-sucursal ul.address li:last-child{
    border: none;
}

.datos-sucursal ul.address li span{
    font-weight: 600;
    padding-right: 5px;
}

.datos-sucursal ul.address li.pbx,
.datos-sucursal ul.address li.email{ float: left;}
.datos-sucursal ul.address li.horarios-semana{ clear: both; border-bottom: none}
.datos-sucursal ul.address li.horarios-fsemana span{ visibility: hidden}

/*.stick {
  position:fixed;
  top:70px;
  width: 44%;
}*/

div#sticker {
    position: initial !important;
    width: 100%;
}

#sticker #contact-form .input-group{
    margin-bottom: 10px;
}

#sticker #contact-form .input-group-addon {
    padding-left: 10px;
    font-size: 13px;
    min-width: 82px;
}

#sticker #contact-form .input-group.pull-left, #sticker #contact-form .input-group.pull-right{
    width: 48%;
}

#sticker .textarea-container textarea{
    padding-top: 38px;
}

#map-container { height: 360px }

.fuera-servicio .pago-entrega {
    float: right;
    margin-top: 60px;
}

.fuera-servicio .txt-logo-footer{
    display: none;
}

.fuera-servicio #inner-header .header-box{
    display: block!important
}

.item .item-action .item-action-inner {
    /*padding-right: 5px;*/
}

/* CORRECCIONES */

#quick-search{background-position: 0 -112px;}

/*.item-image-wrapper {
    height: auto !important;
}*/
.lista-categorias .item-image-wrapper{
    max-height: 180px;
}

.lista-categorias .item-image-wrapper > figure {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.lista-categorias .item-image-wrapper img {
    margin: 0 auto;
    max-height: 180px !important;
    width: auto !important;
}

.btn.ver-mapa{

}

.moneda-top{
    display: none!important
}

.ratings-amount{
    display: none!important
}

.icon-cart-text{
    display: inline-block!important;
    padding: 10px 10px;
}

.item-add-btn.icon-cart{
    background-image: none!important
}

.lista-categorias .item-add-btn{ background: #3baeb5; color: #fff;}
.lista-categorias .item-add-btn:hover,
.lista-categorias .item-add-btn:focus,
.lista-categorias .item-add-btn:active
{ background: #2e9aa1; color: #fff;}

.pagination > li > a, .pagination > li > span,.toolbox-pagination .select-dropdown .dropdown-toggle{
    box-shadow: none!important;
}

.lista-categorias {
    padding-top: 25px;
    overflow: hidden;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

product-list .alert-info,.lista-categorias .alert-info{
    display: none;
}

ul.category-filter-list li{
    line-height: 0.5em;
    margin: 0 !important;
    overflow: hidden!important
}

#filter-wrapper .accordion-header .accordion-btn {
    background-position: -177px -291px;
    height: 20px;
    margin-top: -10px;
    right: 5px;
    width: 20px;
}

.filter .panel-body li label span{
    font-size: 12px!important
}

.sidebar .accordion-header{
    padding: 6px 10px;
    background: #EEEEEE;
}

.sidebar .accordion-title > span{
    font-size: 13px;
}

.filter .panel-body{
    padding-top: 0px!important;
}

.datos-sucursal li.latitude,.datos-sucursal li.longitude{
    display: none;
}

h3.product-short-description{
    font: 400 13px/1.3em "Open Sans",sans-serif;
    color: #888;
    margin-bottom: 15px;
}

.product h1.product-name{
    margin-bottom: 10px;
}

.featured-slider .featured-product figure, .related-slider .related-product figure{
    width: 85px;
    height: 80px;
    display: table;
    margin-right: 10px;
}

.featured-slider .featured-product figure, .related-slider .related-product figure a{
    display: table-cell;
    vertical-align: middle;
}

.icon-button {
    text-indent:-9999999px;
}

#product-image-container{
    height: auto;
}

#product-image-container figure {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
}
#product-image-container img {
    display: inline-block;
    max-height: 240px;
    border-radius: 4px;
    padding: 1px;
    width: auto;
}
.elastislide-carousel ul {
    margin-top: 8px;
}
.elastislide-vertical ul li {
    padding: 1px !important;
    margin-bottom: 5px;
    border-bottom: 0;
}
.elastislide-carousel ul li a img {
    padding: 1px !important;
    box-shadow: 0px 0px 0px 1px #DDDDDD;
    border-radius: 2px;
}

.product-extra .btn{
    display: none;
}

.product .col-md-12.md-margin{
    margin-bottom: 10px;
}

#products-tabs-content{
    min-height: 238px;
}

.products-tabs-content{
  min-height: 238px;
}

.related-slider .related-product h5{
    font-size: 13px;
    margin-bottom: 5px;
}

.related-slider .related-product .related-price {
    font-size: 15px;
}

.purchased-items-container h2{
    margin-top: 0;
}

.item{
    margin-bottom: 20px;
}

.sidebar .widget .panel a{
    color: #444;
}

#breadcrumb-container{
    margin-bottom: 0;
    padding: 12px 0;
}

price-filter .panel{
    border: none;
    margin-bottom: 0;
}

price-filter .panel #filtro2 .panel-body{
    padding-bottom: 0;
}

.elastislide-carousel{
    border-right: none;
}

.accordion-btn{
    background-color: #fff;
    background-image: none;
}

section#content{
    overflow: inherit;
}

.noUi-horizontal{
    height: 8px;
}
.noUi-horizontal .noUi-handle{
    top: -8px;
    width: 20px;
    height: 20px;
    border-radius:50%;
    background: #F9A005;
}

#scroll-top {
    background: #F9A005;
    border: 1px solid #E49204;
}

#scroll-top:hover{
    background: #E49204;
    border: 1px solid #F9A005;
}

.boton-busqueda-productos{
    height: 27px!important;
}

.sort-box .btn.select-btn{
    height: 27px!important;
    padding: 1px 10px;
}

.sort-box .select-dropdown .dropdown-toggle{
    padding: 2px 10px 3px;
}

.view-count-box .select-dropdown {
    margin-right: 20px;
}

.view-count-box .select-dropdown .select-btn{
    padding: 3px 5px 3px;
    min-width: 40px;
    text-align: center
}

.view-count-box .select-dropdown .dropdown-toggle{
    padding: 3px 10px 3px;

}

.pagination > li > a, .pagination > li > span{
    height: 28px!important;
    padding: 5px 6px!important;
}


#wrapper-filtered-categories{
    min-height: 448px;
}

#categories-input-filter{
    background-color: #EEEEEE;
    border: 1px solid #e4e2e2;
    height: 300px;
}
div#categories-input-filter div#wrapper-filtered-categories {
    height: 230px;
    min-height: 230px;
}
.sidebar .simplebar-scrollbar {
    min-height: 55px !important;
    height: 55px !important;
}
#categories-input-filter .col-md-12{
    background-color: #374654;
    margin-bottom: 10px;
}

#categories-input-filter a {
    color: #444;
    padding: 2px 0px 2px 0px;
    display: block;
    text-transform: uppercase;
}
#categories-input-filter a:hover {
    color: #6dbcdb;
}

#categories-input-filter a.categoria-principal{
    font-weight: 600
}

#categories-input-filter a.subcategoria{
    padding: 2px 0px 1px 10px;
    font-size: 12px;
}

.simplebar-scroll-content{
    padding: 0 20px 0 0 !important;
    /*    margin-bottom: 22px;
        margin-top: 10px;*/
}

#categories-input-filter .input-group{
    margin: 10px 0;
    width: 100%;
    padding: 0 0px;

}

#categories-input-filter .input-group .form-control {
    height: 32px;
}

#categories-input-filter .alert{
    position: absolute;
    padding-top: 70px;
    padding-left: 20px;
}

.item-price.no-disponible {
    color: #666;
    font-size: 12px;
}

.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}.gm-style img{max-width:none!important}

/*// CAMBIAR //*/

.owl-carousel .item {
    padding: 10px;
}

/*// NUEVOS //*/

.item-image-wrapper span {
    display: inline-block;
    float: left;
    font-size: 12px;
    padding: 6px;
    font-weight: 400;
}
.novedades-del-producto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    right: 0;
}
.novedades-del-producto .ribbon-novedades{
    background-color: red;
    color: white;
    width: 30%;
    font-size:13px;
    text-align:center;
    opacity: 1;
    padding: 3px;
}
.banner-slider-list li {
    margin-top: 7px !important;
}
.banner-slider-list li:first-child {
    margin-top: 11px !important;
}
.navbar-inverse .navbar-toggle {
    background-color: #444645;
    border-color: transparent;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset;
    transition: background-color 0.4s ease 0s;
    -webkit-transition: background-color 0.4s ease 0s;
    -moz-transition: background-color 0.4s ease 0s;
    -ms-transition: background-color 0.4s ease 0s;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: #6dbcdb;
}
.modal-header h4 {
    color: #fff;
    font-size: 18px;
}

.msj-obligatorios {
    font-size: 11px !important;
    padding-top: 0 !important;
    padding-bottom: 20px !important;
    top: -5px;
    position: relative;
    font-style: italic;
}

.debug {
    color: #bbb;
}
/* ACTUALIZACION 13/11/2015  */

#wrapper-filtered-categories > .simplebar-scroll-content {
    padding: 0 10px !important;
}
/*.simplebar-content {
    padding: 0 20px 0 0;
}*/
.simplebar-scroll-content{
    padding: 0 20px 0 0 !important;
}
.dropdown-cart .dropdown-cart-product-list .item-name {
    line-height: 17px;
    margin-bottom: 5px;
}
.dropdown-cart .dropdown-cart-product-list figure {
    border: 1px solid #dedede;
    overflow: hidden;
    height: 85px;
}
.precio-normal {
    color: #C5C5C5 !important;
    font-size: 12px;
}
.item-price.wrapper-precio-normal {
    color: #666;
}
.formulario-recomendacion #contact-form {
    width: 100%;
}
.simplebar-track .simplebar-scrollbar {
    background: #f9a005 none repeat scroll 0 0 !important;
}
.zoomLens {
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.50) !important;
    box-shadow: 0px 0px 4px 0px #bbb;
}
.row.contenido-registro {
    margin-bottom: 25px;
}
.registro-juridica {
    margin-bottom: 25px;
}
.subcategoria {
    /*display: none;*/
}
.item-product .precio-internet {
    font-size: 15px;
    font-weight: 500 !important;
    color: rgb(0, 193, 46) !important;
}
div#wrapper-detail-description .simplebar-content, .simplebar-scroll-content {
    padding: 0 !important;
}
div#wrapper-detail-description {
    text-align: justify;
    height: 230px;
    overflow-y: auto;
}
.cart-table .item-name-col figure {
    margin-right: 10px;
}
.table .item-name {
    margin-bottom: 10px;
}
.modal-body.eliminar-producto {
    overflow: hidden;
}
a.categoria-principal.cr {
    color: #0664CD;
    font-weight: 600;
}
div#content-bot-canasta a {
    padding: 6px 10px;
    font-size: 12px;
}

#videoModal.modal.in .modal-dialog {
    transform: none !important;
}


[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.col-md-12.sucursales {
    height: auto !important;
}

.banner-der.videopup {
    cursor: pointer;
}
.banner-der.videopup:before {
    content: '';
    background: url('../img/play-button.png');
    width: 80px;
    height: 58px;
    position: absolute;
    top: 40%;
    left: 40%;
}
/* 25/11/2015 */
.ratings-container {
    display: none;
}
.description-container {
    display: none;
}
h3.item-name {
    margin-bottom: 15px;
    font-weight: 400;
}
span.sub-price, .item-price-container i {
    display: none;
}

span.precio-internet.rayado {
    color: #C5C5C5;
    font-size: 12px;
}
.header6 #inner-header .logo-container {
    margin-bottom: 14px;
}
.header6 #inner-header {
    padding-top: 12px;
}
.header6 #inner-header .header-inner-right {
    margin-bottom: 10px;
}
.header6 #inner-header .header-inner-right {
    margin-top: inherit;
}
.header6 .dropdown-cart-menu-container {
    margin-top: 17px;
    /*margin-top: 24px;*/
}
#quick-access {
    top: 10px;
}
.contact-phones {
    top: 11px;
}
.redes-header {
    text-align: right;
    position: relative;
    top: 8px;
}
.icon-button {
    margin-right: 5px;
}
.icon-button.icon-like {

}

#category-header.category-banner .category-title h2 {
    font-size: 19px;
}
.imagen-categoria {
    position: absolute;height: 173px !important;top: 10px;right: 10px
}


a.accordion-btn.collapsed::after {
    content: '+';
    position: relative;
    left: 5px;
    font-weight: 400;
    font-size: 17px;
    top: -3px;
    color: #fff;
    transition: content ease .2s;
}
a.accordion-btn:after {
    color: white;
    content: '-';
    position: relative;
    left: 5px;
    font-size: 25px;
    font-weight: 400;
    top: -6px;
}

#videoModal .modal-footer {
    background-color: white;
}

div#filter-wrapper a.accordion-btn:after {
    top: -12px !important;
}

div#filter-wrapper a.accordion-btn.collapsed::after {
    top: -3px !important;
}

.item-action.ofertas-icons .fa.fa-plus-square {
    display: none;
}

#scroll-top {
    bottom: 70px;
}
.info-cookie .btn-custom-4 {
    float: none !important;
    margin-left: 30px;
}

.categorie-bar-home #category-filter {
    position: absolute !important;
    width: 270px;
}

.item-reference {
    font-size: 13px !important;
    margin: 0px;
    color: #444645;
    margin-top: 5px;
    margin-bottom: 15px;
}

h3.item-name {
    margin-bottom: 2px;
}

.purchased-items-container.carousel-wrapper h2 {
    font-size: 13px;
    text-transform: none;
}

.item-price-container .item-price.wrapper-precio-internet,
.item-price-container .item-price.wrapper-precio-internet span {
    font-size: 15px;
}

.redes-producto {
    display: none;
}

.recomendar-amigo {
    padding: 0px !important;
    border-right: 0px !important;
    margin-right: 0px !important;
}

.detalles-pedidos .item-name-col figure img {
    max-width: 100px !important;
}
.panel-body.js-tabcollapse-panel-body {
    overflow: hidden;
}

.btn-comparar {
    position: fixed;
    right: 1%;
    z-index: 9999;
}

div#videos2 ul li img {
    width: 65px !important;
}

div#videos2 ul {
    margin: 0;
}

div#videos2 ul a {
    width: 100%;
    text-align: left;
}

.designed-by {
    display: block;
}

.compare-item-table figure {
    display: flex !important;
    align-items: center;
}
.compare-item-table figure a {
    margin: 0 auto;
}
.datos-sucursal .address {
    width: 70%;
}

.datos-sucursal ul.address li.pbx,
.datos-sucursal ul.address li.email {
    width: 100%;
}

.datos-sucursal .horarios-semana,
.datos-sucursal .contacto-fsemana,
.datos-sucursal .contacto-fsemana {
    display:none;
}

.listado-atributos-detalle-producto {
    overflow-y: auto;
    max-height: 188px;
    margin-bottom: 16px;
}

.opciones-producto-usuario .add-favoritos {
    top: -10px !important
}

#login-tabs .tab-content {
    border-bottom: 2px solid #19232d !important;
}

.toolbox-pagination {
    padding-top:0;
}

.contactenos-intro h1 {
    font-size: 21px;
}

.contactenos-intro p {
    color: rgb(68, 68, 68);
    font-family: open sans,sans-serif;
    position: relative;
    top: -4px;
}

.opciones-producto-usuario .add-favoritos {
    background-color: transparent !important;
}

/* ==============================================================
Saving favorite
============================================================== */
.category-item-container .product-is-setting-as-favorite {
    font-size:16px;
    margin-right: 15px;
    color:#F69C00;
}

.purchased-items-container .product-is-setting-as-favorite {
    font-size:16px;
    margin-right: 12px;
    color:#F69C00;
    margin-top: 8px;
}

.listado-carga-rapida .product-is-setting-as-favorite {
    color:#F69C00;
    width: 40px;
}

.product-detail .purchased-items-container .product-is-setting-as-favorite {
    font-size:16px;
    margin-right: 15px;
    color:#F69C00;
}

.wrapper-opciones-producto-usuario .product-is-setting-as-favorite {
    color:#F69C00;
    position: relative;
    top: -8px;
    left: 16px;
}
/* ==============================================================
tabs  detalles de los productos
============================================================== */
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 42px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
ul.tabs li {
    float: left;
    margin: 0 1px 0 0;
    cursor: pointer;
    padding: 9.5px 25px;
    color: #8f9592;
    border-bottom: 0px;
    overflow: hidden;
    position: relative;
    border-radius: 4px 4px 0 0;
    background: #fafafa;
    border: 1px solid #dcdcdc;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    font: 600 14px/21px 'Open Sans',sans-serif;
}
ul.tabs li:hover {
    background-color: #e5e5e5;
    color: #000;
}
ul.tabs li.active {
    background-color: #fff;
    color: #0664cd;
    border-bottom: 1px solid #fff;
    display: block;
}

.tab_container {
    border: 1px solid #ccc;
    border-top: 0px;
    clear: both;
    float: left;
    width: 100%;
}
.tab_content {
    padding: 20px;
    display: none;
}
.tab-accordion_heading {
    display: none;
}
#noProComentario {
    padding: 7px 13px 18px;
}

/*ICONOS MI CUENTA*/

.item-pcontrol {
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0px 0px 0px 1px #EEEEEE;
    transition: all ease-in .2s;
    -webkit-transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
}
.item-pcontrol a {
    color: #fff;
}

.item-pcontrol i {
    display: block;
    font-size: 35px;
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
}
.item-pcontrol a div {
    padding: 21px;
}
.item-pcontrol:hover {
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    z-index: 2;
}
.box-panel div.item-pcontrol:nth-child(2) {
    background: #43677f;
}
.box-panel div.item-pcontrol:nth-child(3) {
    background: #3e91c8;
}
.box-panel div.item-pcontrol:nth-child(4) {
    background: #43677f;
}
.box-panel div.item-pcontrol:nth-child(5) {
    background: #2072a8;
}
.box-panel div.item-pcontrol:nth-child(6) {
    background: #326384;
}
.box-panel div.item-pcontrol:nth-child(7) {
    background: #2072a8;
}

.box-panel div.item-pcontrol:nth-child(8) {
    background: #326384;
}

.tabla-mis-cotizaciones > div > .table-responsive,
.tabla-mis-pedidos > div > .table-responsive,
.listado-carga-rapida > div > .table-responsive {
    border-top: 1px solid #E8E8E8;
    padding-top: 20px;
    margin-top: 5px;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 20px;
    margin-bottom: 5px;
}
.toolbox-filter .sort-box div {
    margin-bottom: 4px;
}
.add-cgrapida {
    padding: 7px 10px;
    margin: 6px 4px;
    position: relative;
    top: 2px;
}
fieldset.juridica {
    margin-bottom: 10px !important;
}
fieldset.juridica>h5 {
    display: inline-block;
    z-index: 9;
    background: #FFFFFF;
    padding-right: 10px;
}
fieldset.juridica h5 + span {
    display: block;
    background: #F2F2F2;
    width: 100%;
    height: 1px;
    position: relative;
    top: -25px;
    z-index: -2;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile-2 + label {
    color: #FFFFFF;
    border: 1px solid #E0E0E0;
    background: #0664CD;
    border-radius: 4px;
    transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}
.inputfile-2 + label i {
    background: #fff;
    position: absolute;
    left: 0;
    color: #0664CD;
    padding: 8px;
    top: 0;
    font-size: 17px;
    border: 2px solid #0664CD;
    border-radius: 3px;
}
.inputfile-2 + label:hover {
    background: #337ED3;
}

.inputfile + label {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 9px 9px 9px 40px;
    position: relative;
}
label.rutlabel {
    height: 13px;
}
.pagination-items ul li {
    border-right: 1px solid #fff;
}
span.video-des {
    white-space: normal;
    text-align: left;
    display: inline-table;
    margin-left: 10px;
    margin-right: 10px;
}
/* Correcion slider principal */
.revslider-initialised.tp-simpleresponsive {
    touch-action: initial !important;
}

.multilevel-menu li i {
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
    font-size: 10px;
}



/**
 * Estilos Modal Ventana Cotización
 */
#modalQuoteSeller .phone-number .col-xs-2::after,
#modalQuoteSeller .phone-number .col-xs-3::after,
#modalQuoteSeller .phone-number .col-xs-4::after,
#modalQuoteSellerHeader .phone-number .col-xs-2::after,
#modalQuoteSellerHeader .phone-number .col-xs-3::after,
#modalQuoteSellerHeader .phone-number .col-xs-4::after{
    content: "+";
    position: absolute;
    top: 10px;
    right: 0px;
}

#modalQuoteSeller .phone-number .col-xs-3::after,
#modalQuoteSellerHeader .phone-number .col-xs-3::after
{
    right: 0px;
}

#modalQuoteSeller .phone-number .col-xs-2::after,
#modalQuoteSellerHeader .phone-number .col-xs-2::after {
    right: 0px;
}

#modalQuoteSeller .phone-number .col-xs-4::after,
#modalQuoteSellerHeader .phone-number .col-xs-4::after {
    right: 15px;
}

#modalQuoteSeller .phone-number .form-control,
#modalQuoteSellerHeader .phone-number .form-control {
    padding: 7px;
    text-align: center;
}

#modalQuoteSeller .informacion-cotizantes .accordion-header,
#modalQuoteSellerHeader .informacion-cotizantes .accordion-header {
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #e4e2e2;
    background: #0664CD;
    margin-bottom: 0;
}

#modalQuoteSeller .informacion-cotizantes .accordion-title,
#modalQuoteSellerHeader .informacion-cotizantes .accordion-title {
    font: 600 14px/1 'open sans';
    color: #fff;
}

#modalQuoteSeller .modal-body.cotizante,
#modalQuoteSellerHeader .modal-body.cotizante {
    padding: 15px 15px 0px;
}

#modalQuoteSeller .informacion-cotizantes .panel .panel-body,
#modalQuoteSellerHeader .informacion-cotizantes .panel .panel-body {
    padding: 5px;
    padding-top: 15px;
}

#modalQuoteSeller hr.cotizante,
#modalQuoteSellerHeader hr.cotizante {
    clear: both;
    margin-top: 10px;
    margin-bottom: 15px;
}

#modalQuoteSeller .bold,
#modalQuoteSellerHeader .bold {
    font-weight: bold;
}

#modalQuoteSeller .preload-data.no-editable,
#modalQuoteSellerHeader .preload-data.no-editable {
    display: block;
    margin-top: 9px;
}

#modalQuoteSeller .btn-custom-4[disabled],
#modalQuoteSellerHeader .btn-custom-4[disabled] {
    background: #EEEEEE;
    color: #666;
    border-color: #CACACA;
}

#modalQuoteSeller .show-ids-toc,
#modalQuoteSellerHeader .show-ids-toc {
    display: none;
}

#modalQuoteSeller .error-list,
#modalQuoteSellerHeader .error-list {
    margin-top: 10px;
    padding-left: 21px;
}

#modalQuoteSeller .error-list li,
#modalQuoteSellerHeader .error-list li {
    list-style-type: decimal !important;
}

#modalQuoteSeller .help-block,
#modalQuoteSellerHeader .help-block {
    font-size: 11px;
}

/* Muestra de productos 16/03/2016 */

.vistas-pp ul {
    text-align: center;
}
.vistas-pp li {
    display: inline;
}
.vistas-pp li a {
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 3px;
    opacity: .2;
}
.vistas-pp li a:hover {
    opacity: .6;
}
.vistas-pp li.activa a {
    opacity: 1;
}
.vistas-pp li.btn-listado a {
    background: url('../img/btn-vistas.png') no-repeat -115px 0 transparent;
}
li.btn-listado {
    left: -1px;
    position: relative;}
.vistas-pp li.btn-vista1 a {
    background: url('../img/btn-vistas.png') no-repeat 0px 0 transparent;
}
.vistas-pp li.btn-vista2 a {
    background: url('../img/btn-vistas.png') no-repeat -92px 0px transparent;
}
.vistas-pp li.btn-vista3 a {
    background: url('../img/btn-vistas.png') no-repeat -69px 0px transparent;
}
.vistas-pp li.btn-vista4 a {
    background: url('../img/btn-vistas.png') no-repeat -46px 0 transparent;
}
.vistas-pp li.btn-vista5 a {
    background: url('../img/btn-vistas.png') no-repeat -23px 0 transparent;
}
hr.separador-pp {
    margin: 15px 0;
}
.pagination {
    margin: 0;
    float: right;
}
.filter-resume {
    position: relative;
    top: 5px;
}

.catalogo-productos {
    margin: 40px 0;
}
.vistas-productos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.opcion-vista .icon-button.icon-compare,
.opcion-vista .icon-button.icon-like {
    background-image: url("../img/sprites/icono-sprite-listas.png");
}
.boton-acciones-producto a.item-add-btn {
    box-shadow: none;
    border-radius: 0;
    width: 28px;
    height: 30px;
    padding: 1px 11px;
    text-align: center;
}


/*VISTAS PRODUCTOS - LISTADO */

.listado {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 1px dashed #E9E9E9;
    padding: 0;
}
.listado .col-md-2 {
    width: 4%;
    margin-right: 1%;
    display: none;
}
.listado .col-md-7 {
    width: 55%;
}
.listado .col-md-3 {
    width: 30%;
}
.listado .col-add {
    width: 15%;
}
.listado a.masinfo i  {
    margin-top: 2px;
}
.listado .descripcion-producto-box {
    padding: 0px 7px 5px;
}
.listado .descripcion-producto-box h1 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1px;
}
.listado .categoria-box {
    display: none;
}
.listado .referencia-box {
    color: #777;
    font-weight: lighter;
    font-size: 12px;
}
.listado .descripcion-box {
    display: none;
}

.listado .icon-button.item-add-btn,
.listado .icon-button.icon-compare,
.listado .icon-button.icon-like {
    border: 0;
    background-color: transparent;
    padding: 0px;
    margin-right: 3px;
    width: 29px;
    height: 27px;
    float: right;
    transition: all ease-in-out .1s;
    -webkit-transition: all ease-in-out .1s;
    border-radius: 0;
}
.listado .icon-button.icon-like {
    background-position: -29px 0px;
}
.listado .icon-button.icon-like:hover {
    background-position: -29px -27px;
    opacity: 1;
}
.listado .icon-button.icon-compare {
    background-position: 0px 0px;
}
.listado .icon-button.icon-compare:hover {
    background-position: 0px -28px;
}
.listado .boton-acciones-producto a.item-add-btn {
    border: none;
    background-image: url("../img/sprites/icono-sprite-listas.png");
    background-position: 32px 2px;
    background-color: transparent;
}
.listado .boton-acciones-producto .icon-cart-text {
    padding: 3px 6px 0px 3px;
}
.listado .boton-acciones-producto .icon-cart-text i {
    background: rgba(255, 255, 255, 0.47);
    padding: 5px;
    font-size: 15px;
    color: #fff;
    margin-right: 1px;
}
.listado span.precio-text-g {
    font-size: 14px;
    color: #848484;
}
.listado span.precio-text-g small {
    font-size: 12px;
    font-weight: 400;
}
.listado span.precio-valor {
    font-size: 16px;
    color: #ff8d00;
}
.listado span.precio-valor.gray {
    color: #B5B5B5;
    font-weight: normal;
}
.listado .precio-productos-item {
    text-align: right;
    line-height: 13px;
}
.listado .boton-acciones-producto {
    text-align: right;
    margin-top: 0;
    float: right;
}
.listado .boton-acciones-producto a i {
    text-align: center;
}
.listado .precio-producto-box {
    padding: 0;
}
.listado .precio-producto-box .ratings-container {
    text-align: right;
    margin-top: 5px;
}

.listado .ratings-container {
    display: none;
}
.listado span.precio-valor i,
.vista-1 span.precio-valor i,
.vista-2 span.precio-valor i,
.vista-3 span.precio-valor i,
.vista-4 span.precio-valor i,
.vista-5 span.precio-valor i {
    /*display: none;*/
}
.iconos-acciones-adiccionales {
    position: absolute;
}
.iconos-acciones-adiccionales i {
    position: relative;
    z-index: 9;
    font-size: 16px;
}

/*VISTAS PRODUCTOS - VISTA 1 */

.vista-1 {
    margin-top: 0;
    margin-bottom: 8px;
    width: 100%;
    border-bottom: 1px dashed #E9E9E9;
    padding: 0px 0 10px;
}
.vista-1 .descripcion-producto-box {
    padding: 0 0 5px;
}
.vista-1 .descripcion-producto-box h1 {
    margin-bottom: 5px;
    font-size: 15px;
}
.vista-1 .categoria-box {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 5px;
    color: #696969;
}
.vista-1 .referencia-box {
    margin-bottom: 2px;
    color: #BDBDBD;
    font-weight: 400;
    font-size: 13px;
}
.vista-1 .descripcion-box {
    color: #666;
}
.vista-1 .ratings-container {
    padding: 4px 0 0;
    height: 20px;
}
.vista-1 .ratings-container .ratings {
    margin: 0 auto;
    display: block;
}
.vista-1 .masinfo,
.vista-1 .icon-button.item-add-btn,
.vista-1 .icon-button.icon-compare,
.vista-1 .icon-button.icon-like {
    border: 0;
    background-color: transparent;
    padding: 0px;
    margin-right: 3px;
    width: 29px;
    height: 27px;
    float: right;
    transition: all ease-in-out .1s;
    -webkit-transition: all ease-in-out .1s;
    border-radius: 0;
}
.vista-1 a.masinfo i  {
    margin-top: 2px;
}
.vista-1 .icon-button.icon-like {
    background-position: -29px 0px;
}
.vista-1 .icon-button.icon-like:hover {
    background-position: -29px -27px;
    opacity: 1;
}
.vista-1 .icon-button.icon-compare {
    background-position: 0px 0px;
}
.vista-1 .icon-button.icon-compare:hover {
    background-position: 0px -28px;
}
.vista-1 .boton-acciones-producto a.item-add-btn {
    float: right;
    font-size: 18px;
    height: 27px;
    width: 30px;
    min-width: 25px;
}
.vista-1 .boton-acciones-producto a.item-add-btn {
    border: none;
    background-image: url("../img/sprites/icono-sprite-listas.png");
    background-position: 27px 2px;
    background-color: transparent;
}
.vista-1 .boton-acciones-producto a i {
    text-align: center;
}
.vista-1 .boton-acciones-producto .icon-cart-text {
    padding: 3px 6px 0px 3px;
}
.vista-1 .boton-acciones-producto .icon-cart-text i {
    background: rgba(255, 255, 255, 0.47);
    padding: 5px;
    font-size: 15px;
    color: #fff;
    margin-right: 1px;
}

.vista-1 span.precio-text-g {
    font-size: 14px;
    color:rgb(103, 103, 103);
    font-weight:400;
}
.vista-1 span.precio-text-g small {
    font-size: 14px;
}
.vista-1 span.precio-valor {
    font-size: 16px;
    color: #ff8d00;
}
.vista-1 span.precio-valor.gray {
    color: #B5B5B5;
    text-decoration: line-through;
}
.vista-1 .precio-productos-item {
    text-align: right;
    line-height: 18px;
    margin-bottom: 5px;
}
.vista-1 .boton-acciones-producto {
    text-align: right;
    margin-top: 1px;
}
.vista-1 .precio-producto-box {
    padding: 1px 0;
}
.vista-1 .precio-producto-box .ratings-container {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0;
    height: 25px;
}
.vista-1 figure {
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
    max-width: 100px;
    margin: 0 auto 3px;
}
.vista-1 figure img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/*VISTAS PRODUCTOS - VISTA 2 */

.vista-2 {
    margin-top: 15px;
    margin-bottom: 20px;
}
.vista-2 .col-md-7 {
    width: 70%;
}
.vista-2 .col-md-2 {
    width: 30%;
}
.vista-2 .col-md-3 {
    width: 68%;
    float: right;
}
.vista-2 .descripcion-producto-box h1 {
    margin-bottom: 0px;
    font-size: 14px;
}
.vista-2 .categoria-box {
    display: none;
}
.vista-2 .descripcion-producto-box {
    padding: 0 0 0px 9px;
}
.vista-2 .referencia-box {
    color: #BDBDBD;
    font-weight: 400;
    font-size: 13px;
}
.vista-2 .descripcion-box {
    color: #666;
    display: none;
}
.vista-2 .masinfo,
.vista-2 .icon-button.item-add-btn,
.vista-2 .icon-button.icon-compare,
.vista-2 .icon-button.icon-like {
    border: 0;
    background-color: transparent;
    padding: 0px;
    margin-right: 3px;
    width: 29px;
    height: 27px;
    float: right;
    transition: all ease-in-out .1s;
    -webkit-transition: all ease-in-out .1s;
    border-radius: 0;
}
.vista-2 .boton-acciones-producto {
    width: 70%;
    float: right;
}
.vista-2 a.masinfo i  {
    margin-top: 2px;
}
.vista-2 .icon-button.icon-like {
    background-position: -29px 0px;
}
.vista-2 .icon-button.icon-like:hover {
    background-position: -29px -27px;
    opacity: 1;
}
.vista-2 .icon-button.icon-compare {
    background-position: 0px 0px;
}
.vista-2 .icon-button.icon-compare:hover {
    background-position: 0px -28px;
}
.vista-2 .boton-acciones-producto a.item-add-btn {
    border: none;
    background-image: url("../img/sprites/icono-sprite-listas.png");
    background-position: 32px 0;
    background-color: transparent;
    float: right;
}
.vista-2 .boton-acciones-producto a i {
    text-align: center;
}
.vista-2 .boton-acciones-producto .icon-cart-text {
    padding: 3px 6px 0px 3px;
}
.vista-2 .boton-acciones-producto .icon-cart-text i {
    background: rgba(255, 255, 255, 0.47);
    padding: 5px;
    font-size: 15px;
    color: #fff;
    margin-right: 1px;
}

.vista-2 span.precio-text-g {
    font-size: 14px;
    color:rgb(103, 103, 103);
}
.vista-2 span.precio-text-g small {
    font-size: 14px;
}
.vista-2 span.precio-valor {
    font-size: 15px;
    color: #ff8d00;
}
.vista-2 span.precio-text-g small {
    font-size: 14px;
}

.vista-2 span.precio-valor.gray {
    color: #B5B5B5;
    text-decoration: line-through;
}

.vista-2 .precio-productos-item {
    text-align: left;
    line-height: 17px;
    margin-bottom: 5px;
}

/*.vista-2 .precio-producto-box {
    padding: 5px 0;
}*/
.vista-2 .precio-producto-box .ratings-container {
    text-align: right;
    margin-top: 15px;
}
.vista-2 .ratings-container {
    margin-top: 5px;
}
.vista-2 .ratings-container .ratings {
    margin: 0 auto;
    display: block;
}
.vista-2 .iconos-acciones-box {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
}
.vista-2 figure {
    position: relative;
    overflow: hidden;
    padding-bottom: 65%;
    max-width: 105px;
    margin: 0 auto 0;
}
.vista-2 figure img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*VISTAS PRODUCTOS - VISTA 3 */

.vista-3 {
    margin-top: 15px;
    margin-bottom: 20px;
}
.vista-3 .col-md-7 {
    width: 100%;
}
.vista-3 .col-md-2 {
    width: 100%;
}
.vista-3 .col-md-3 {
    width: 100%;
    float: right;
}
.vista-3 .descripcion-producto-box h1 {
    margin-bottom: 0px;
    font-size: 15px;
}
.vista-3 .categoria-box {
    display: none;
}
.vista-3 .descripcion-producto-box {
    padding: 0;
}
.vista-3 .referencia-box {
    margin-bottom: 2px;
    color: #BDBDBD;
    font-size: 13px;
}
.vista-3 .descripcion-box {
    color: #666;
    display: none;
}
.vista-3 .masinfo,
.vista-3 .icon-button.item-add-btn,
.vista-3 .icon-button.icon-compare,
.vista-3 .icon-button.icon-like {
    border: 0;
    background-color: transparent;
    padding: 0px;
    margin-right: 3px;
    width: 29px;
    height: 27px;
    float: right;
    transition: all ease-in-out .1s;
    -webkit-transition: all ease-in-out .1s;
    border-radius: 0;
}
.vista-3 a.masinfo i  {
    margin-top: 2px;
}
.vista-3 .icon-button.icon-like {
    background-position: -29px 0px;
}
.vista-3 .icon-button.icon-like:hover {
    background-position: -29px -27px;
    opacity: 1;
}
.vista-3 .icon-button.icon-compare {
    background-position: 0px 0px;
}
.vista-3 .icon-button.icon-compare:hover {
    background-position: 0px -28px;
}
.vista-3 .boton-acciones-producto a.item-add-btn {
    border: none;
    background-image: url("../img/sprites/icono-sprite-listas.png");
    background-position: 32px 1px;
    background-color: transparent;
    float: right;
}
.vista-3 .boton-acciones-producto a i {
    text-align: center;
}
.vista-3 .boton-acciones-producto .icon-cart-text {
    padding: 3px 6px 0px 3px;
}
.vista-3 .boton-acciones-producto .icon-cart-text i {
    background: rgba(255, 255, 255, 0.47);
    padding: 5px;
    font-size: 15px;
    color: #fff;
    margin-right: 1px;
}
.vista-3 span.precio-text-g {
    font-size: 14px;
    color:rgb(103, 103, 103);
}
.vista-3 span.precio-text-g small {
    font-size: 14px;
}
.vista-3 span.precio-valor {
    font-size: 16px;
    color: #ff8d00;
}
.vista-3 span.precio-valor.gray {
    color: #B5B5B5;
    text-decoration: line-through;
}
.vista-3 .precio-productos-item {
    text-align: left;
    line-height: 15px;
    margin-bottom: 5px;
}

.vista-3 .precio-producto-box {
    padding: 0;
}
.vista-3 .precio-producto-box .ratings-container {
    text-align: right;
    margin-top: 15px;
}
.vista-3 .ratings-container {
    margin-top: 5px;
    text-align: center;
}
.vista-3 .iconos-acciones-box {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
}
.vista-3 figure {
    position: relative;
    overflow: hidden;
    padding-bottom: 55%;
    max-width: 180px;
    margin: 0 auto 15px;
}
.vista-3 figure img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*VISTAS PRODUCTOS - VISTA 4 */

.vista-4 {
    margin-top: 15px;
    margin-bottom: 20px;
}
.vista-4 .col-md-7 {
    width: 100%;
}
.vista-4 .col-md-2 {
    width: 100%;
}
.vista-4 .col-md-3 {
    width: 100%;
    float: right;
}
.vista-4 .descripcion-producto-box h1 {
    margin-bottom: 0px;
    font-size: 13px;
}
.vista-4 .categoria-box {
    display: none;
}
.vista-4 .descripcion-producto-box {
    padding: 0;
}
.vista-4 .referencia-box {
    margin-bottom: 1px;
    color: #BDBDBD;
    font-weight: 400;
    font-size: 13px;
}
.vista-4 .descripcion-box {
    color: #666;
    display: none;
}
.vista-4 .masinfo,
.vista-4 .icon-button.item-add-btn,
.vista-4 .icon-button.icon-compare,
.vista-4 .icon-button.icon-like {
    border: 0;
    background-color: transparent;
    padding: 0px;
    margin-right: 3px;
    width: 29px;
    height: 27px;
    float: right;
    transition: all ease-in-out .1s;
    -webkit-transition: all ease-in-out .1s;
    border-radius: 0;
}
.vista-4 a.masinfo i  {
    margin-top: 2px;
}
.vista-4 .icon-button.icon-like {
    background-position: -29px 0px;
}
.vista-4 .icon-button.icon-like:hover {
    background-position: -29px -27px;
    opacity: 1;
}
.vista-4 .boton-acciones-producto a i {
    text-align: center;
}
.vista-4 .icon-button.icon-compare {
    background-position: 0px 0px;
}
.vista-4 .icon-button.icon-compare:hover {
    background-position: 0px -28px;
}
.vista-4 .boton-acciones-producto a.item-add-btn {
    border: none;
    background-image: url("../img/sprites/icono-sprite-listas.png");
    background-position: 32px 1px;
    background-color: transparent;
    float: right;
}
.vista-4 .boton-acciones-producto .icon-cart-text {
    padding: 3px 6px 0px 3px;
}
.vista-4 .boton-acciones-producto .icon-cart-text i {
    background: rgba(255, 255, 255, 0.47);
    padding: 5px;
    font-size: 15px;
    color: #fff;
    margin-right: 1px;
}
.vista-4 span.precio-text-g {
    font-size: 14px;
    color:rgb(103, 103, 103);
}
.vista-4 span.precio-text-g small {
    font-size: 14px;
}
.vista-4 span.precio-valor {
    font-size: 16px;
    color: #ff8d00;
}
.vista-4 span.precio-valor.gray {
    color: #B5B5B5;
    text-decoration: line-through;
}
.vista-4 .precio-productos-item {
    text-align: left;
    line-height: 17px;
    margin-bottom: 5px;
}

.vista-4 .precio-producto-box {
    padding: 0;
}
.vista-4 .precio-producto-box .ratings-container {
    text-align: right;
    margin-top: 15px;
}

.vista-4 .ratings-container {
    margin-top: 5px;
    text-align: center;
}
.vista-4 .iconos-acciones-box {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
}
.vista-4 figure {
    position: relative;
    overflow: hidden;
    padding-bottom: 60%;
    max-width: 140px;
    margin: 0 auto 10px;
}
.vista-4 figure img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*VISTAS PRODUCTOS - VISTA 5 */

.vista-5.col-md-2 {
    width: 20%;
}
.vista-5 {
    margin-top: 15px;
    margin-bottom: 20px;
}
.vista-5 .col-md-7 {
    width: 100%;
}
.vista-5 .col-md-2 {
    width: 100%;
}
.vista-5 .col-md-3 {
    width: 100%;
    float: right;
}
.vista-5 .descripcion-producto-box h1 {
    margin-bottom: 2px;
    font-size: 12px;
}
.vista-5 .categoria-box {
    display: none;
}
.vista-5 .descripcion-producto-box {
    padding: 0;
}
.vista-5 .referencia-box {
    margin-bottom: 1px;
    color: #BDBDBD;
    font-weight: 400;
    font-size: 11px;
}
.vista-5 .descripcion-box {
    color: #666;
    display: none;
}
.vista-5 .masinfo,
.vista-5 .icon-button.item-add-btn,
.vista-5 .icon-button.icon-compare,
.vista-5 .icon-button.icon-like {
    border: 0;
    background-color: transparent;
    padding: 0px;
    margin-right: 3px;
    width: 29px;
    height: 27px;
    float: right;
    transition: all ease-in-out .1s;
    -webkit-transition: all ease-in-out .1s;
    border-radius: 0;
}
.vista-5 a.masinfo i  {
    margin-top: 2px;
}
.vista-5 .boton-acciones-producto a i {
    text-align: center;
}
.vista-5 .icon-button.icon-like {
    background-position: -29px 0px;
}
.vista-5 .icon-button.icon-like:hover {
    background-position: -29px -27px;
    opacity: 1;
}
.vista-5 .icon-button.icon-compare {
    background-position: 0px 0px;
}
.vista-5 .icon-button.icon-compare:hover {
    background-position: 0px -28px;
}
.vista-5 .boton-acciones-producto a.item-add-btn {
    border: none;
    background-image: url("../img/sprites/icono-sprite-listas.png");
    background-position: 32px 1px;
    background-color: transparent;
    float: right;
}
.vista-5 .boton-acciones-producto .icon-cart-text {
    padding: 3px 6px 0px 3px;
}
.vista-5 .boton-acciones-producto .icon-cart-text i {
    background: rgba(255, 255, 255, 0.47);
    padding: 5px;
    font-size: 15px;
    color: #fff;
    margin-right: 1px;
}
.vista-5 span.precio-text-g {
    font-size: 14px;
    color:rgb(103, 103, 103);
    font-weight:400;
}
.vista-5 span.precio-text-g small {
    font-size: 14px;
}
.vista-5 span.precio-valor {
    font-size: 15px;
    color: #ff8d00;
}

.vista-5 span.precio-valor.gray {
    color: #B5B5B5;
    text-decoration: line-through;
}
.vista-5 .precio-productos-item {
    text-align: left;
    line-height: 17px;
    margin-bottom: 5px;
}
.vista-5 .precio-producto-box .ratings-container {
    text-align: right;
    margin-top: 15px;
}
.vista-5 .ratings-container {
    margin-top: 5px;
    text-align: center;
}
.vista-5 .iconos-acciones-box {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
}
.vista-5 span.sub-price {
    display: none;
}
.vista-5 span.precio-valor i {
    display: none;
}
.vista-5 figure {
    position: relative;
    overflow: hidden;
    padding-bottom: 65%;
    max-width: 120px;
    margin: 0 auto 10px;
}
.vista-5 figure img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
span.precio-text-g.regular {
    font-size: 12px;
    color: #999;
}
span.precio-text-g.no-disponible small{
    font-size: 13px;
    color: #999;
}

span.precio-text-g.regular + span.precio-valor {
    color: #999;
    font-size: 13px;
    text-decoration:line-through;
}


span.precio-valor.gray small {
    font-size: 13px;
}

.producto-img-box .iconos-acciones-adiccionales .fa {
    font-size: 18px;
}

.related-product .btn:hover {
    color: #19232D !important;
}

/* ESTILOS DEL NUEVO TUNNEL */

.tunnel_new .panel {
    border-radius: 0;
}
.tunnel_new .panel-heading {
    color: #fff;
    font: 400 17px/13px "Roboto", Arial, sans-serif;
    background-color: #2d2620;
    box-shadow: inset 20px 0px #ff8d00;
    padding-left: 30px;
}
.tunnel_new .panel-default {
    border-color: #ececec;
}
.tunnel_new .custom-checkbox {
    margin-bottom: 0px;
    margin-top: 5px;
}
.tunnel_new .form-control-static {
    padding-top: 3px;
    padding-bottom: 4px;
    margin-bottom: 0;
}
.tunnel_new .form-group {
    margin-bottom: 5px;
}
.tunnel_new .form-control {
    height: 33px;
    padding: 7px 12px;
    font-size: 13px;
}
.tunnel_new .resumen-canasta {
    background: url('../img/img-canasta-resumen.png') no-repeat left 50px;
}
.tunnel_new .resumen-canasta .form-control-static {
    border-bottom: 1px dashed #d4d3d3;
    text-align: right;
}
.tunnel_new .resumen-canasta .form-control-static.destacar {
    color: #69a51e;
    font-size: 17px;
}
.tunnel_new .resumen-canasta .form-group {
    margin-bottom: 2.3px;
}
.tunnel_new .control-label {
    padding: 4px 0;
    color: #505050;
    font: 600 13px/1.5 'Open Sans', sans-serif;
}
.tunnel_new .control-label.destacar {
    color: #008533;
    font-size: 15px;
}
.tunnel_new .form-control[disabled] {
    cursor: not-allowed;
}
.tunnel_new .glyphicon-calendar {
    font-size: 17px;
    color: #008533;
}

.btn-tunnel-back-to-cart {
    background-color: orange !important;
    border-color: orange !important;
}

.btn-tunnel-back-to-cart:hover {
    background-color: orange !important;
    border-color: orange !important;
}
