@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:400,500,600");
body {
  color: #555555;
  background: #f1f1f1;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  text-rendering: optimizeLegibility; }

a:hover {
  text-decoration: none; }

button:focus,
input:focus,
.btn.active.focus,
.btn.active:focus,
.btn:active,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
  border-color: none; }

.form-control:focus:focus {
  box-shadow: none;
  border-color: #f58634; }

.dflex {
  display: flex; }

#salirAplication {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.salir-aplication {
  text-align: center;
  font-size: 1.3em; }
  .salir-aplication .modal-header {
    background: #f58634;
    color: #fff;
    padding: .7em; }
    .salir-aplication .modal-header .modal-title {
      font: 400 1.3em/1.5 "Oswald", Helvetica, sans-serif; }
  .salir-aplication .content-modal-body {
    font-size: 1.1em; }
  .salir-aplication .content-modal-body,
  .salir-aplication .btn-actions {
    margin: 0.5em 0; }

.header-main {
  display: flex;
  padding: 0.7em 1.2em;
  background: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin-bottom: 1.5em; }
  .header-main .logo {
    width: 80px;
    margin: 4px 15px 0 0; }
  .header-main .search-input {
    border: solid 1px #e4e4e4;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden; }
    .header-main .search-input input {
      border: 0;
      box-shadow: none;
      padding: 0 20px; }
    .header-main .search-input .icon-search {
      color: #a7a7a7;
      padding: 3px 13px 0 10px; }
      .header-main .search-input .icon-search .glyphicon-search {
        font-size: .9em; }
  .header-main .btns-actions {
    margin: 0 0 0 1em;
    display: flex; }
    .header-main .btns-actions .btn {
      background: transparent;
      padding: .4em;
      margin: 0 .4em; }
      .header-main .btns-actions .btn:focus {
        outline: none; }
      .header-main .btns-actions .btn i {
        font-size: 1.5em; }
    .header-main .btns-actions .navbar-collapse {
      padding-left: 5px;
      padding-right: 0; }
      @media (max-width: 768px) {
        .header-main .btns-actions .navbar-collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important; } }
      .header-main .btns-actions .navbar-collapse #cart-badge {
        background: #8BC34A;
        right: 5px;
        top: -10px;
        position: relative; }
      .header-main .btns-actions .navbar-collapse .navbar-nav {
        margin: 0 -15px; }
        @media (max-width: 767px) {
          .header-main .btns-actions .navbar-collapse .navbar-nav .open .dropdown-menu {
            position: absolute;
            float: left;
            margin-top: 2px;
            background-color: #fff;
            right: 0;
            left: auto;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.15); } }
      .header-main .btns-actions .navbar-collapse .dropdown-cart {
        min-width: 320px;
        padding: 0; }
        .header-main .btns-actions .navbar-collapse .dropdown-cart .item-cart {
          border-bottom: 1px solid #f1eeee; }
          .header-main .btns-actions .navbar-collapse .dropdown-cart .item-cart .item {
            display: block;
            padding: 10px;
            margin: 0; }
            .header-main .btns-actions .navbar-collapse .dropdown-cart .item-cart .item:hover {
              background-color: #f3f3f3; }
            .header-main .btns-actions .navbar-collapse .dropdown-cart .item-cart .item::after {
              visibility: hidden;
              display: block;
              font-size: 0;
              content: " ";
              clear: both;
              height: 0; }
            .header-main .btns-actions .navbar-collapse .dropdown-cart .item-cart .item-left, .header-main .btns-actions .navbar-collapse .dropdown-cart .item-cart .item-left img {
              float: left; }
            .header-main .btns-actions .navbar-collapse .dropdown-cart .item-cart .item-left .item-info {
              font-size: .8em;
              margin-left: 10px;
              float: left;
              max-width: 190px; }
              .header-main .btns-actions .navbar-collapse .dropdown-cart .item-cart .item-left .item-info .cart-price-value {
                font: 600 1.5em/1.5 "Oswald", Helvetica, sans-serif;
                color: #f58634; }
              .header-main .btns-actions .navbar-collapse .dropdown-cart .item-cart .item-left .item-info span {
                display: block; }
            .header-main .btns-actions .navbar-collapse .dropdown-cart .item-cart .item-right {
              float: right; }
              .header-main .btns-actions .navbar-collapse .dropdown-cart .item-cart .item-right button {
                margin-top: 7px; }
                .header-main .btns-actions .navbar-collapse .dropdown-cart .item-cart .item-right button i {
                  font-size: 1em; }
        .header-main .btns-actions .navbar-collapse .dropdown-cart .view-cart a {
          padding: 10px; }
  .header-main #selectUser .modal-header {
    padding: 15px;
    text-align: center;
    background: #f58634;
    color: #fff; }
    .header-main #selectUser .modal-header .modal-title {
      font: 400 2em/.7 "Oswald", Helvetica, sans-serif; }
  .header-main #selectUser .list-user-details {
    list-style-type: circle;
    padding-left: 20px;
    font-size: 1.3em;
    line-height: 1.5; }
  .header-main #selectUser .modal-footer {
    border-top: none; }

.info-user.highlight {
  padding: 5px 15px;
  background-color: #555555;
  font-size: 1.5em;
  color: #e6e6e6;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35); }
  .info-user.highlight.info-user small {
    margin-right: 1.5em;
    border-right: 1px dotted #bdbaba;
    padding-right: 1em; }
    .info-user.highlight.info-user small:last-child {
      border: none; }
    .info-user.highlight.info-user small strong {
      font-weight: 600;
      color: #fff;
      margin-right: 5px; }

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh; }
  .login .logo {
    width: 200px;
    margin-bottom: 1em; }
  .login .form {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login .form .form-signin {
      width: 80vw;
      padding: 4em;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1); }
      .login .form .form-signin .form-signin-heading {
        font: 500 2.5em/1 "Oswald", Helvetica, sans-serif;
        margin: 0 0 1em; }
        .login .form .form-signin .form-signin-heading small {
          font: 300 0.6em/1.5 Arial, sans-serif;
          display: block;
          margin: .7em 0; }
      .login .form .form-signin .form-control {
        position: relative;
        height: auto;
        padding: .8em;
        border-radius: 0;
        margin-bottom: .5em; }
        .login .form .form-signin .form-control:focus {
          z-index: 2; }
      .login .form .form-signin .button-form-signin {
        margin-top: 1em;
        color: #fff;
        background-color: #f58634;
        border-color: #f58634; }
        .login .form .form-signin .button-form-signin:focus, .login .form .form-signin .button-form-signin.focus {
          color: #fff;
          background-color: #ea6a0c;
          border-color: #a24908; }
        .login .form .form-signin .button-form-signin:hover {
          color: #fff;
          background-color: #ea6a0c;
          border-color: #e1660b; }
        .login .form .form-signin .button-form-signin:active, .login .form .form-signin .button-form-signin.active,
        .open > .login .form .form-signin .button-form-signin.dropdown-toggle {
          color: #fff;
          background-color: #ea6a0c;
          border-color: #e1660b; }
          .login .form .form-signin .button-form-signin:active:hover, .login .form .form-signin .button-form-signin:active:focus, .login .form .form-signin .button-form-signin:active.focus, .login .form .form-signin .button-form-signin.active:hover, .login .form .form-signin .button-form-signin.active:focus, .login .form .form-signin .button-form-signin.active.focus,
          .open > .login .form .form-signin .button-form-signin.dropdown-toggle:hover,
          .open > .login .form .form-signin .button-form-signin.dropdown-toggle:focus,
          .open > .login .form .form-signin .button-form-signin.dropdown-toggle.focus {
            color: #fff;
            background-color: #c85b0a;
            border-color: #a24908; }
        .login .form .form-signin .button-form-signin:active, .login .form .form-signin .button-form-signin.active,
        .open > .login .form .form-signin .button-form-signin.dropdown-toggle {
          background-image: none; }
        .login .form .form-signin .button-form-signin.disabled:hover, .login .form .form-signin .button-form-signin.disabled:focus, .login .form .form-signin .button-form-signin.disabled.focus, .login .form .form-signin .button-form-signin[disabled]:hover, .login .form .form-signin .button-form-signin[disabled]:focus, .login .form .form-signin .button-form-signin[disabled].focus,
        fieldset[disabled] .login .form .form-signin .button-form-signin:hover,
        fieldset[disabled] .login .form .form-signin .button-form-signin:focus,
        fieldset[disabled] .login .form .form-signin .button-form-signin.focus {
          background-color: #f58634;
          border-color: #f58634; }
        .login .form .form-signin .button-form-signin .badge {
          color: #f58634;
          background-color: #fff; }
      .login .form .form-signin .alert {
        font-size: 1.4em;
        margin: 1em 0; }
        .login .form .form-signin .alert .alert-inner-separator {
          clear: both;
          margin-top: 10px;
          margin-bottom: 13px;
          border: 0;
          height: 1px;
          background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
          background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
          background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
          background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent); }

.list-products .list-item {
  display: flex;
  border: none;
  box-shadow: 0px 2px 0 #dedede;
  margin-bottom: 1em; }
  .list-products .list-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 80px;
    max-width: 80px; }
    .list-products .list-item-img img {
      margin: 0 auto; }
  .list-products .list-item .list-item-details {
    padding-right: 0; }
  .list-products .list-item-title {
    font: 400 1.5em/1.2 "Oswald", Helvetica, sans-serif;
    margin: 0 0 .4em; }
  .list-products .list-item-existencias, .list-products .list-item-ref, .list-products .list-item-code {
    display: block;
    font-size: 1.2em;
    color: #888; }
    .list-products .list-item-existencias strong, .list-products .list-item-ref strong, .list-products .list-item-code strong {
      font-weight: 600;
      color: #444; }
  .list-products .list-item-actions .item-actions-price {
    line-height: 3;
    margin-top: .8em; }
    .list-products .list-item-actions .item-actions-price div {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      .list-products .list-item-actions .item-actions-price div > * {
        margin: 0 .3em 0 0; }
      .list-products .list-item-actions .item-actions-price div strong {
        font: 700 1.6em/1 "Open Sans", "Helvetica Neue", Helvetica, sans-serif; }
      .list-products .list-item-actions .item-actions-price div .price-value {
        font: 600 1.9em/1 "Oswald", Helvetica, sans-serif;
        color: #f58634; }
      .list-products .list-item-actions .item-actions-price div .iva {
        font: 400 1em/1 "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
        align-self: baseline; }
  .list-products .list-item-actions .item-actions-cart button {
    color: #fff;
    background-color: #f58634;
    border-color: #f58634;
    float: right;
    font-size: 2em;
    padding: 1px 8px; }
    .list-products .list-item-actions .item-actions-cart button:focus, .list-products .list-item-actions .item-actions-cart button.focus {
      color: #fff;
      background-color: #ea6a0c;
      border-color: #a24908; }
    .list-products .list-item-actions .item-actions-cart button:hover {
      color: #fff;
      background-color: #ea6a0c;
      border-color: #e1660b; }
    .list-products .list-item-actions .item-actions-cart button:active, .list-products .list-item-actions .item-actions-cart button.active,
    .open > .list-products .list-item-actions .item-actions-cart button.dropdown-toggle {
      color: #fff;
      background-color: #ea6a0c;
      border-color: #e1660b; }
      .list-products .list-item-actions .item-actions-cart button:active:hover, .list-products .list-item-actions .item-actions-cart button:active:focus, .list-products .list-item-actions .item-actions-cart button:active.focus, .list-products .list-item-actions .item-actions-cart button.active:hover, .list-products .list-item-actions .item-actions-cart button.active:focus, .list-products .list-item-actions .item-actions-cart button.active.focus,
      .open > .list-products .list-item-actions .item-actions-cart button.dropdown-toggle:hover,
      .open > .list-products .list-item-actions .item-actions-cart button.dropdown-toggle:focus,
      .open > .list-products .list-item-actions .item-actions-cart button.dropdown-toggle.focus {
        color: #fff;
        background-color: #c85b0a;
        border-color: #a24908; }
    .list-products .list-item-actions .item-actions-cart button:active, .list-products .list-item-actions .item-actions-cart button.active,
    .open > .list-products .list-item-actions .item-actions-cart button.dropdown-toggle {
      background-image: none; }
    .list-products .list-item-actions .item-actions-cart button.disabled:hover, .list-products .list-item-actions .item-actions-cart button.disabled:focus, .list-products .list-item-actions .item-actions-cart button.disabled.focus, .list-products .list-item-actions .item-actions-cart button[disabled]:hover, .list-products .list-item-actions .item-actions-cart button[disabled]:focus, .list-products .list-item-actions .item-actions-cart button[disabled].focus,
    fieldset[disabled] .list-products .list-item-actions .item-actions-cart button:hover,
    fieldset[disabled] .list-products .list-item-actions .item-actions-cart button:focus,
    fieldset[disabled] .list-products .list-item-actions .item-actions-cart button.focus {
      background-color: #f58634;
      border-color: #f58634; }
    .list-products .list-item-actions .item-actions-cart button .badge {
      color: #f58634;
      background-color: #fff; }

.product .highlight {
  padding: 10px 15px;
  margin-bottom: .9em;
  background-color: #ffffff;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  font-size: 1.5em; }

.product .product-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 80px;
  max-width: 80px; }
  .product .product-item-img img {
    margin: 0 auto; }

.product .product-item-title {
  font: 400 1.2em/1.4 "Oswald", Helvetica, sans-serif;
  margin: 0 0 .2em; }

.product .product-item-existencias, .product .product-item-ref, .product .product-item-code {
  display: block;
  font-size: .8em;
  color: #888; }
  .product .product-item-existencias strong, .product .product-item-ref strong, .product .product-item-code strong {
    font-weight: 600;
    color: #444; }

.product .product-item .product-price {
  margin-top: .3em;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .product .product-item .product-price > * {
    margin: 0 .3em 0 0; }
  .product .product-item .product-price strong {
    font: 700 0.9em/1 "Open Sans", "Helvetica Neue", Helvetica, sans-serif; }
  .product .product-item .product-price .price-value {
    font: 600 1.2em/1 "Oswald", Helvetica, sans-serif;
    color: #f58634; }
  .product .product-item .product-price .iva {
    font: 400 0.6em/1 "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    align-self: baseline; }

.product .boxes-discount {
  display: flex;
  justify-content: space-between; }
  .product .boxes-discount .item-discount {
    width: 49.8%; }
    .product .boxes-discount .item-discount.highlight {
      padding: 0; }
    .product .boxes-discount .item-discount header {
      background: #f58634;
      padding: 5px;
      color: #fff; }
      .product .boxes-discount .item-discount header .radio {
        margin: 2px;
        padding: 0 0 0 25px; }
        .product .boxes-discount .item-discount header .radio .cr {
          position: absolute;
          display: inline-block;
          border: 1px solid #ffffff;
          width: 1.4em;
          height: 1.4em;
          border-radius: 50%;
          left: 0; }
          .product .boxes-discount .item-discount header .radio .cr .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
            margin-left: 0.04em; }
        .product .boxes-discount .item-discount header .radio label {
          padding: 0;
          font-weight: 700;
          text-shadow: 0px 1px 2px #864211;
          margin-left: .3em; }
          .product .boxes-discount .item-discount header .radio label input[type="radio"] {
            display: none; }
          .product .boxes-discount .item-discount header .radio label input[type="radio"] + .cr > .cr-icon {
            transform: scale(3) rotateZ(-20deg);
            opacity: 0;
            transition: all .3s ease-in; }
          .product .boxes-discount .item-discount header .radio label input[type="radio"]:checked + .cr > .cr-icon {
            transform: scale(1) rotateZ(0deg);
            opacity: 1; }
    .product .boxes-discount .item-discount .container-box {
      padding: 10px 15px;
      height: 100%; }
      .product .boxes-discount .item-discount .container-box .box-flex {
        display: flex;
        align-items: center; }
        .product .boxes-discount .item-discount .container-box .box-flex small {
          display: block;
          font-size: .8em;
          color: #888; }
          .product .boxes-discount .item-discount .container-box .box-flex small strong {
            font-weight: 600;
            color: #444; }
        .product .boxes-discount .item-discount .container-box .box-flex .form-control {
          text-align: center; }

.product .liquidacion .resumen li {
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  padding: 6px 0; }
  .product .liquidacion .resumen li strong {
    font-weight: 600; }
  .product .liquidacion .resumen li:last-child {
    color: #337ab9;
    font-size: 1.5em; }
    .product .liquidacion .resumen li:last-child .resumen-value {
      color: #f58634; }
  .product .liquidacion .resumen li .resumen-value {
    color: #666;
    font: 500 1.2em/1 "Oswald", Helvetica, sans-serif;
    float: right; }

.product .liquidacion .container-box-add {
  align-items: center;
  font-size: 1.4em;
  flex-direction: column;
  padding: 0 10px;
  justify-content: center; }
  .product .liquidacion .container-box-add header {
    display: flex;
    width: 100%;
    background: #f58634;
    color: #fff;
    font-size: 1.1em;
    position: absolute;
    top: 0; }
    .product .liquidacion .container-box-add header .radio {
      margin: 6px 15px; }
      .product .liquidacion .container-box-add header .radio label {
        padding: 0;
        font-weight: 700;
        text-shadow: 0px 1px 2px #864211;
        margin-left: .3em; }
  .product .liquidacion .container-box-add .add {
    display: flex;
    justify-content: center;
    top: 15px;
    position: relative; }
    .product .liquidacion .container-box-add .add .btn-minus, .product .liquidacion .container-box-add .add .btn-plus {
      margin: 0 .5em; }
    .product .liquidacion .container-box-add .add input {
      padding: 8px;
      border-radius: 20px;
      border: 3px solid #e4e4e4;
      text-align: center;
      width: 10em; }

.product .discounts {
  margin-top: 1.8em;
  margin-bottom: 2em; }

.popover-content {
  padding: 5px; }
  .popover-content .table-popover {
    text-align: center;
    margin: 0; }
    .popover-content .table-popover thead {
      background: #f58634;
      color: #fff;
      text-shadow: 0px 1px 2px #864211; }

.cart {
  margin: 1em;
  font-size: 1.3em; }
  .cart .highlight {
    background-color: #ffffff;
    border: 1px solid #e1e1e8;
    border-radius: 4px; }
  .cart .table {
    margin: 0; }
    .cart .table thead tr.title-table {
      background: #f68b3c;
      color: #fff; }
      .cart .table thead tr.title-table th {
        padding: .6em; }
    .cart .table thead th {
      font-weight: 600;
      text-align: center; }
    .cart .table tbody tr td {
      vertical-align: middle;
      padding: 5px 10px; }
      .cart .table tbody tr td.td-item-title {
        padding-left: 2.5em;
        position: relative; }
        .cart .table tbody tr td.td-item-title .btn-delete {
          position: absolute;
          left: .4em;
          top: 0;
          color: #d9534f;
          padding: 4px; }
        .cart .table tbody tr td.td-item-title .cart-item-title {
          display: block;
          font-size: .9em;
          text-transform: capitalize; }
  .cart .liquidacion-cart {
    margin-top: 1em; }
    .cart .liquidacion-cart .resumen li {
      font-size: 1em;
      border-bottom: 1px solid #ccc;
      padding: 7px 0; }
      .cart .liquidacion-cart .resumen li strong {
        font-weight: 600; }
      .cart .liquidacion-cart .resumen li:last-child {
        color: #337ab9;
        font-size: 1.1em; }
        .cart .liquidacion-cart .resumen li:last-child .resumen-value {
          color: #f58634; }
      .cart .liquidacion-cart .resumen li .resumen-value {
        color: #666;
        font: 500 1.2em/1 "Oswald", Helvetica, sans-serif;
        float: right; }
  .cart .btn-actions--cart {
    margin-top: 1em;
    margin-bottom: 2em; }
    .cart .btn-actions--cart .btn-pay {
      float: right; }
    .cart .btn-actions--cart .btn-cancel {
      float: left; }

.loading-template {
  position: fixed;
  z-index: 99999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center; }
  .loading-template .message-loading {
    display: table;
    padding: 10px;
    background-color: rgba(239, 235, 235, 0.75);
    border-radius: 10px;
    text-align: center;
    color: #313131;
    font-size: 18px; }
    .loading-template .message-loading .loangingSpiner {
      font-size: 1.4em;
      position: static !important;
      display: inline-block; }
    .loading-template .message-loading h5 {
      font-weight: 600; }

.confirmation .highlight {
  padding: 10px 15px;
  margin-bottom: .9em;
  background-color: #ffffff;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  font-size: 1.5em; }

.confirmation .exitoso {
  font: 500 1.3em/1 "Oswald", Helvetica, sans-serif;
  color: #f58634;
  margin-bottom: 1em; }
  .confirmation .exitoso span {
    color: #4CAF50;
    font-size: 1.3em;
    position: relative;
    top: 3px;
    margin-left: 3px; }

.confirmation table {
  margin: 1.3em 0;
  font-size: .9em; }
  .confirmation table.nonborde *, .confirmation table.nonborde {
    border: 0px solid transparent !important;
    padding: 2px; }

.confirmation .btns-actions {
  margin-top: 2em; }
