  /**
  + Efecto al ubiucarse sobre el producto
  **/
  /*.item-product {
    -webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
    transition: all 0.1s ease-out 0s;
  }

  .item-product:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }*/

  /**
  + Efecto de la búsqueda por cadena
  **/
  .slide-products.ng-enter {
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
    opacity: 0;
  }
  .slide-products.ng-enter.ng-enter-active {
    opacity: 1;
  }
  .slide-products.ng-leave {
    -webkit-transition: 0.5s ease-out all;
    transition: 0.5s ease-out all;
  }
  .slide-products.ng-leave-active {
    opacity: 0;
  }

  .boton-busqueda-productos {
    height: 30px;
    width: 160px;
    margin-right: 10px;
    color: #757575;
    border: 1px solid #e4e2e2;
  }

  /* Comparar - Página Comparar Productos */
  .compare-item-table .item-name { font: 600 15px/22px "Open sans",sans-serif; }
  .compare-item-table .table-title { font: 600 14px/22px "Open sans",sans-serif; }
  .compare-item-table .item-price{ color: #0664cd; font: 600 15px/20px "Open Sans",Arial,sans-serif;}
  .item-price i {cursor: help;font-size: 12px;margin-left: -3px;margin-top: -4px;position: absolute; }
  .compare-item-table figure img{width: 100%;}
  .compare-item-table .close-button:hover {background-color:#D51A03;background-position: -26px -290px;border-color:#D51A03;}
  .compare-item-table .icon-cart-text {line-height: 1;}
  .info-cookie{z-index:900;padding: 20px 60px; background:rgba(25,35,45,0.9); position: fixed; bottom: 0; width: 100%; color: #fff; border-top: 1px solid #ddd;}
  .info-cookie a:hover{color:#0078ff}

  /* Comparar - Página Productos Categoría */
  .icon-button.icon-compare {
    background-color: #f0f0f0;
    background-image: url("../img/icono-comparar-sprite.png");
    background-position: 0 -35px;
    background-size: auto auto;
    border: 1px solid #ddd;
  }

  .icon-button.icon-compare:hover {
    background-color:#fff;
    border-color:#ddd;
    background-position: 0px 0px;
  }

  .producto-a-comparar {
    background-color: #fff !important;
    border-color: #ddd !important;
    background-position: 0px 0px !important;
  }

  .btn-comparar{
    margin: 10px 0;
    padding: 6px 10px 6px 20px;
    font-size: 12px;
    background: #38b0af;
  }

  .btn-comparar:hover,
  .btn-comparar:focus,
  .btn-comparar:active
  {
    background:#268c8b!important;
  }

  .btn-comparar i{
    margin-left: -15px;
    margin-top: 3px;
    position: absolute;
  }

  .btn-comparar a {
    color: white !important;
  }

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }


  .loader-general img, .loader-general span{
    display: inline !important;
  }

  .loader-general span {
    color: #999;
    position: relative;
    left: 5px;
    top: 1px;
  }

  /* Recomendar amigo */
  .recomendar-amigo{
    float: right;
    padding: 9px 15px 9px 0;
    border-right: 1px solid #ddd;
    margin-right: 10px;
    cursor: pointer;
  }

  .recomendar-amigo i{
    padding-right: 5px;
  }

  /* Redes producto */
  ul.redes-producto{
    float: right;
    padding-top: 6px;
  }

  ul.redes-producto li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 5px;
  }

  ul.redes-producto li:first-child {
    line-height: 50%;
    padding-right: 10px;
    padding-top: 9px;
  }

  .redes-producto img {
    width: 25px;
  }

  #breadcrumb-container li span {
    color: #6d6d6d;
    font-weight: 600;
  }

  .filter-resume {
    float: left;
    margin-left: 11px;
    display: block;
    font-size: 13px;
    line-height: 30px;
    color: #a4a4a4;
  }

  .pagination > .active > a {
    background-color: #F9A005 !important;
    color: white !important;
  }

  .modal.precanasta-cantidad .btn:disabled,
  .product-add .btn[disabled] {
    background-color: #CCC !important;
    border: 1px solid #CCC !important;
  }

  .ofertas-icons .producto-oferta,
  .ofertas-icons .envio-casa {
    display: none;
  }

  .enlace-externo-categoria {
    color: #0664CD;
  }

  .wrapper-loading-animation {
    text-align: center;
    padding: 100px;
    padding-top: 70px;
  }

  .wrapper-loading-animation span {
    color: #888;
  }

  .title-quote-or-order {
    background-color: #eee !important;
  }

  .seccion-banners iframe {
    height: 290px !important;
    max-height: 290px !important;
  }

  #category-header img.img-bg-category-header {
    border-bottom: 4px solid #3baeb5;
  }

  .enlace-buscas-empleo {
    font-size: 18px;
  }

  .enlace-buscas-empleo a {
    color: white !important;
  }

  .datos-sucursal .mapa {
    width: 26%;
  }

  .config-pedido-box h5 {
    height: 35px;
  }

  .table-puntos-de-venta-shipping {
    margin-left: 15px;
    position: relative;
    top: -10px;
  }
