@import "./font-awesome.styl"
@import "./prettyPhoto.styl"
@import "./owl.carousel.styl"
@import "./animate.styl"
@import "./jquery.selectbox.styl"
@import "./style.styl"
@import "./small-box.styl"
@import "./style-edwin.styl"
@import "./smartb.styl"
@import "./personalizado.styl"
@import "./responsive-smartb.styl"
@import "./responsive-personalizado.styl"
@import "./old-styles.styl"
@import "./simplebar.styl"
@import "./rzslider.styl"
@import "./bootstrap-datepicker.min.css"
colorDark = #f58634
colorClear = #F5A977
colorGeneral = #f58634


.info-cookie a {
  color: #dddddd;
  text-decoration: underline;
}
.info-cookie a:hover {
  color: #808080;
}
.info-cookie {
  text-align: center;
}
.aceptar-cookies.btn {
  padding: 2px 7px;
  border-radius: 50%;
  color: #1b242d;
  margin-left: 10px;
  font-size: 16px;
  background: #eeeeee;
}
.aceptar-cookies.btn:hover {
  color: #eeeeee;
  background: rgba(238, 238, 238, 0.31);
}

.carousel-inner>.item>.text-center>a>img{
  display: block;
  max-width: 100%;
  height: auto;
}

#top-links li.salir-top{
  margin: 0;
}

#top-links li.salir-top a{
  margin: 7px 0;
  padding-left: 8px;
  padding-right: 8px;
}

#header-top .header-link {
  right: 26px;
}

.cart-resume-1-item { max-height: 110px; overflow-y: hidden; }
.cart-resume-2-item { max-height: 220px; overflow-y: hidden; }
.cart-resume-3-item { max-height: 360px;}
.simplebar-track .simplebar-scrollbar { cursor: pointer !important; }


.wrapper-clients{
  border: 1px solid #ddd;
  height: 200px;
  border-radius: 3px;
  padding: 10px 20px;
  margin-bottom: 20px;
  overflow: auto;
}

.wrapper-clients .client input {
  cursor: pointer;
}

.wrapper-clients .client label {
  position: relative;
  top: -2px;
  color: #666;
  cursor: pointer;
}

.wrapper-clients .simplebar-track .simplebar-scrollbar {
  height: 50px !important;
}

.wrapper-clients .simplebar-content {
  padding-top: 10px;
  padding-left: 15px;
}

.seleccionar-cliente .btn,
.seleccionar-tercero .btn,
.seleccionar-centro-operacion .btn {
  font-size: 13px;
  border-radius: 3px !important;
  margin-left: 5px;
}

.seleccionar-cliente .btn:disabled,
.seleccionar-tercero .btn:disabled,
.seleccionar-centro-operacion .btn:disabled {
  background-color: #CCC;
  border-color: #CCC;
}

.table-mostrar-cliente td {
  text-align: left !important;
}

.table-mostrar-cliente td.titulo {
  font-weight: bold !important;
}

.modal-open .modal {
  z-index: 9999 !important;
}

.buscarClass{
  padding: 12px 16px !important;
  font-size: 14px !important;
  display: block !important;
  text-align: center !important;
  color: #2d2620;
  font-family: 'Oswald', sans-serif;
  float:right !important;
}

.margin-button-login {
  margin-top: 24px !important;
}

.content-modal-body,
.btn-actions {
  margin: 0.5em 0;
}
.select-dropdown .dropdown-menu {
  z-index: 901;
}

@media (max-width:767px){
  .aside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
  }
  #aside-ctrl ~ .aside {
    width: 0px;
    background: #FFFFFF;
  }
  #aside-ctrl:checked ~ .aside .content-filtros {
    display: block;
    width: 235px;
    background: #fff;
    padding-bottom: 5px;
    margin: 14px;
  }

  #aside-ctrl:checked ~ .aside .filtro-productos-responsive {
    background: #fff;
  }
  #aside-ctrl ~ .aside .content-filtros {
    display: none;
    width: 0;
  }
  #aside-ctrl:checked ~ .aside {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 260px;
    z-index: 898;
  }

  .aside-ctrl--label {
    position: absolute;
    right: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #FFFFFF;
    left: -62px;
  }
  #aside-ctrl ~ .aside .aside-ctrl--label:before {
    content: "\f1de";
    font-family: FontAwesome;
    font-size: 1.8em;
    color: #535353;
    position: absolute;
    top: 32px;
    left: -29px;
  }
  #aside-ctrl ~ .aside .aside-ctrl--label:after {
    content: 'Filtrar';
    color: #535353;
    position: absolute;
    top: 43px;
    font: 400 15px/1 'Oswald', Arial, sans-serif;
  }
  #aside-ctrl:checked ~ .aside .aside-ctrl--label:before {
    left: 17px;
    background: #fff;
    color: #535353;
    content: '\f0da';
    font-size: 2.1em;
    padding: 0px 20px;
    top: 31px;
  }
  #aside-ctrl:checked ~ .aside .aside-ctrl--label:after {
    content: '';
  }
  .aside-ctrl--reset {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 897;
    opacity: 0;
    visibility: hidden;
    background-color: #000;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: none;
  }

  #aside-ctrl:checked ~ .aside-ctrl--reset {
    visibility: visible;
    opacity: .6;
    display: block;
  }

  .main-content {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }

  #aside-ctrl:checked ~ .main-content {
    -webkit-transform: scale(.9);
    transform: scale(.9);
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  .modal {
    z-index: 999999;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}
.aside {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: all .3s;
  transition: all .3s, -webkit-transform .3s;
}
#aside-ctrl ~ .aside {
  width: 0px;
  background: #FFFFFF;
}
#aside-ctrl:checked ~ .aside .content-filtros {
  display: block;
  width: 235px;
  margin: 0px;
  background: #fff;
  padding-bottom: 5px;
  margin: 14px;
}

#aside-ctrl:checked ~ .aside .filtro-productos-responsive {
  background: #fff;
}
#aside-ctrl ~ .aside .content-filtros {
  display: none;
  width: 0;
}
#aside-ctrl:checked ~ .aside {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  width: 260px;
  right:0;
}

.aside-ctrl--label {
  position: absolute;
  right: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FFFFFF;
  left: -62px;
}
#aside-ctrl ~ .aside .aside-ctrl--label:before {
  content: "\f1de";
  font-family: FontAwesome;
  font-size: 1.8em;
  color: #19232D;
  position: absolute;
  top: 60px;
  left: 8px;
}
/*#aside-ctrl ~ .aside .aside-ctrl--label:after {
    content: 'Filtrar';
    position: absolute;
    color: #19232D;
    top: 53px;
    font: 400 15px/1 'Oswald', Arial, sans-serif;
}*/
#aside-ctrl:checked ~ .aside .aside-ctrl--label:after {
  content: '';
}
#aside-ctrl:checked ~ .aside .aside-ctrl--label:before {
  left: 17px;
  background: #fff;
  color: #19232D;
  content: '\f0da';
  font-size: 2.1em;
  padding: 0px 20px;
  top: 57px;
}
.aside-ctrl--reset {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#aside-ctrl:checked ~ .aside-ctrl--reset {
  visibility: visible;
  opacity: .6;
}

.main-content {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#aside-ctrl:checked ~ .main-content {
  -webkit-transform: scale(.9);
  transform: scale(.9);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.modal {
  z-index: 999999;
}

.producto-favorito {
  background-color:#fff !important;
  background-position: -19px 1px !important;
  opacity: 1 !important;
}

.pagination-items {
  float: left;
  width: auto;
  min-width: 30px;
  max-width: 120px;
  height: 30px;
  overflow: hidden;
}

.pagination-items ul li {
  float: left;
  border: 0px;
}

.pagination-items ul li a,
.pagination-control.pagination-prev a,
.pagination-control.pagination-next a{
  background-color: #EEE !important;
  color: #444 !important;
  display: block;
  width: 30px;
  text-align: center;
  height: 28px;
  padding-top: 4px;
}

.pagination-items ul li a:hover,
.pagination-control.pagination-prev a:hover,
.pagination-control.pagination-next a:hover {
  background-color: black !important;
  color: white !important;
}

.pagination-items .active > a {
  background-color: #F9A005 !important;
  color: white !important;
}

.pagination-items ul {
  width: auto;
  overflow: hidden;
}

.pagination-control.pagination-prev,
.pagination-control.pagination-next {
  float: left;
}

.row-pagination-control {
  float:right;
}

.row-pagination-control-fijo {
  width: 180px;
}

.filter .collapse .panel-body {
  padding-top:0px
}

/*.filter .collapse .panel-body li label span {
  font-size:12px;
  position: relative;
  top: -1px;
  line-height: 13px;
}
*/
/*.wrapper-filtros-atributos .filter {
  width: 95%;
}*/

.boton-busqueda-valores-atributos {
  width: 100%;
  border-radius: 3px !important;
  margin-bottom: 9px;
  display: block;
  padding: 5px 7px;
  color: #a4a4a4;
  font-size: 13px;
  line-height: 20px;
  background-color: transparent;
  border: 1px solid #e0e0e0;
}

.wrapper-filtros-atributos {
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  overflow-y: auto;
}

.filtros-atributos {
  max-height: 280px;
}

.vistas-pp li.activated a {
  opacity: 1;
}
//#category-filter h3 a { color: white !important; }
//
//.modal-dialog{
//  overflow-y: initial !important
//}
//div#modal-categoria-productos .modal-body {
//  padding: 15px 0;
//}
//.modal-footer {
//  padding: 10px;
//  background-color: #19232D;
//}
//.modal-body .input-group {
//  background-color: #DEDEDE;
//  padding: 10px;
//  width: 100%;
//}
//ul.nav-mobile li a {
//  padding: 5px 15px;
//  color: #444;
//}
//.nav-subcategoria li a {
//  padding: 3px 15px !important;
//  color: #222 !important;
//}
//ul.nav.nav-mobile ul.nav.nav-subcategoria li {
//  padding: 0 10px;
//  font-weight: 300;
//}
//ul.nav.nav-subcategoria li a:before {
//  position: relative;
//  content: '-';
//}
//i.respcategory {
//  font-size: 18px;
//  position: relative;
//  margin-left: 5px;
//  color: #19232D;
//}
//.btn-mostrar-catg {
//  padding: 7px;
//  margin: 0 0 15px;
//  background-color: #E2E2E2;
//}
.product-short-description {
  font: 400 15px/1 'Open Sans', sans-serif;
  color: #6d6d6d;
}

.ng-invalid.ng-dirty { }

input[type="submit"]:disabled {
  background-color: #CCC !important;
  border: 1px solid #CCC !important;
}

.help-block {
  position: relative;
  font-size: 11px;
}

.zoom-window-wrapper {
  position: relative !important;
}

.product h1.product-name {
  margin-top: 14px;
  font: 400 19px/1 'Oswald', sans-serif;
}

#wrapper-detail-description .simplebar-scrollbar {
  cursor: pointer;
}

#wrapper-detail-description {
  border: 1px solid transparent;
}

.simplebar-track .simplebar-scrollbar {
  background: #F9A005 !important;
}

.labels-product-details .new-rect,
.labels-product-details .discount-rect {
  position: relative;
  float: right;
  font-size: 14px;
  font-weight: normal
}

.labels-product-details .new-rect {
  display: block;
  margin-right: 3px;
}

.related-price {
  font-size: 15px;
}

.related-price .sub-price {
  font-size: 10px;
}

.producto-favorito2 {
  background-position: 0 0 !important;
}

/* Enlistment modal*/
.modal.enlistment-statement span.help-block { top: 0px; font-size: 12px; }
.modal.enlistment-statement select { color: #999; }
.modal.enlistment-statement fieldset { margin-bottom: 15px; }

li.product-valor div {
  text-align: right;
  font-size: 17px;
  font-weight: 500;
}
li.product-valor div:first-child {
  margin-bottom: 5px;
}

.wrapper-precio-normal {
  text-decoration: line-through;
}

.opciones-producto-usuario .add-favoritos {
  float: left;
  top: -20px;
  position: relative;
  width: 100%;
  margin-left: 0px !important;
  background: white;
}

.margin-right-10
  margin-right 10px !important

.tabs-content
  padding 20px

.tab-content
  margin-bottom 10px
  overflow hidden

.no-border
  border none !important
.dropcap {
  float: left;
  text-align: center;
  background-color: #f58634;
  color: #FFF;
}
.dropcap.dropcap-big {
  min-width: 50px;
  padding: 8px 0;
  margin: 5px 10px 0 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}
h4.drop {
  margin-bottom: 5px;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 600;
}
.panel-smart {
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.panel-smart blockquote {
  margin: 0;
  padding: 20px 20px 5px;
  color: #8b8b8b;
  font-size: 13px;
  border: none;
}
.panel-smart blockquote footer {
  padding-top: 10px;
  color: #252a2f;
  font-size: 14px;
}
.panel-smart blockquote:before {
  display: none;
}

/*TABS LOGIN*/
#login-tabs{}
#login-tabs ul{}
#login-tabs ul li{
  margin-right: 3px;
  border: none;
}

#login-tabs ul li a{
  font: 600 13px/20px "Open Sans",Arial,sans-serif;
  padding: 15px 20px;
  border: 1px solid #ddd;
  border-radius:3px 3px 0 0;
  background: #eee;
}

#login-tabs ul li.active a{
  border-bottom: 1px solid #fff;
  background: #fff;
}

#login-tabs .tab-content {
  padding: 0 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  margin-bottom: 40px;
}

#login-tabs .tab-content #tab-login{}

#login-tabs .tab-content #tab-login .input-group-addon{
  min-width: 110px;
  font-size: 13px;
}

#login-tabs .tab-content #tab-login #login-form{

}

#login-tabs .tab-content #tab-login #login-form i{
  font-size: 13px;
  padding-right: 3px;
  text-align: center;
  width: 14px;
}

#login-tabs .tab-content #tab-login .acceso-social{

}

#login-tabs .tab-content #tab-login .acceso-social h5{
  padding-left: 16px;
}

#login-tabs .tab-content #tab-login .acceso-social img{
  display: inline-block;
  padding: 10px;
}

.links-acceso-social {
  padding-left: 15px;
}

.acceso-social.border-right:after {
  background: #ddd none repeat scroll 0 0;
  content: "";
  height: 90%;
  position: absolute;
  right: 15px;
  top: 35px;
  width: 1px;
}

.acceso-social.border-right:before {
  background: #ddd none repeat scroll 0 0;
  content: "";
  height: 90%;
  position: absolute;
  left: 15px;
  top: 35px;
  width: 1px;
}

.acceso-crear-cuenta p{
  font-size: 13px;
}

.acceso-crear-cuenta.border-right:before {
  background: #ddd none repeat scroll 0 0;
  content: "";
  height: 90%;
  position: absolute;
  left: -35px;
  top: 35px;
  width: 1px;
  display: none;
}

#btn-registro {
  padding: 0px;
  margin: 0px;
}

#btn-registro a {
  display: block;
  padding: 5px;
  margin: 0px;
}

/*.ng-invalid.ng-dirty { border-color: #FA787E; }*/

input[type="submit"]:disabled {
  background-color: #CCC !important;
  border: 1px solid #CCC !important;
}

#recover-password-form input[type="submit"] {
  position: relative;
  margin-top: 62px;
}

/* Hide the invalid box while the input has focus */
#login-form .ng-invalid:focus + .input-help {
  display: none;
}

.config-pedido-box{
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px;
}

.config-pedido-box h5{
  font-size: 17px;
  font-weight: bold;
}
.config-pedido-box h5 i {
  font-size: 23px;
  margin-right: 4px;
  color: #f58634;
}

.config-pedido-box h5 {
  margin-bottom: 7px;
}
.config-pedido-box.box2{
  background-color: transparent;
  border:none;
}

.config-pedido-box.box3{
  padding-bottom: 35px;
}

/*.config-pedido-box.box1 h5{
  background: rgba(0, 0, 0, 0) url("./assets/images/pallomaro/sprite-config-pedido.png") no-repeat scroll -8px -6px;
  padding: 4px 10px 7px 34px;
}*/

/*.config-pedido-box.box2 h5{
  background: rgba(0, 0, 0, 0) url("./assets/images/pallomaro/sprite-config-pedido.png") no-repeat scroll -1px -51px;
  padding: 4px 10px 7px 50px;
  padding-bottom: 0px;
  margin-bottom: 7px;
}*/

/*.config-pedido-box.box3 h5{
  background: rgba(0, 0, 0, 0) url("./assets/images/pallomaro/sprite-config-pedido.png") no-repeat scroll -1px -114px;
  padding: 7px 10px 8px 42px;
}*/

.config-pedido-box .dl-horizontal dt {
  width: 100px;
  top:7px;
  position: relative
}

.config-pedido-box .dl-horizontal dd {
  margin: 0 0 10px 110px;
}

.config-pedido-box .form-control {
  font-size: 13px;
  height: 34px;
  padding: 6px;
}

.canasta-pedido .table .table-title {
  color: #565656;
  font: 400 14px/22px "Open sans",sans-serif !important;
  text-transform: none;
  padding: 10px 15px;
}

.canasta-pedido .table .item-price-special {
  font: 400 14px/22px "Open sans",sans-serif !important;
  display: inline-block;
  margin-top: 6px;
  color: #555;
}

.canasta-pedido .table .item-name {
  font-size: 13px !important;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  margin-bottom: 0;
}
.canasta-pedido .table td{
  padding: 5px 9px;
  vertical-align: middle;
}

/*.canasta-pedido .table figure{
  width: 110px;
  height: auto;
}*/

.canasta-pedido .table figure img{
  width: 70%;
  max-width: 115px!important;
}

.canasta-pedido .table .datos-prod{
  float: left;
}

.canasta-pedido .table .cantidad{
  width: 70px;
  text-align: center;
  height: 25px;
  margin: 0 auto;
}

.canasta-pedido .table .item-iva-col {
  width: 8%;
}

/* .item-price-col,.item-des-col,.item-total-col{
   width: 15%;
 }*/

.item-name-col .btn {
  margin-right: 5px;
  padding: 0px;
  border: none;
  margin-top: 5px;
}
.item-name-col .btn i {
  color: #d22525;
}

.extras-xs {
  float: left;
}

.extras-xs {}

.cant-en-xs{}

.cant-en-xs label{ float: left; font-weight: 700;}

.canasta-pedido .table .extras-xs .item-price-special{
  margin-top: 0;
}

.totales-pedido .total-table td{
  padding: 5px!important;
  font-size: 14px !important;
  font-weight: 400;
  font-family: 'Open Sans',arial;
}

.totales-pedido .total-table .total-table-title {
  font-size: 13px !important;
  font-weight: 600;
  width: 50%;
  text-align: right
}

.totales-pedido .total-table .total-label{
  font-size: 15px !important;
  text-align: right;
}

.totales-pedido .total-table .total-precio{
  font-size: 16px !important;
  color: #0664cd;
}

.cod-descuento, .comentario-orden{
  padding: 15px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
}

.comentario-orden{
  padding-bottom: 30px;
}

.comentario-orden .btn{
  width: 180px;
  margin: 0 auto;
}

#content-bot-canasta .btn{
  margin-bottom: 10px;
}

input[type="submit"]:disabled {
  background-color: #CCC !important;
  border: 1px solid #CCC !important;
}

.item-has-comment, .order-has-comment {
  background-color: #DDD;
}

.comentario-item {
  clear: both;
  text-align: left;
  padding-top: 16px;
}

.comentario-order-local {
  clear: both;
  text-align: left;
  padding-top: 16px;
}

.currency {
  text-align: right !important;
}

.botones-acciones {
  color: #16222E;
  background-color: #e6e6e6;
}

.botones-acciones:hover,
.botones-acciones:focus,
.botones-acciones:active,
.botones-acciones.active{
  color: #333;
  background-color: #eee;
  border-color: #ccc;
}

.botones-acciones strong{
  font-weight: 400;
}

.deseas-hacer {
  margin: 40px 0;
}

.deseas-hacer a {
  margin-right: 7px;
}

.asesora {
  margin: 0 auto;
  width: 80%;
}

.confirmacion-registro {
  font-size: 14px;
}

/* CSS - Points Of Sales */
.table-puntos-de-venta {
  padding-left: 20px;
  font-size: 11px;
  height: 60px;
}

.table-puntos-de-venta label {
  padding: 0px;
  cursor: auto;
}

.table-puntos-de-venta .openmodal {
  padding:0px;
  margin:0px;
  border:0px;
  background:transparent;
}

.punto-de-venta {}
.punto-de-venta .wrapper-punto-de-venta {
  margin: 5px 20px;
}
.punto-de-venta .check-punto-de-venta {
  position: relative;

}
.punto-de-venta .check-punto-de-venta input[type="radio"] {
  margin: 0px auto;
  position: relative;
  top: -5px;
}

.table-puntos-de-venta .latitude,
.table-puntos-de-venta .longitude,
.table-puntos-de-venta .direccion,
.table-puntos-de-venta .pbx {
  display: none;
}

.table-puntos-de-venta .datos-ubicacion-sucursal {
  line-height: 11px;
}

.table-puntos-de-venta .datos-sucursal {
  border-radius: 0px;
  border: 0px;
}

.config-pedido-box.box2 {
  padding-top: 0px;
}

.ubicaciones-texto {
  background-color: white;
  border: 1px solid #CCC;
  border-top: 0px;
  padding: 8px 0px;
  position: absolute;
  z-index: 10;
}

.ubicacion-texto {
  padding: 5px 8px;
  cursor: pointer;
}

.ubicacion-texto:hover {
  background: #0664cd;
  color: #fff;
}

.config-pedido-box.box3 {
  padding-bottom: 15px;
}

.bg-success {
  background-color: #d6e9c6 !important;
}

/* .orden-texto-importante-inicial {
   margin-top: 10px;
   margin-bottom: 10px !important;
 }*/
.premessage_order {
  margin-top: 20px;
}
.canasta_alerts .valores_item span {
  font-size: 14px;
  margin-left: 5px;
  font-weight: 500;
  color: #a93131;
}
.valores_item {
  clear: both;
}
.canasta_alerts {
  line-height: 19px;
}
span.titulo-table-pedido {
  font-size: 15px;
  font-weight: 600;
}
@media screen   and (max-width: 991px)  and (min-width: 768px)  {
  .deseas-hacer {
    margin: 20px 0;
  }
  .deseas-hacer a {
    margin-bottom: 4px;
    width: 100%;
  }
  .asesora {
    width: 100%;
  }

}

@media (max-width: 767px)  {
  .btn.botones-acciones {
    margin: 3px 0;
    width: 100%;
  }
}

.address .latitude, .address .longitude {
  display: none;
}

input[type="submit"]:disabled {
  background-color: #CCC !important;
  border: 1px solid #CCC !important;
}

/* Hide the invalid box while the input has focus */
#contact-form .ng-invalid:focus + .input-help {
  display: none;
}
.indent-ul ul {
  margin-left: 1em;
}
.indent-ul ul li {
  font-size: 12px !important;
  color: black !important;
  font-weight: normal !important;
}

#content-terminos-condiciones h6 {
  font-weight: 700;
  font-size: 13px;
  margin-top: 15px;
}

.texto-misma-direccion-entrega {
  font-size: 11px;
  color: #666;
  display: block;
  padding-top: 9px;
}

.texto-misma-direccion-entrega label {
  position: relative;
  top: -2px;
  cursor: pointer;
  display: inline;
}


.title {
  margin-bottom: 10px;
}

.pasos-pedido{}

.pasos-pedido .paso1 img{
  position: absolute;
  margin-top: 12px;
  padding-left: 10%;
}

.pasos-pedido .panel-body{
  padding-top: 15px;
}

.pasos-pedido .accordion-header{
  margin-bottom: 0;
  background: #19232d;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px 3px 0 0;
}

.pasos-pedido .accordion-header .accordion-title {
  font: 600 14px/1 "Open Sans",Arial,sans-serif;
  color: #fff;
}

.pasos-pedido .accordion-header .accordion-title span{
  color: #fff;
  font: 500 14px/1.4em "Open Sans",Arial,sans-serif;
  text-transform: none;
}

#content-terminos-condiciones {
  border-radius: 0;
  height: 162px;
  margin-bottom: 20px;
  overflow: auto;
  padding: 0px 10px;
  width: 100%;
}

.custom-checkbox input[type="checkbox"]:checked + .checbox-container{
  background: #78b829!important;
  border-color: #78b829;
}

#paso2 .checkout-title, #paso3 .checkout-title{
  font: 500 18px/1 "Open Sans",Arial,sans-serif;
  margin-bottom: 20px;
  text-transform: none;
}

#paso2 .tit-programar-fecha{
  margin-bottom: 10px;
  margin-top: 20px;
}

#paso2 .programa-fecha .input-group{
  width: 210px;
  padding-top: 10px;
}

#form-contacto-destino > .row > div{
  padding: 15px 20px;
}

#form-contacto-destino .border-right:after{
  content: "";
  width: 1px;
  height: 400px;
  background: #ddd;
  position: absolute;
  top: 45px;
  right: 0px;
}

#paso3 input{
  float: left;
  width: 220px;
  font-weight: 700;
}

#paso3 span{
  float: left;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
}

#policies {
  cursor: pointer;
}

.btn-custom-4[disabled] {
  background-color: #CCC !important;
  border: 1px solid #CCC !important;
}

.botones-acciones {
  color: #16222E;
  background-color: #e6e6e6;
}

.botones-acciones:hover,
.botones-acciones:focus,
.botones-acciones:active,
.botones-acciones.active{
  color: #333;
  background-color: #eee;
  border-color: #ccc;
}

.botones-acciones strong{
  font-weight: 400;
}

.deseas-hacer {
  margin: 40px 0;
}

.deseas-hacer a {
  margin-right: 7px;
}

.asesora {
  margin: 0 auto;
  width: 80%;
}

.confirmacion-registro {
  font-size: 14px;
}

.barra-mis-cotizaciones {
  margin-top: 10px;
}

.buscar-codigo-miscotizaciones, .ordenar-por-miscotizaciones{
  float: left;
  margin-bottom: 10px;
}

.boton-busqueda-cotizaciones {
  height: 29px;
  padding: 2px 15px;
  color: #a4a4a4;
  font-size: 13px;
  line-height: 20px;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 130px;
  margin-right: 40px;
}

.ordenar-por-miscotizaciones{margin-top: -2px;}
.ordenar-por-miscotizaciones .select-btn{ height: 30px; padding-top: 0;}


.barra-mis-cotizaciones .toolbox-pagination{ border:none}
.barra-mis-cotizaciones .toolbox-pagination .pagination{ margin: 0;}

.tabla-mis-cotizaciones .table {
  border: none !important;
}

.tabla-mis-cotizaciones .table thead tr th{
  color: #FFF;
  font: 400 15px/22px "Open sans",sans-serif;
  padding: 10px 10px;
  background: #626262;
  border-right: none;
}

.tabla-mis-cotizaciones .table tr td{
  padding: 10px 5px;
  vertical-align: middle;
  border-right: none !important;
}

.tabla-mis-cotizaciones .table tr td.info-usuario{
  padding-left: 7px;
  text-align: left;
}

.tabla-mis-cotizaciones .table .btn-group{
  margin-top: 5px;
}

.tabla-mis-cotizaciones .table .btn-group .btn{
  padding: 4px 13px;
  font-size: 13px;
}

.tabla-mis-cotizaciones .table .dropdown-menu{
  min-width: 110px;
}

.tabla-mis-cotizaciones .table .dropdown-menu > li > a{
  padding: 5px 13px;
  font-size: 13px;
}
.small-box {
	border-radius: 10px;
    overflow: hidden;
}
.small-box > .inner {
  padding: 10px 10px 5px;
}
.bg-aqua {
  background-color: #00c0ef;
}
.bg-yellow {
  background-color: #f39c12;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-red {
  background-color: #dd4b39 !important;
}
.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 25px;
  z-index: 0;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
  padding: 0;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(49, 49, 49, 0.38);
}
.small-box p {
  font-size: 15px;
  color: #fff;
}

.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box i {
  -webkit-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}
.small-box:hover i {
  transform: scale(.9);
  color: rgba(241, 241, 241, 0.45);
}
.tabla-mis-cotizaciones > div > .table-responsive, .tabla-mis-pedidos > div > .table-responsive, .listado-carga-rapida > div > .table-responsive {
  border-top: none;
  padding-top: 0px;
  margin-top: 5px;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
h2{
  margin-bottom: 0px;
}
#buscar-filtrar {
  position: relative;
  z-index: 1;
  left: -25px;
  color: #B7B7B7;
  width: 0;
}
#filtros-top-cotizacion {
  margin: 15px 0 30px;
}
.filter-resume {
  font-size: 14px;
}
.search-cotizacion input {
  border: 1px solid #E4E2E2;
  border-radius: 2px;
  padding: 4px;
}
.view-count-box .select-dropdown .select-btn {
  padding: 3px 5px 4px;
}
.view-count-box .select-dropdown .dropdown-toggle {
  padding: 3px 10px 4px;
}
.pagination > .active > a {
  border-color: #ce840f;
}
.select-dropdown .select-btn {
  padding: 3px 10px 0px;
  line-height: 20px;
}
.sort-box span, .view-count-box span {
  line-height: inherit;
  color: #444;
}

.text-left{
  text-align: left;
}
.detalles-pedido-titulo h3 {
  margin: 0;
  padding-top: 10px;
}
.volver-pedidos {
  float: right;
  margin-bottom: 10px;
}
hr.separador-detalles-pedidos {
  margin: 10px;
}
.header-cotizacion strong {
  font-size: 24px;
  font-weight: normal;
  text-transform: capitalize;
}
.header-cotizacion b {
  font-size: 17px;
}
.header-cotizacion strong span{
  font-size: 17px;
  color: red;
}
.header-cotizacion .logotipo-header-cotizacion img {
  width: 230px;
  margin-top: 10px;
}
.cabezas-info.text-left {
  background-color: #f58634;
  padding: 5px 20px;
  color: white;
}
.cabezas-info.text-left.asesor {
  background-color: #f58634;
}
.entregas-contactos:last-child {
  margin: 0;
}
.entregas-contactos {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  display: inline-block;
  padding: 0 11px;
}
.entregas-contactos ul{
  margin: 7px 0 !important
}
.entregas-contactos ul li {
  margin: 0 0 0px;
}
.datos-entregas {
  width: 100%;
  font-size: 12px;
}
.datos-entregas strong {
  font-size: 14px;
  font-weight: 600;
}
.table.tb-cotizacion td {
  vertical-align: middle;
}
h4.titulo-detalle-tabla {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
h4.titulo-detalle-tabla span{
  color: #148CB9;
  font-weight: normal;
  font-size: 12px;
  position: relative;
  top: -2px;
  vertical-align: middle;
}
th.table-title {
  background: #f58634 !important;
  color: #FFFFFF !important;
  border-color: #fff !important;
  font-weight: 600 !important;
}
span.cotizacion-vlrs {
  float: right;
}
.anotaciones {
  border: 1px solid #E0E0E0;
  margin: 0 0 15px 0;
  padding: 0 0 5px;
  text-align: center;
}
.anotaciones.cli-ven{
  text-align: left;
}
.anotaciones strong {
  display: block;
  background-color: #f58634;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #DDDDDD;
  font-weight: 600;
  color: white !important;
  text-align: center;
}
.anotaciones.edit-37,
.anotaciones.edit-33{
  padding-bottom: 0px;
}
.anotaciones.cli-ven span {
  padding: 8px;
}
.botonera-acciones a {
  padding: 6px 10px;
  margin: 0 0px;
  font-size: 13px;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}
.botonera-acciones i {
  font-size: 14px;
  margin-right: 5px;
}
.header-cotizacion {
  padding: 0 15px;
}
.botonera-acciones a.btn-default.cvp {
  background: #0664cd;
  color: #fff;
  border: 0;
}
.botonera-acciones a.btn-default.cvp:hover {
  background: #3385e2;
}
.botonera-acciones a.btn-default {
  border: 1px solid #ccc;
}
.md-margin {
  margin-bottom: 15px;
}
span,
table tr th.text-left,
table tr td.text-left{
  text-align: left;
}
.text_descuento{
  text-align: right;
  width: 50px;
}
.text_transporte{
  text-align: right;
  width: 115px;
}
.anotaciones.edit-37 strong,
.anotaciones.edit-33 strong {
  margin-bottom: 0px;
}
.anotaciones strong.blue {
  background-color: #f58634;
}
.detalles-pedidos h2{
  font-size: 15px;
  margin-bottom: 0px;
}
.detalles-pedidos .table .table-title {
  font: 400 14px/12px "Open sans",sans-serif;
}
.header-cotizacion .cotizacion-datos-header b,
.header-cotizacion .cotizacion-datos-header{
  font-size: 12px;
}
.header-cotizacion .cotizacion-datos-header strong{
  font-size: 16px;
  font-weight: 600;
}
.terminos_condiciones h4.titulo-detalle-tabla {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
  text-align: left;
}
.detalles-pedidos .table .table-title {
  padding: 10px 7px;
}

.tdInDiscount {
  position : relative;
}
.titleDiscount {
  text-align: center;
  margin-bottom: 5px;
}

.tdInDiscount button {
  position: absolute;
  background: transparent;
  border: none;
  top: 2px;
  left: -53%;
}
.tdInDiscount button span{
  font-size: 1.4em;
  color: #f58634;
}
.tdInDiscount button:hover > .popover-discount{
  display: block;
}
.popover-discount{
  top: -10em;
  -webkit-box-shadow: -9px 10px 12px -4px rgba(112,106,112,0.41);
  -moz-box-shadow: -9px 10px 12px -4px rgba(112,106,112,0.41);
  box-shadow: -9px 10px 12px -4px rgba(112,106,112,0.41);
  left: 0;
  font-size: 13px;
  line-height: 1.3;
  text-align: justify;
  width: 21em;
  display: none;
  position: absolute;
  padding: 8px;
  background: #ffffff;
  border-radius: 5px;
  font-weight: initial;
  border : 1px solid #e0e0e0;
}

.popover-discount::after{
  content: "";
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 12px solid #7b7876;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  top: 100%;
  left: 20px;
}
.discountTableInPopover th {
  padding: 5px !important;
  font-size: 1em !important;
}
.discountTableInPopover td {
  font-size: 0.9em !important;
}

.total.tdInDiscount {
  position : relative;
}
.total.tdInDiscount button {
  position: absolute;
  background: transparent;
  border: none;
  top: 2px;
  left: -4%;
}
.total.tdInDiscount button span{
  font-size: 1.4em;
  color: #f58634;
}
.total.tdInDiscount button:hover > .popover-discount{
  display: block;
}
.buscar-carga-rapida, .ordenar-carga-rapida {
  float: left;
  margin-bottom: 10px;
}
.row.carga-rapida-intro {
  margin-bottom: 20px;
}
.separator.text-buscar {
  display: none;
}
.carga-rapida-products .btn-fast-search {
  top: -1px;
  position: relative;
  right: 11px;
  padding: 3px 10px 4px;
  border: 0;
}
.carga-rapida-productos .category-toolbar.top {
  border-bottom: 0;
}
.carga-rapida-productos .search-fast-product-not-found {
  margin-top: 20px;
}
.carga-rapida-products .boton-busqueda-pedidos {
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 0 !important;
  box-shadow: none;
  color: #a4a4a4;
  font-size: 13px;
  height: 29px;
  line-height: 20px;
  margin-right: -3px !important;
  padding: 2px 15px;
  width: 130px;
}
.listado-carga-rapida th {
  padding: 11px !important;
  font-weight: 600;
}
.listado-carga-rapida table tr td {
  vertical-align: inherit;
  padding: 0 10px;
}

#paginacion-cargar-top .toolbox-pagination {
  border: 0;
  padding-top: 0;
  z-index: 99;
}
#paginacion-cargar-top .toolbox-pagination {
  border: 0;
  padding-top: 0;
}
#paginacion-bottom-cargar .toolbox-pagination {
  border-top: none;
}
#paginacion-bottom-cargar ul.pagination {
  margin-left: 20px;
  margin-top: 3px;
}

.ordenar-carga-rapida .select-btn {
  height: 30px;
  padding-top: 0;
}

.barra-mis-pedidos .toolbox-pagination.clearfix {
  border-top: 0 none;
}

.barra-mis-pedidos .pagination {
  margin: 0;
}

.cantidad-item.only_int {
  border: 1px solid #e0e0e0;
  width: 50px;
}

.carga-rapida-intro img {
  width: 80%;
}

.carga-rapida-intro h3 {
  margin-top: 10px;
}

.btn-fast-search {
  padding: 2px 11px;
}

.search-fast-product-not-found span {
  color: #0664cd;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 991px) {
  .carga-rapida-intro img {
    padding-top: 50px;
    width: 100%;
  }
}
.producto-favorito {
  background-color: #fff !important;
  background-position: 0px 0px !important;
}
#register-form input:disabled,
#register-form select:disabled {
  background-color: #eee;
}

input[type="submit"]:disabled {
  background-color: #CCC !important;
  border: 1px solid #CCC !important;
}

input.ng-pristine + ul#strength {
  display:none;
}

ul#strength {
  display:inline;
  list-style:none;
  margin:0;
  margin-left:0px;
  padding:0;
  vertical-align:2px;
}

.point:last {
  margin:0 !important;
}

.point {
  background:#DDD;
  border-radius:2px;
  display:inline-block;
  height:5px;
  margin-right:1px;
  width:20px;
}

/* Hide the invalid box while the input has focus */
.contenido-registro .ng-invalid:focus + .input-help {
  display: none;
}

#strength {
  position: relative;
  top: -8px;
}

.pointer label {
  cursor: pointer;
}

ol {
  padding: 7px 30px 20px;
  list-style-type: decimal;
}

ol li {
  margin-bottom: 13px;
}

.panel-body .list-group li label {
  min-width: 100px;
  padding: 0;
}

.panel-body .list-group {
  margin: 10px 0 0;
}

.panel-body .list-group li {
  padding: 0px;
}

.acordeon-user input[type=checkbox] {
  cursor: pointer;
}

.filter-option {
  color: white !important;
}

.ng-table-pager {
  margin-top: 15px;
}

#register-form input, #register-form select {
  color: black !important;
}

.is-user-currently-edited td {
  background-color: #f55f00 !important;
  color: white;
}

button[data-id='branchsUserAdmin'] {
  color: #fff !important;
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
}

#branchsUserAdmin option {
  padding: 10px;
}

.barra-mis-cotizaciones {
  margin-top: 10px;
}

.buscar-codigo-miscotizaciones, .ordenar-por-miscotizaciones{
  float: left;
  margin-bottom: 10px;
}

.boton-busqueda-cotizaciones {
  height: 29px;
  padding: 2px 15px;
  color: #a4a4a4;
  font-size: 13px;
  line-height: 20px;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 130px;
  margin-right: 40px;
}

.ordenar-por-miscotizaciones{margin-top: -2px;}
.ordenar-por-miscotizaciones .select-btn{ height: 30px; padding-top: 0;}


.barra-mis-cotizaciones .toolbox-pagination{ border:none}
.barra-mis-cotizaciones .toolbox-pagination .pagination{ margin: 0;}

.tabla-mis-cotizaciones .table {
  border: none !important;
}

.tabla-mis-cotizaciones .table thead tr th{
  color: #FFF;
  font: 400 15px/22px "Open sans",sans-serif;
  padding: 10px 10px;
  background: #CEB814;
  border-right: none;
}

.tabla-mis-cotizaciones .table tr td{
  padding: 10px 5px;
  vertical-align: middle;
  border-right: none !important;
}

.tabla-mis-cotizaciones .table tr td.info-usuario{
  padding-left: 7px;
  text-align: left;
}

.tabla-mis-cotizaciones .table .btn-group{
  margin-top: 5px;
}

.tabla-mis-cotizaciones .table .btn-group .btn{
  padding: 4px 13px;
  font-size: 13px;
}

.tabla-mis-cotizaciones .table .dropdown-menu{
  min-width: 110px;
}

.tabla-mis-cotizaciones .table .dropdown-menu > li > a{
  padding: 5px 13px;
  font-size: 13px;
}

/*STYLOS 27/04/2016
.btns-mcotizaciones a {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    overflow: hidden;
    position: relative;
    margin: 3px 0 3px 4px;
}
.btns-mcotizaciones a span {
    padding: 2px 3px 2px 33px;
    display: inline-block;
}
.btns-mcotizaciones a span.detalle-btn {
    padding: 5px 8px 5px 0;
    font-size: 16px;
    font-weight: 700;
}
.btns-mcotizaciones a.btn-warning:before,
.btns-mcotizaciones a.btn-danger:before,
.btns-mcotizaciones a.btn-primary:before{
    font: normal normal normal 40px/1 FontAwesome;
    position: absolute;
    color: rgba(49, 33, 12, 0.24);
}

.btns-mcotizaciones a.btn-warning:before {
    content: "\f15c";
    top: -3px;
    left: -7px;
}
.btns-mcotizaciones a.btn-danger:before {
    content: "\f200";
    top: 0px;
    left: -9px;
}
.btns-mcotizaciones a.btn-primary:before {
    content: "\f061";
    top: -4px;
    left: -4px;
}
.btns-mcotizaciones a.btn-primary {
    padding: 5px;
}
.btns-mcotizaciones a.btn-primary span {
    padding: 2px 2px 0 27px;
}*/
.small-box > .inner {
  padding: 10px 10px 5px;
}
.bg-aqua {
  background-color: #00c0ef;
}
.bg-yellow {
  background-color: #f39c12;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-red {
  background-color: #dd4b39 !important;
}
.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 25px;
  z-index: 0;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
  padding: 0;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(49, 49, 49, 0.38);
}
.small-box p {
  font-size: 15px;
  color: #fff;
}

.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box i {
  -webkit-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}
.small-box:hover i {
  transform: scale(.9);
  color: rgba(241, 241, 241, 0.45);
}
.tabla-mis-cotizaciones > div > .table-responsive, .tabla-mis-pedidos > div > .table-responsive, .listado-carga-rapida > div > .table-responsive {
  border-top: none;
  padding-top: 0px;
  margin-top: 5px;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
h2{
  margin-bottom: 0px;
}
#buscar-filtrar {
  position: relative;
  z-index: 1;
  left: -25px;
  color: #B7B7B7;
  width: 0;
}
#filtros-top-cotizacion {
  margin: 15px 0 30px;
}
.filter-resume {
  font-size: 14px;
}
.search-cotizacion input {
  border: 1px solid #E4E2E2;
  border-radius: 2px;
  padding: 4px;
}
.view-count-box .select-dropdown .select-btn {
  padding: 3px 5px 4px;
}
.view-count-box .select-dropdown .dropdown-toggle {
  padding: 3px 10px 4px;
}
.pagination > .active > a {
  border-color: #F9A005;
}
.select-dropdown .select-btn {
  padding: 3px 10px 0px;
  line-height: 20px;
}
.sort-box span, .view-count-box span {
  line-height: inherit;
  color: #444;
}

.informacion-top p, .informacion-top h3 { margin-bottom: 3px; font-size: 27px; font-family: 'Oswald'; letter-spacing: 0.5px;}
.informacion-top p { font-size: 1em; }
.estadisticas-cajas { margin-top: 30px; }
.small-box > .inner { padding: 10px 10px 5px; }
.bg-aqua { background-color: #883267; }
.bg-yellow { background-color: #f39c12; }
.bg-bluefort { background-color: #356296 !important; }
.bg-red { background-color: #dd4b39 !important; }
.bg-green { background-color: green !important; }

.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 25px;
  z-index: 0;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.15);
}

.small-box h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
  padding: 0;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(49, 49, 49, 0.38);
}

.small-box p {
  font-size: 17px;
  color: #fff;
  margin-bottom: 5px;
}

.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.small-box > .small-box-footer:hover { color: #fff; background: rgba(0, 0, 0, 0.15); }

.small-box i {
  -webkit-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}

.small-box:hover i { transform: scale(.9); color: rgba(241, 241, 241, 0.45); }
#flight-datepicker { margin-top: 15px; }
.estados-cartera { overflow: hidden; margin: 30px 0; }

.estados-cartera h3 {
  text-align: center;
  background: #356296;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.info h3.item-name {
  color: inherit;
  text-align: left;
  background: transparent;
  padding: inherit;
}

.contenido-estados div {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 15px;
  font-weight: 600;
}

.contenido-estados div span.num {
  background: #dd4b39;
  display: inline-block;
  width: 25px;
  margin-right: 10px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  height: 25px;
  font-size: 16px;
  font-weight: bold;
}

.contenido-estados span.estados_valores { font-weight: 400; color: #656464; }
#documentQuantitiesChart-license { margin-top: 7px; margin-left: -40px; }
#documentQuantitiesChart-top, #documentQuantitiesChart-svg { width: 100%; }
.page-b2b-dashboard .estadisticas-cajas h3 span { font-size: 17px; }
.page-b2b-dashboard .estadisticas-cajas h4 { margin-bottom: 0px; color: white; }
.page-b2b-dashboard .estadisticas-cajas a { text-align: right; padding-right: 12px; }

.page-b2b-dashboard .updated-date { font-size: 14px; margin-top: 22px; }
.page-b2b-dashboard .map-marker i { color: black; font-size: 19px; }
.page-b2b-dashboard #documentQuantitiesChart { margin-top: 20px;}

.page-b2b-dashboard input[type="submit"]:disabled,
.page-b2b-dashboard button[type="submit"]:disabled {
  background-color: #CCC !important;
  border: 1px solid #CCC !important;
}

.page-b2b-dashboard .map-marker-dashboard {
  display: inline;
  background: transparent;
  color: #990C54;
  font-size: 15px;
  padding: 0px;
  border: 0;
  padding-left: 5px;
  position: relative;
  top: -2px;
}

.producto-favorito { background-color: #fff !important; background-position: 0px 0px !important; }
table.ultimos-comprados tr td { vertical-align: middle; }
table.ultimos-comprados tr th { padding: 7px; }

hr.separador-prov {
  margin-top: 5px;
  margin-bottom: 10px;
}
.juridica span.ng-binding {
  border-bottom: 1px solid #ddd;
  display: block;
}
.juridica span.ng-binding {
  border: 1px solid #ddd;
  background: #fbfbfb;
  min-height: 40px;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0 7px;
  line-height: 15px;
  font-weight: 300;
}
@media (min-width: 992px) {
  .row.contenido-registro > .col-md-6 {
    padding-top: 15px;
  }
}
.compare-item-table .item-name {font: 600 13px/22px "Open sans",sans-serif;margin: 0 auto;max-width: 200px;margin-bottom: 15px;
}
.compare-item-table td{font-size: 12px;}
.compare-item-table .table-title {font: 600 14px/22px "Open sans",sans-serif;}
.compare-item-table .item-price{color: #0664cd;font: 600 15px/20px "Open Sans",Arial,sans-serif;}
.item-price i {cursor: help;font-size: 12px;margin-left: -3px;margin-top: -4px;position: absolute;}
.compare-item-table figure img{width: 100%;}
.compare-item-table .close-button:hover {background-color:#D51A03;background-position: -26px -290px;border-color:#D51A03;}
.compare-item-table .icon-cart-text {line-height: 1;}
.info-cookie{padding: 20px 60px; background:rgba(25,35,45,0.9); position: fixed; bottom: 0; width: 100%; color: #fff; border-top: 1px solid #ddd;}
.info-cookie a:hover{color:#0078ff}



.producto-favorito {
  /*background-color:#fff !important;
  background-position: -19px 1px !important;
  opacity: 1 !important;*/

  background-position: -30px -28px !important;
}

.producto-a-comparar {
  background-position: 0px -27px !important;
}

/* MODULO DE PAGOS 30/03/2017 */

.header-box-botton.pull-right {
  margin: 6px 15px;
  position: relative;
}
.header-box-botton a.btn {
  padding: 10px 10px 15px !important;
}
.header-box-botton .pagos-icon {
/*  background: url(../img/icon-pagos-enlinea.png) no-repeat;*/
  width: 30px;
  height: 20px;
  top: 2px;
  left: 1px;
  display: inline-block;
  position: relative;
}
.header-pagos {
  /* margin-top: 18px; */
  margin-bottom: 20px;
}
.header-pagos h2 {
  margin-bottom: 10px;
}
.header-pagos h2 span {
  display: block;
  font-size: 25px;
  margin-bottom: 2px;
  font-weight: bold;
  color: #dd6228;
}
.header-pagos p {
  font-size: 15px;
  line-height: 20px;
}
.info-pagos h3 {
  background: #333333;
  font-size: 15px;
  padding: 10px;
  color: #fff;
}
.info-pagos label {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
}
.info-pagos .form-group {
  margin-bottom: 5px;
}
.info-pagos .form-group hr {
  margin: 0;
}
.info-pagos .tooltip,
.normal-tooltips + .tooltip {
  font-size: inherit;
  font-weight: 100;
}
.info-pagos .tooltip .tooltip-inner,
.normal-tooltips + .tooltip .tooltip-inner{
  padding: 3px 8px;
  background-color: #111;
}
.info-pagos .tooltip.top .tooltip-arrow,
.normal-tooltips + .tooltip.top .tooltip-arrow {
  border-top-color: #111;
}
.info-pagos .tooltip.in,
.normal-tooltips + .tooltip.in {
  //filter: alpha(opacity=80);
  opacity: .9;
}
.btns-accion-modal .btn {
  min-width: 60px;
}
.info-pagos.confirmacion ul {
  padding-left: 15px;
}
.info-pagos.confirmacion li {
  list-style-type: initial;
  line-height: 20px;
}
.info-pagos .btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.info-pagos .btn-success:focus,
.info-pagos .btn-success.focus {
  background-color: #449d44;
  border-color: #255625;
}
.info-pagos .btn-success:hover {
  background-color: #449d44;
  border-color: #398439;
}
.btns-accion .btn[disabled] {
  background: #888;
  border-color: #676363;
}
.custom-checkbox.seleccion {
  position: relative;
  display: block;
  width: 20px;
  margin: 0 auto;
  padding: 0;
}
.custom-checkbox.seleccion [type="checkbox"]:checked ~ label {
  background-position: 0 0;
}
.custom-checkbox.seleccion label {
  /*background-image: url("../img/icon-check-estados.png");*/
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-left: 20px;
  cursor: pointer;
  display: block;
  height: 21px;
  margin: 0;
}
td.no-border-side {
  border-left: none;
  border-right: none !important;
  padding: 15px 0 !important;
}
tr.total-table {
  border: 2px solid #ffffff;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
td.fontstrong {
  font-size: 15px !important;
  color: #444;
}
input.input-editable {
  width: inherit;
  text-align: right;
  padding-right: 5px;
}
.totales-tabla-float {
  display: block;
  padding: 0px 60px;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  left: 0;
  margin: 0;
}
table.no-border {
  border: none;
  margin: 0;
}
table.no-border > tbody > tr > td {
  border: none !important;
}
.info-pagos.confirmacion td {
  padding: 5px;
}
.totales-tabla-float td.fontstrong {
  padding: 10px 0;
  text-align: right;
}
.asistente-pagos img {
  width: 70%;
}
.check-confirmacion {
  color: #00adbe;
}
.consultas.consultas-pago-resumen .table-responsive > .table tbody tr td {
  padding: 1px 5px;
  vertical-align: middle;
}
.table-tada-desing{
  display: flex;
  flex-wrap: nowrap;
  border-radius: 10px;
  overflow: hidden;
}

.table-tada-desing > div:first-child{
  background-color: #f68b1f !important;
  color: white;
}
.table-tada-desing > div:first-child h3{
  color: white;
}
.table-tada-desing > div:first-child .leicon{
  color: #e7e6e6;
}
.table-tada-desing > div:first-child:hover .leicon{
  color: rgb(214, 211, 211);
}

.table-tada-desing > div:nth-child(2n+1){
  background-color: #f5f4f4;
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-tada-desing > div:nth-child(2n+2){
  background-color: #E7E6E6;
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-tada-desing > div{
  position: relative;
}
.table-tada-desing > div .leicon{
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  margin: auto;
  display: table;
  z-index: 0;
  right: 15px;
  font-size: 70px;
  color: rgba(246, 139, 31, 0.7);
}
.table-tada-desing > div:hover .leicon{
  color: rgba(246, 139, 31, 0.9);
  transform: scale(.9);
}
.table-tada-desing ul{
  list-style: none;
}
.table-tada-desing ul li{
  position: relative;
  display: table;
  padding-left: 20px;
  margin-bottom: 10px;
  width: 100%;
}
.table-tada-desing ul li i{
  display: table;
  position: absolute;
  top: 0;
  margin: auto;
  bottom: 0;
  left: 0;
  font-size: 1.1em;
}
.table-tada-desing ul li span{

}
.dark-title-table tr th{
  background: #575a59 !important;
}

.gridHeaderCustom
  color white !important
  border none !important

.gridHeaderCustom-left
  color white !important
  border-top-left-radius 10px

.gridFinancialEntity
  //height 300px
  overflow hidden !important
  .ui-grid-header-cell:last-child .ui-grid-column-resizer.right
    border none !important

  .gridCellClassDisabled
    background-color white

  .gridCellDisabledTrue
    background-color #E8E3E3

.gridHeaderCustom, .gridHeaderCustom-left
  background-color colorDark !important

.gridCellCustom
  //border none !important
  border 1px solid rgba(195,195,195,.6) !important
  border-top none !important
  border-left none !important
  background-color white !important
  input.ng-valid
    border none !important
  input[type="text"], select
    height 29px !important
  input[type="checkbox"]
    margin 0

.gridFinancialEntity
  .ui-grid-header-viewport
    background-color colorDark !important

.ui-grid-menu-button
  height 2.2em
  color: white;
  border: none !important;
  background-color: colorDark !important;

.ui-grid-viewport
  overflow-y scroll !important

.btn-pago-detallado
  margin-top 10px

.ui-grid-filter-input
  color : #444 !important

.text-center{
  text-align: center !important;
}

#responsePayment
  table
    border: 0 solid transparent !important;
    padding: 2px;
    tr
      td
        &:last-child
          border-right: 0 solid transparent !important;
    td
      border-top: 0 solid transparent !important;

.text-overflow-ellipsis
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

.abracol, .blackdecker, .bosch, .dewalt, .distribucioneshoyos,
.dremel, .grival, .henkel, .hoyoslight, .induma,
.lufkin, .stanley, .stihl, .uduke, .yale,
.skil
{ max-width: 100%; background-size: 100%; background-image: url('../img/sprites/marcasTodas.png'); }

.abracol { background-position: 0 0%; background-size: 100%; }
.blackdecker { background-position: 0 6.666667%; background-size: 100%; }
.bosch { background-position: 0 13.333333%; background-size: 100%; }
.dewalt { background-position: 0 20%; background-size: 100%; }
.distribucioneshoyos { background-position: 0 26.666667%; background-size: 100%; }
.dremel { background-position: 0 33.333333%; background-size: 100%; }
.grival { background-position: 0 40%; background-size: 100%; }
.henkel { background-position: 0 46.666667%; background-size: 100%; }
.hoyoslight { background-position: 0 53.333333%; background-size: 100%; }
.induma { background-position: 0 60%; background-size: 100%; }
.lufkin { background-position: 0 66.666667%; background-size: 100%; }
.stanley { background-position: 0 73.333333%; background-size: 100%; }
.stihl { background-position: 0 80%; background-size: 100%; }
.uduke { background-position: 0 86.666667%; background-size: 100%; }
.yale { background-position: 0 93.333333%; background-size: 100%; }
.skil { background-position: 0 100%; background-size: 100%; }

.banner-slider-bot1-2, .banner-slider-bot2-2, .banner-slider-bot3-2
{ max-width: 100%; background-size: 100%; background-image: url('../img/sprites/bannersHome.png'); }

.banner-slider-bot1-2 { background-position: 0 0%; background-size: 100%; }
.banner-slider-bot2-2 { background-position: 0 50%; background-size: 100%; }
.banner-slider-bot3-2 { background-position: 0 100%; background-size: 100%; }

.contenido-actualizar-registro fieldset{
  margin-bottom: 10px;
}

.confirmacion-actualizar-registro{
  padding-left: 40px;
}

.contenido-actualizar-registro .border-right:after{
  content: "";
  width: 1px;
  height: 90%;
  background: #ddd;
  position: absolute;
  top: 35px;
  right: -23px;
  display: none;
}

.contenido-actualizar-registro .acepto-terminos{
  margin-bottom: 20px;
}

.contenido-actualizar-registro .recibir-promociones label{
  padding: 0 15px 0 2px;
}

.contenido-actualizar-registro .msj-obligatorios{
  font-size: 12px;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 15px;
}

.contenido-actualizar-registro .input-group-addon.nacim {
  cursor: pointer;
  min-width: 20px;
}

.contenido-actualizar-registro #actualizacion-usuario .nav-pills > li > a {
  border-left: 1px solid #f5f5f5;
  border-radius: 4px 4px 0 0;
  border-right: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;
  color: #555;
  font-size: 14px;
  font-weight: 600;
}

.contenido-actualizar-registro #actualizacion-usuario .nav-pills > li.active > a {
  color: #fff;
}

.contenido-actualizar-registro #actualizacion-usuario .tab-content {
  padding : 5px 15px;
}

.contenido-actualizar-registro .tab-content.actualizar-registro {
  border: 1px solid #CCCCCC;
  padding: 25px 20px 0 !important;
  border-top: none;
}

.contenido-actualizar-registro .help-block {
  font-size: 11px;
  position: relative;
  top: -12px;
}

.contenido-actualizar-registro button[type="submit"]:disabled {
  background-color: #CCC !important;
  border: 1px solid #CCC !important;
}
div[uib-modal-window="modal-window"]
  .modal-content
    border none;

.squeare-button
  border-radius: initial;

.product-add .btn-actions button.btn
  font-size 14px;

.new-items-slider .item-price-container .item-price,
.purchased-items-slider .item-price-container .item-price,
.most-selled-items-slider .item-price-container .item-price
  text-align: right;

.sidebar h4 span.btn-default.glyphicon
  font-size: 10px;
  margin: 2px 7px 0 0;

.precanasta-cantidad label {
  padding-top: 7px;
  font-weight: 600;
}
.canasta-pedido span.titulo-table-pedido {
  font-size: 15px;
  font-weight: 600;
}
.canasta-pedido .table .table-title {
  color: #565656 !important;
  font: 400 14px/22px "Open sans",sans-serif;
  text-transform: none;
  padding: 10px 15px;
  background: #fafafa !important;
}
.canasta-pedido .table thead tr th{
  border-right: 1px solid #e0e0e0 !important;
  border-bottom: 1px solid #e0e0e0 !important;
}

.listado .precio-producto-box
  padding-right: 90px;
  position: relative;
  .boton-acciones-producto
    position: absolute;
    right: -30px;
    top: 0;

.content-modal-margin
  margin-bottom: 1.2em;

.vista-3 .precio-productos-item
  min-height: 40px;

.container-discount-table
  top: 5px !important;
  left: 0px !important;
  .popover-discount
    left: -1.4em;
    top: -11em;
.alter-container-discount-table
  position: static !important;
  display: inline-block;
  vertical-align: middle;
  .popover-discount
    left: -1em;
    top: -11em;
.initial-overflow
  overflow: initial;
.dropdown-reverse
  right: 0;
  left: initial;
#resumen-pedido .resumen-producto img
  max-width: 100%;
.cart-button-2 .dropdown-cart-menu-container .dropdown-toggle
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  font-size 0.9em;
  .cart-menu-icon
    display: none;


.confirmation-order
  table
    border none !important
    td
      border none !important
@media print
  body
    -webkit-print-color-adjust:exact;
    print-color-adjust:exact;
  .container-detail-order
    width: 100%;
    padding: 0 20px;
  .total-detail-table
    padding-left: 0px !important;
  .whatsapp-icon
    display:none !important;


.whatsapp
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  left: 30px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 1000;

.whatsapp-icon
  margin-top:13px;

.singleLine th
  white-space: nowrap !important;
  overflow: hidden !important;